<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a href="http://www.snob.ru/?le=026"><span style="text-decoration: none;"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" /></span></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=026"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a href="http://www.snob.ru/magazine/entry/17730/?le=026"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;">Чем Гитлер хуже Сталина?</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="text-decoration: underline;"><span style="color: #0d4478;">Александр Гаррос</span></span></p>
<p><a href="http://www.snob.ru/magazine/entry/17730/?le=026"><img src="../i/templates/6ecb88b3384a15b1b4ac050d04e428c8.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Самая сокрушительная война XX века, ставшая самой крупной катастрофой за всю историю человечества, была войной двух тоталитарных империй, похожих друг на друга, как родные братья. От пропаганды до эстетики, от чудовищной практики концлагерей и массовых репрессий до богоподобного статуса тиранов - по внешним признакам две системы были практически неотличимы. Как же получается, что десятилетия спустя глава одного из этих государств - общепризнанный преступник и массовый убийца, другой же для миллионов людей все еще если не мудрый вождь, то &laquo;эффективный менеджер&raquo; и без пяти минут &laquo;имя России&raquo;? Сможем ли мы когда-нибудь что-то с этим сделать? <a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/17730/?le=026">Читать дальше...</a></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы новых материалов журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=026"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>