<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62">
<p><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" width="660" height="70" /></p>
</td>
</tr>
<tr>
<td>
<h3 style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;">Здравствуйте, %first_name!</h3>
</td>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА &laquo;СНОБ&raquo; ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000"><strong><span style="color: #ffffff;">3 августа</span></strong></td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/08c57b9eba5b78563a01c3f91c889ee6.google" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>3 августа, 20:00,&nbsp;клуб</strong><strong> "Чайная высота"</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Концерт&nbsp; мастера ситара Анатолия Попова</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Клуб "Чайная высота" приглашает участников проекта на концерт ситара и чаепитие.&nbsp; Успейте заказать билет&nbsp; - их всего 20 и только&nbsp;для участников клуба "Сноб".&nbsp; Специально к концерту припасены три индийских сорта чайного мороженого: &laquo;Гулабджамуновка&raquo;, &laquo;Индийское сорбэ&raquo; с расгуллой и &laquo;Роза-масала&raquo;.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/21866/blog/38833" target="_blank">Забронировать билет</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">8&nbsp;августа</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/5a44301e7bebb2f8f9a6f63d71cd55c8.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>8&nbsp;августа, 18:15, Нью-Йорк, Центр Барышникова</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Читка пьесы "Три сестры"</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Аня Мигдал приглашает&nbsp;участников проекта&nbsp;в Центр Барышникова посмотреть новое прочтение&nbsp;известной&nbsp;пьесы Чехова.&nbsp;Гостем вечера будет Татьяна Толстая - она работает&nbsp; сейчас над переводом "Трех сестер" для этой труппы.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/9240/blog/38804" target="_blank">Забронировать место</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">6 - 18 августа</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/9aa34da03d1f2d10ad61f08a3cf4530b.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>6 - 18 августа,&nbsp;&nbsp;Иркутск <br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Поездка на о. Ольхон</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Игорь Уткин приглашает участников проекта в большое путешествие с круизом&nbsp; по маршруту Москва &ndash; Иркутск &ndash; о. Ольхон &ndash; Северный Байкал &ndash; Иркутск &ndash; Москва.&nbsp; По его словам, такое путешествие&nbsp; &ndash;&nbsp;&nbsp;верный способ вспомнить&nbsp;забытые ощущения единения человека и природы,&nbsp; и кратчайший путь к счастью под хрустально-прозрачным звездным небом.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/5667/blog/38261?commentId=370702" target="_blank">Откликнуться на приглашение</a><strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить,<br />чтобы мы могли зарезервировать ваши билеты и приглашения, как можно <br />скорее, </span><span style="font-family: Arial;">по электронной почте </span><a style="font-size: medium; text-decoration:none; color: #e4e4e4;" href="mailto:member@snob.ru"><strong>member@snob.ru</strong></a></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><br /></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;">Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;">119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span><span style="color: #000000;">Служба поддержки:</span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>