<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 722px; height: 2669px; position: relative;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;" width="40" height="30"><br /></td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="width: 146px;" width="146">&nbsp;</td>
<td style="width: 24px;" width="24">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="44"><br /></td>
<td style="width: 264px;" width="264"><br /></td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="padding: 0pt; position: relative; vertical-align: bottom; width: 170px; height: 136px; text-align: left;" colspan="2" rowspan="2" width="170" height="136" align="left" valign="bottom">
<div style="position: absolute; left: -1px;">%user_card</div>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="92"><br /></td>
<td style="border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 264px; height: 423px;" rowspan="2" width="264" height="423" valign="top">
<p style="top: 0pt; left: 0pt;"><img src="../i/templates/2fd5701840fec74a48fe71b3a0656070.jpg" alt="" /></p>
</td>
<td style="border-top: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 266px; font-family: Georgia;" width="266" valign="top">
<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br />%first_name!</p>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40">&nbsp;</td>
<td style="border-bottom: 1px solid #d5d5d5; margin: 0px; padding: 0pt 1px 0pt 0pt; font-weight: bold; font-size: 10pt; vertical-align: top; width: 412px; line-height: 1em; font-family: Georgia; height: 331px;" colspan="2" width="412" height="331" valign="top">
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Мы приглашаем Вас присоединиться к мероприятиям программы Premium ближайшей недели:</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">С <strong>11 по 18 сентября</strong> в Москве пройдет V Международный фестиваль-школа актуального искусства <strong>&laquo;Территория&raquo;</strong>, о его программе на сайте рассказал один из идеологов фестиваля режиссер <a href="http://www.snob.ru/selected/entry/23356">Кирилл Серебренников</a>.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>12 и 13 сентября</strong> в 19. 00 мы приглашаем Вас на <strong>спекталь &laquo;Гамлет&raquo;</strong> Томаса Остермайера в &laquo;Театре Наций&raquo;, который стал открытием театрального фестиваля в Авиньоне. Спектакль длинный, сильный и сложный. Мы рекомендуем его подготовленным театралам. Томас Остермайер - ведущий европейский режиссер-бунтарь, и другой возможности увидеть эти спектакли, возможно не будет.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>15 сентября</strong> в 19.00 в Центре им. Мейерхольда состоится спектакль <strong>&laquo;Карл Маркс - Капитал. Часть 1&raquo;</strong> знаменитой группы <strong>&laquo;Римини-Протокол&raquo; </strong>которая работает в технике Вербатим, когда драматургическая основа и сам спектакль создается на документальном материале.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>15 сентября</strong> 19.00 спектакль <strong>&laquo;Ад на земле&raquo;</strong> режиссера-хореографа Констанцы Макрас в Театриуме на Серпуховке. Это сложная и интересная танцевальная работа, которая языком танца рассказывает о живущих в городе людях разной сексуальной и национальной идентичности и о том, как им приходится взаимодействовать.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>15 сентября</strong> в 20.00 в "Крокус-Сити Холле" состоится <strong>концерт Стинга</strong> в рамках мирового турне &laquo;Symphonicity&raquo;. Тур стартовал 2 июня 2010 года в Ванкувере и сопровождается аншлагами, в том числе и в знаменитом зале Метрополитан опера. Вместе со знаменитым лондонским Королевским Филармоническим Концертным оркестром под управлением Стивена Меркурио он исполнит как свои лучшие композиции так  и всемирно известные хиты из репертуара группы The Police .</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Особенностью московского концерта станет наличие фан-зоны, которая позволит сохранить атмосферу рок-концерта, важную для артиста. Мы предлагаем участникам проекта и программы Premium присоединиться к нашему походу на концерт, выкупив билет <strong>в фан-зону</strong> по специальной цене <strong> 5 000 рублей</strong>.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>13 сентября</strong> блог &laquo;Культура&raquo; приглашает участников проекта на <strong>генеральную репетицию </strong>балетного спектакля Большого <strong>театра &laquo;Creation&raquo; Анжелена Прельжокажа</strong> . В основе постановки &laquo;Откровение Иоанна Богослова&raquo;. Прельжокаж - один из провокационных хореографов балансирующий между строгой классической техникой и стилистикой contemporary dance. Смешанная русско-французская труппа, на сцене флаги, настоящая вода, артисты танцуют босиком в режиме постоянной импровизации. Спектакли Прельжокажа никого не оставляют равнодушным. Эта работа, похоже, тоже будет спорной, но очень значимой.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">В следующий уикэнд <strong>17-18 сентября</strong> в Moscow Capital City c 15.00 до 21.00 состоится большое <strong>шоу Whisky Live</strong>, на которое для участников программы Premium есть сто билетов. Представители производителей, бренд-амбассадоры впредставят в России виски-культуру и всего того, что с этим связано: искусство дегустации, купажирования, соложения, миксологии и др. Если Вас интересуют мастер-классы и лекции, напишите нам - мы вышлем Вам программу.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Ведущий блога &laquo;Еда и алкоголь&raquo; <a href="http://www.snob.ru/profile/about/5941">Александр Гаврилов</a> рекомендует <strong>две лекции</strong>: Бориса Родионова, который будет рассказывать, чем русская водка родственна кельтскому виски (это в пятницу, 17 сентября, в 15.00) и Игоря Сердюка про виски с винным послевкусием (в субботу в 17.30).</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить, чтобы мы могли зарезервировать ваши билеты и приглашения, как можно скорее по телефону +<em> 7 916 915 18 32</em> или по электронной почте <a href="http://mce_host/templet/premium@snob.ru "><strong>premium@snob.ru</strong></a></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Количество мест и билетов ограничено.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">&nbsp;</p>
<p><em></em></p>
</td>
<td style="padding: 0pt; vertical-align: top; width: 24px; border-left: 1px solid #d5d5d5;" width="24" valign="top">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 724px; height: 353px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">
<p>С уважением,<br />Анета Галина,<br />редактор отдела специальных проектов</p>
</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top"><strong>Служба поддержки клуба:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30,&nbsp;e-mail:&nbsp;<a style="color: #c3171c;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a>
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="color: black; font-size: 11px;" href="http://www.snob.ru">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>