<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 626px; height: 98px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p>Проект &laquo;Сноб&raquo; приглашает на лекцию Дмитрия Зимина<br /><br />Основатель бренда &laquo;Билайн&raquo; и холдинга &laquo;ВымпелКом&raquo; расскажет о &laquo;Некоторых эпизодах становления капитализма в России&raquo;. Дмитрий Зимин - один из немногих бизнесменов,  кого можно назвать великим</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/bd55e5915200f482f3324571afa18b23.jpg" alt="" /></p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px; color: #b90505;"><strong></strong></span></p>
<table style="width: 630px; height: 408px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Доктор технических наук Дмитрий Зимин в начале 90-х совершил технологическую революцию. Ученый смог отобрать у военных и правительства сотовую связь, а все население страны приучил к тому, что связь не бывает бесплатной. Первый телефонный разговор по &laquo;свободной&raquo; сотовой сети состоялся 12 июля 1992 года, а уже 15 ноября 1996 года Дмитрий Зимин вывел свою компанию на Нью-Йоркскую биржу - первым в современной России.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Он единственный из российских бизнесменов по доброй воле покинул пост генерального директора - передал управление компанией наемным менеджерам. На свой личный капитал он открыл семейный фонд &laquo;Династия&raquo;, который занимается поддержкой фундаментальной российской науки и образования и популяризацией научных знаний в обществе. &laquo;Почти все деньги, заработанные в бизнесе, я отдал на развитие учрежденного мною благотворительного фонда "Династия", премии "Просветитель" за лучшие научно-популярные книги, сайта для интересующихся наукой "Элементы", фонда "Московское время". Для меня теперь наблюдать за тем, как на мои деньги развивается благотворительность, столь же интересно, как в более молодые годы зарабатывать азартным бизнесом. Думаю, что такой жизненный путь не оригинален, так же делают или будут делать почти все более или менее крупные бизнесмены&raquo;.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 22px; line-height: 26px; color: #b90505;"><strong>М</strong><strong>ы можем пригласить на лекцию 50 первых подписчиков, кто свяжется с нами по электронной почте <a href="mailto:snob@snob.ru">snob@snob.ru</a>.</strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Д</strong><strong style="color: #b90505;"><span style="color: #b90505;">ата</span>:</strong> 9 февраля (вторник)<br /></span></span></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Мест</strong><strong style="color: #b90505;"><span style="color: #b90505;">о проведения</span>:</strong> Ресторан &laquo;2 этаж&raquo;</span></span></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;"><span style="color: #b90505;">Адрес</span>:</strong> г. Москва, Плотников переулок, дом 15</span></span></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Сбор гостей</strong> к 19.00, начало лекции в 19.30</span></span></p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>