<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=017" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=017"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a href="http://www.snob.ru/magazine/entry/14051/?le=017"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;">Невечная память</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Маша Гессен</span></p>
<p><a href="http://www.snob.ru/magazine/entry/14051/?le=017"><img src="../i/templates/97807e181ef6d8b114f144cda4daf8f0.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Мы привыкли думать, что наша память устроена, как книга: вспоминая что-то, мы как будто открываем ее на нужной странице и видим текст - со временем он может потускнеть или вообще исчезнуть, но, пока он есть, содержание его не меняется от случая к случаю. Недавние исследования, однако, доказывают: все не так, в реальности наши воспоминания постоянно видоизменяются, трансформируются и пополняются новыми деталями. Как выяснилось, возможно даже создавать новые воспоминания, подменяя ими прежние. Правда ли то, что вы помните? <a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/14051/?le=017">Читать дальше...</a></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы новых материалов журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=017"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>