<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Уважаем[[ый|ая]] %first_name,</span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">нам очень приятно Ваше участие в дискуссиях на сайте <a href="Snob.ru">Snob.ru</a>.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Просим Вас загрузить в личном кабинете на сайте свою узнаваемую фотографию. Напоминаем, что, согласно <a href="http://www.snob.ru/basement/term">условиям использования сайта</a>, участник проекта &laquo;Сноб&raquo; может быть лишен дискуссионных преимуществ, описанных в <a href="http://www.snob.ru/basement/term">условиях</a>, если в его профиле отсутствует фотография.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Сам принцип сайта <a href="http://www.snob.ru/">Snob.ru</a> таков, что все участники проекта понимают, с кем они разговаривают - видят реальное имя и лицо собеседника. Благодаря этому нам удается держать качество дискуссий на должном уровне.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Для загрузки фотографии, пожалуйста, перейдите на страницу <a href="http://www.snob.ru/profile/about/">http://www.snob.ru/profile/about/</a>, введите Ваши логин и пароль, если у Вас не включена автоматическая авторизация, а затем воспользуйтесь ссылкой &laquo;Загрузить фотографию&raquo; рядом с логотипом сайта.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Если у Вас возникнут проблемы с загрузкой фотографии, пожалуйста, сообщите нам об этом или просто отправьте свою фотографию на адрес <a href="mailto:snob@snob.ru">snob@snob.ru</a>, мы обязательно поможем.<br /> <br />Надеемся на понимание.</p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px; color: #000000;"><strong>Служба поддержки:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>