<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаем[[ый|ая]] %first_name!</strong><strong></strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;">Ответы на 16 вопросов, которые были в нашем прошлом письме, Вы можете отправлять на адрес snob@snob.ru. В письме с анкетой мы, к сожалению, его не указали.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;"><br /><br />Будем рады вашему письму.<strong></strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;"><strong><br /></strong></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>