<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаем[[ый|ая]] %first_name!</strong><strong></strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;"><strong>Мы очень стараемся, чтобы проект &laquo;Сноб&raquo; как можно лучше соответствовал интересам, вкусам, целям и запросам своих участников. Поэтому нам, конечно, очень дорого Ваше мнение о проекте. Пожалуйста, поделитесь им с нами? Для Вашего удобства мы подготовили несколько вопросов, но вы можете просто перейти к пункту 16 и рассказать нам о своих впечатлениях и пожеланиях в любой удобной для вас форме. А мы, в свою очередь, поблагодарим вас подарком за вашу помощь. Как вам такая идея? </strong></p>
<p>Итак:</p>
<p>1.	Я участвую в проекте &laquo;Сноб&raquo; потому, что...<br />2.	Мне интереснее всего те участники проекта, которые...<br />3.	Из всех прочитанных материалов &laquo;Сноба&raquo; (журнала или сайта) мне больше всего понравился... <br />4.	Из всех прочитанных материалов &laquo;Сноба&raquo; (журнала или сайта) мне меньше всего понравился... <br />5.	Я бы хотел чаще читать вот этих авторов: ...<br />6.	Я бы хотел чаще читать материалы о...<br />7.	Мне понравились дискуссии о....<br />8.	Мне не понравились дискуссии о....<br />9.	Я готов присоединиться к дискуссии, если... <br />10.	Я избегаю участия в дискуссии, если... <br />11.	Я бы пользовался сайтом &laquo;Сноба&raquo; еще больше, если бы... <br />12.	Я бы читал материалы сайта еще чаще, если бы...<br />13.	Я бы читал журнал &laquo;Сноб&raquo; еще чаще, если бы...<br />14.	Я бы хотел спросить тех, кто делает проект &laquo;Сноб&raquo;, вот о чем:...<br />15.	Я бы хотел, чтобы &laquo;Сноб&raquo;...<br />16.	Хочу сказать, что...</p>
<p>Ваше мнение очень важно для нас. Большое спасибо, что Вы согласились им поделиться. А мы свяжемся с Вами  в самое ближайшее время, чтобы передать вам подарок в знак нашей благодарности.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">Всегда Ваш, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>