<table style="width: 630px; height: 126px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong>%first_name, здравствуйте!</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Спасибо, что пришли на показ фильма "Девушка с татуировкой дракона". Приходите обсуждать фильм на страницу <a href="http://www.snob.ru/thread/198#entry_44656">http://www.snob.ru/thread/198#entry_44656.</a></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />Катя Ольхова <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>