<table style="margin: 0pt; padding: 0pt; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;" width="40" height="30"><br /></td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="width: 146px;" width="146">&nbsp;</td>
<td style="width: 24px;" width="24">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="44">&nbsp;</td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="padding: 0pt; vertical-align: bottom; width: 170px; height: 136px; text-align: left;" colspan="2" rowspan="2" width="170" height="136" align="left" valign="bottom">%user_card</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="92">&nbsp;</td>
<td style="border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 264px; height: 423px;" rowspan="2" width="264" height="423" valign="top"><img src="../i/templates/cf669a8e292deeed18f5a6c5a29d8ebd.jpg" alt="" /><br /></td>
<td style="border-top: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 266px; font-family: Georgia;" width="266" valign="top">
<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br />%first_name!</p>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40">&nbsp;</td>
<td style="border-bottom: 1px solid #d5d5d5; margin: 0px; padding: 0pt 1px 0pt 0pt; font-weight: bold; font-size: 10pt; vertical-align: top; width: 412px; line-height: 1em; font-family: Georgia; height: 331px;" colspan="2" width="412" height="331" valign="top">
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">В субботу, 14 ноября, клуб &laquo;Сноб&raquo; и Александр Вайнштейн приглашают вас посмотреть первый стыковой матч <strong>Россия - Словения</strong> за выход на чемпионат мира-2010</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">В последнем отборочном матче российской команде не повезло.&nbsp;Но те, кто по приглашению клуба &laquo;Сноб&raquo; пришел в ресторан &laquo;2-й этаж&raquo;, <a href="http://www.snob.ru/chronicle/entry/7473">получили удовольствие</a> от зрелищной игры. Мы приглашаем вас продолжить эту традицию и посмотреть первую стыковую игру со сборной Словении в компании клуба &laquo;Сноб&raquo; и Александра Вайнштейна - если вы не купили билеты на стадион.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Скучно не будет. Гус Хиддинк считает словенцев сильным соперником, который мечтает попасть на чемпионат мира в ЮАР не меньше россиян.&nbsp;</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Приходите с друзьями, с любимыми, с детьми.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">За игрой можно будет наблюдать в зале с большим экраном, под пиво и громкие крики, а также в отдельной гостиной, без шума и сигаретного дыма.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Дата: 14 ноября 2009 года</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Место проведения: Ресторан &laquo;2 этаж&raquo;,</p>
<p style="margin: 0px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Адрес: г. Москва, Плотников переулок, дом 15</p>
<p style="margin: 0px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Схема проезда: в приложении</p>
<p style="margin: 0px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">&nbsp;</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Сбор гостей:&nbsp; к 18.30, начало матча в 19.00</p>
<p style="margin: 28px; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Если вы хотите посетить это событие, просьба зарегистрироваться, ответив на это письмо или связавшись со своим лиазоном.</p>
</td>
<td style="padding: 0pt; vertical-align: top; width: 24px;" width="24" valign="top"><img src="../i/templates/border.png" alt="" width="1" height="590" /><br /></td>
</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">
<p>С уважением,<br />Анета Галина,<br />редактор отдела специальных проектов<br /><br /><a style="color: #c3171c;" href="mailto:nzueva@snob.ru" target="_blank">agalina@snob.ru</a><br /><br />моб. 8(916)9151832</p>
</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top"><strong><br /></strong><a style="color: #c3171c;" href="mailto:podpiska@snob.ru"></a>
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="color: black; font-size: 11px;" href="http://www.snob.ru">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>