<p style="line-height: 30px; font-family: Georgia,Times New Roman,Times,serif; font-size: 30px;">%first_name, здравствуйте!</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/e9d86ca4f01591353d83cf5b21b931e6.jpg" alt="" width="511" height="80" /></p>
<p style="margin: 0pt; padding: 0pt;">&nbsp;</p>
<p><img src="../i/templates/9e39e8300895e2b923d616aed63d6b2d.jpg" alt="" /></p>
<table style="width: 594px; height: 249px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px; color: #000000;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 24px; color: #bd1313;"><strong style="font-size: 24px;">С Новым годом!</strong></p>
<p>Проект &laquo;Сноб&raquo; поздравляет Вас с Новым годом и желает всего самого лучшего!</p>
<p><strong>В этом году мы дарим Вам возможность пообещать себе то, что обязательно сможете исполнить. А сделать это можно <a href="http://www.snob.ru/newyear/resolutions">вот здесь</a>. <br /></strong></p>
<p>Пообещайте себе сами то, чего хотите в Новом году.<br />Очень надеемся, что весь следующий год мы проведем вместе!</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 600px; height: 166px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки проекта:</strong></p>
<p style="font-size: 13px; line-height: 18px;">тел.&nbsp; +7 (495) 544 22 00 | +7 (800) 100 11 30<span style="color: #979797;"><br /></span></p>
<p style="font-size: 13px; line-height: 18px;">E-mail: <a style="color: #bd1313;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><br /></td>
</tr>
</tbody>
</table>