<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong>Уважаем[[ый|ая]] %first_name!</strong></p>
<p style="margin: 10pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong>Как участник программы Premium, в октябре Вы получите именную карту проекта &laquo;Сноб&raquo;.<br /></strong></p>
<p style="margin: 10pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">На карте будет указана Ваша фамилия, фотография, срок действия карты и уникальный номер. Карта будет кодирована магнитной полосой и штрих-кодом. Вы сможете использовать эту карту:</span></p>
<ul>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">для прохода на мероприятия в рамках программы Snob Events; </span></li>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">для получения особых привилегий в галереях, кинотеатрах, театрах и других местах в рамках программы Snob Access; </span></li>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">для получения бонусов, скидок и особых условий в кафе, ресторанах, магазинах, клубах и других местах, включенных в программу Snob Benefit.<br /></span></li>
</ul>
<p style="margin: 10pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Подробнее о программе Premium и ее возможностях Вы можете узнать на сайте проекта &laquo;Сноб&raquo;:<a href=" http://snob.ru/premium"> http://snob.ru/premium.</a></span></p>
<p style="margin: 10pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Карта будет выглядеть вот так:</span></p>
<p style="margin: 10pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><img src="../i/templates/aa8bd43e7d8497e418503f19ee697b78.JPG" alt="" width="368" height="473" /><br /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Для того чтобы напечатать Вашу карту, нам потребуется Ваша фотография.&nbsp;&nbsp;&nbsp;&nbsp; К ней у нас есть целых пять специальных требований:<br /></span></p>
<ol>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Фотография должна Вам нравиться.</span></li>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Фотография должна быть цветная.</span></li>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Фотография должна быть большая (не менее двух мегабайт в формате jpeg).</span></li>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">На фотографии у Вас должны быть полностью видны и голова, и плечи. Если сомневаетесь, пришлите нам посмотреть, мы быстро ответим, подходит или нет.</span></li>
<li><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">И наконец, Вы должны быть сняты на светлом однородном фоне. </span></li>
</ol>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Пожалуйста, пришлите нам ее до пятницы на адрес <a href="mailto:premium@snob.ru">premium@snob.ru</a>. Мы хотим узнавать Вас при встрече.</span></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> программа &laquo;Премиум&raquo;</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>