<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 30px; line-height: 30px;">%first_name %last_name!</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">В четверг (15 октября 2009 года) на сайте <a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;" href="http://www.snob.ru/">Snob.ru</a> вы сможете побеседовать с членом клуба &laquo;Сноб&raquo;, бизнесменом Вадимом Дымовым, который считает, что сельское хозяйство в России сейчас - это наиболее перспективный бизнес. Под Суздалем он начал строительство экологической фермы.</p>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/e99dda246a0931381ee8b23cd60baa36.jpg" alt="" /></p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Вадим Дымов, владелец колбасных заводов, сети ресторанов &laquo;Дымов №1&raquo; и книжных магазинов &laquo;Республика&raquo;, большой любитель современной английской рок-музыки и болельщик &laquo;Ливерпуля&raquo;, затевает новый проект: он решил построить под Суздалем ферму и производить там органические продукты. Как он сам говорит, &laquo;построю экологическую станцию имени себя&raquo;. Дымов считает, что сегодня в России сельское хозяйство - одно из самых перспективных направлений бизнеса.</p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 19px; color: #b90505;"><strong><span style="font-family: georgia,palatino;"><span style="color: #bd1313;">В четверг в течение дня Вадим Дымов будет отвечать на вопросы членов клуба и подписчиков проекта &laquo;Сноб&raquo;.</span></span></strong></p>
<p>&nbsp;</p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>