<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 626px; height: 84px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p>В четверг, 8 апреля, состоится открытие фотовыставки &laquo;Живые люди&raquo;, организованной проектом &laquo;Сноб&raquo; в рамках &laquo;Фотобиеннале-2010&raquo;. 50 участников проекта &laquo;Сноб&raquo; смогут посетить это мероприятие*.</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/c651f6b2971f6fa37d8e485bf0b9c333.jpg" alt="" /></p>
<table style="width: 630px; height: 408px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Игоря Ганжу знают как креативщика и директора агентства LHM, а Владимира Яковлева - как предпринимателя и главного редактора проекта &laquo;Сноб&raquo;. Но выставка &laquo;Живые люди&raquo;, проходящая в рамках Фотобиеннале-2010, позволяет увидеть Ганжу и Яковлева в новых для публики ипостасях портретных фотографов. За последние два года они сделали более ста портретов членов клуба &laquo;Сноб&raquo;. Из этих снимков тридцать восемь, - включая портреты Марка Гарбера, Эдуарда Боякова, Егора Кончаловского, Елены Яцуры, Анатолия Волкова, Алексея Германа, Юлии Рутберг, Дениса Симачева и других членов клуба, - были отобраны авторами для выставки &laquo;Живые люди&raquo;.</p>
В этот четверг, 8 апреля в ГУМе выставку официально откроет Ольга Свиблова, директор Московского Дома  Фотографии.
<p><em>* Пожалуйста, обратите внимание: количество гостей на мероприятии строго ограничено, поэтому мы, к сожалению, сможем официально пригласить к участию в открытии выставки &laquo;Живые люди&raquo; только 50 участников проекта &laquo;Сноб&raquo;. Если вы хотите оказаться в числе приглашенных, - пожалуйста, как можно скорее свяжитесь с нами:<br />	по телефонам +7 (495) 544-22-00 или +7 (800) 100-11-30 (бесплатно по России), либо<br />	по электронной почте: snob@snob.ru.<br />Мы будем рады внести вас в списки приглашенных и сообщить вам точное время и место открытия выставки. </em></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>