<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Уважаем[[ый|ая]] <br />%first_name!</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Ждем Вас на лекции Марата Гельмана в <strong style="color: #b90505;">субботу, 24 октября</strong>.<br /><strong style="color: #b90505;">Тема</strong>: Зачем мне нужна Пермь<br /><strong style="color: #b90505;">Место проведения</strong>: Галерея Марата Гельмана, ЦСИ &laquo;Винзавод&raquo;, 4-й Сыромятнический пер., д. 1, стр. 14 (6-й корпус)<br /><strong style="color: #b90505;">Сбор гостей</strong> к 17.00<br /><strong style="color: #b90505;">Контактный телефон</strong> в день мероприятия: + 7 (965) 377-85-90.<br />Если Вы не сможете посетить лекцию, пожалуйста, сообщите об этом заранее.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Пожалуйста, возьмите с собой карту подписчика и по возможности, распечатанное приглашение.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Будем рады видеть Вас.</p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>