<table style="margin: 0pt; padding: 0pt; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="60">&nbsp;</td>
<td style="padding: 0; vertical-align: top;" colspan="2" valign="top"><a href="http://snob.ru/community/entry/2363">%user_card</a></td>
</tr>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="60">&nbsp;</td>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #717171;" valign="top">С уважением,<br />Наталья Зуева<br />Менеджер отдела специальных проектов<br /><br /><a style="font-size:14px; font-family:Georgia; color: #c3171c;" href="mailto:nzueva@snob.ru">NZueva@snob.ru</a><br />моб. 8 916 910 30 05<br />+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17 | +7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" colspan="2" width="100" valign="top"><img src="../i/templates/logo.png" alt="Логотип" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 76px; vertical-align: top; font: 14/16px Georgia;" valign="top">
<p style="font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-size:11px; font-family:Georgia; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="3" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="60">&nbsp;</td>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 40px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia;" valign="top"><strong>Служба поддержки клуба:</strong>&nbsp;<span style="color: #717171;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span>,&nbsp;e-mail:&nbsp;<a style="font-size:14px; font-family:Georgia; color: #c3171c;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></td>
</tr>
</tbody>
</table>