<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Уважаем[[ый|ая]] <br />%first_name!</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Ждем Вас на предпремьерном показе фильма "Серьезный человек" братьев Коэнов <strong style="color: #b90505;">сегодня, 19 февраля</strong>.<br /><strong style="color: #b90505;">Место проведения</strong>: кинотеатр &laquo;Пионер&raquo;, Кутузовский проспект, 21г<br /><strong style="color: #b90505;">Сбор гостей</strong> к 20.00, начало фильма в 20.30<br /><strong style="color: #b90505;">Контактный телефон</strong> в день мероприятия: + 7 (965) 377-85-90.<br />Если Вы не сможете посетить мероприятие, пожалуйста, сообщите об этом заранее.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Пожалуйста, возьмите с собой карту подписчика и по возможности, распечатанное приглашение.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Будем рады видеть Вас.</p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>