<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 635px; height: 950px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;" width="40" height="30"><br /></td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="width: 146px;" width="146">&nbsp;</td>
<td style="width: 24px;" width="24">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="44">&nbsp;</td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="padding: 0pt; vertical-align: bottom; width: 170px; height: 136px; text-align: left;" colspan="2" rowspan="2" width="170" height="136" align="left" valign="bottom">%user_card</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="92">&nbsp;</td>
<td style="border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 264px; height: 423px;" rowspan="2" width="264" height="423" valign="top"><img src="../i/templates/b87e5f23674d7c0d97c18f5b1f7a4824.jpg" alt="" /></td>
<td style="border-top: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 266px; font-family: Georgia;" width="266" valign="top">
<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br />%first_name!</p>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40">&nbsp;</td>
<td style="border-bottom: 1px solid #d5d5d5; margin: 0px; padding: 0pt 1px 0pt 0pt; font-weight: bold; font-size: 10pt; vertical-align: top; width: 412px; line-height: 1em; font-family: Georgia; height: 331px;" colspan="2" width="412" height="331" valign="top">
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">В четверг, 1 апреля, клуб "Сноб" приглашает Вас на единственный показ фильма  Кэтрин Коллинз <strong>&laquo;VLAST/Power&raquo;</strong> о Михаиле Ходорковском.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong> </strong>Премьера документальной картины &laquo;Власть&raquo; (Power) <a href="http://www.snob.ru/chronicle/entry/13681">прошла в нью-йоркском МОМА в конце февраля.</a> Трудно надеяться на то, что фильм выйдет в России в официальный прокат, поэтому проект &laquo;Сноб&raquo; попросил Кэтрин Коллинз приехать самой и привезти копию. Она согласилась, но, как говорит, не без страха.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">&laquo;Если бы я не боялась, это бы означало, что надежда одержала победу над опытом. К сожалению, одним из первых телефонных номеров, который мне дали в конце 2006 года, когда я вплотную занялась проектом, был номер Анны Политковской. Тот факт, что, когда я собралась ей позвонить, она была уже мертва, до сих пор приводит меня в замешательство. Я прихожу в замешательство, когда в местном кафе встречаю своего старого друга, вдову Пола Хлебникова. Я прихожу в замешательство, когда мои друзья, которые живут и работают в России, говорят, что теперь, когда фильм вышел, я ни при каких обстоятельствах не должна приезжать в Россию. Да, я бесконечно счастлива, что еду в Москву и буду показывать там свой фильм. И я бесконечно благодарна проекту "Сноб" за то, что он сделал это возможным. Вне всяких сомнений&raquo;.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Дата: 1 апреля 2010 года</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Место проведения: кинотеатр &laquo;Фитиль&raquo;.</p>
<p style="margin: 0px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Адрес: г. Москва, Фрунзенская наб., 12.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Сбор гостей: к 19.30, начало в 20.00</p>
<p style="margin: 28px; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Фильм длится 1 час 28 минут, по традиции после его завершения состоится дискуссия с создателями фильма.</p>
<p style="margin: 28px; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><em>Если вы хотите посетить это cобытие, просьба зарегистрироваться, ответив на это письмо или связавшись со своим лиазоном.&nbsp;</em></p>
<p>&nbsp;</p>
<p><em></em></p>
</td>
<td style="padding: 0pt; vertical-align: top; width: 24px;" width="24" valign="top"><img src="../i/templates/border.png" alt="" width="1" height="940" /><br /></td>
</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">
<p>С уважением,<br />Анета Галина,<br />редактор отдела специальных проектов<br /><br /><a style="color: #c3171c;" href="mailto:nzueva@snob.ru" target="_blank">Agalina@snob.ru</a><br /><br />моб. 8(916)9151832</p>
</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top"><strong>Служба поддержки клуба:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30,&nbsp;e-mail:&nbsp;<a style="color: #c3171c;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a>
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="color: black; font-size: 11px;" href="http://www.snob.ru">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>