<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name </strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%last_name</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p style="margin: 2pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"><img src="../i/templates/5f141c4958ec3a06be41c65651c39845.jpg" alt="" /><br /></strong></p>
<p>Мы очень рады, что вы стали участником международного проекта &laquo;Сноб&raquo; в рамках нашей особой акции для жителей США. Желающих ознакомиться с журналом "Сноб" оказалось даже больше, чем мы надеялись, - и даже больше, чем копий ноябрьского журнала "Сноб"! Но мы непременно предоставим Вам следующие три номера журнала: декабрьский/январский (сдвоенный литературный номер), февральский, мартовский. Мы очень надеемся, что Вы примете наши извинения, простите за причиненное неудобство. <br />Ваш доступ к онлайн-версии журнала (до середины апреля 2011 года):</p>
<p>%login<br /> %password</p>
<p>Пожалуйста, свяжитесь с нами, если у Вас есть любые вопросы, пожелания, предложения и комментарии, - по адресу <a href="mailto:podpiska@snob.ru">podpiska@snob.ru</a>.</p>
<p>Спасибо, что Вы с нами.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">международный проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>