<table style="width: 830px; height: 447px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%first_name, добрый день</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"><img src="../i/templates/c745e4dc086694ef6efb2255957f4c74.jpg" alt="" /><br /></strong></p>
<p>Мы рады пригласить Вас на уже второе мероприятие проекта &laquo;Сноб&raquo; в Лондоне - <a href="http://www.snob.ru/thread/21#entry_35508">показ фильма Сергея Ливнева &laquo;ПираМММида&raquo;.</a></p>
<p>Фильм снят по книге основателя самой грандиозной финансовой пирамиды в истории России Сергея Мавроди. Это один из немногих фильмов про Россию в самом начале 90х годов.</p>
<p>Мы приглашаем Вас посмотреть фильм вместе с нами, а затем побеседовать с продюсером фильма, Сергеем Ливневым, 26 мая в 20.00 в кинотеатре Curzon Mayfair по адресу 38 Curzon Street, London, W1J 7TY.</p>
<p>Забронировать билет и оплатить участие Вы можете на сайте <a href="http://pirammmida.eventbrite.com/">http://pirammmida.eventbrite.com/.</a> Стоимость билета - <span class="notranslate">&pound;27.15.</span></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>