<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p>Нам очень приятно, что Вы приняли участие в программе Premium проекта &laquo;Сноб&raquo;. Нам хотелось бы продолжить наше сотрудничество: Вас не затруднит ответить на три наших вопроса? А мы будем рады бесплатно предоставить Вам месяц участия в программе Premium и уникальные скидки на дальнейшее продление.</p>
<p>Пожалуйста, отвечайте на вопросы так, как Вам удобно: в любом порядке, подробно или коротко. Ваши ответы очень важны нам, и мы заранее благодарны Вам за то, что Вы поделитесь с нами своими замечаниями и соображениями.</p>
<p>Итак:</p>
<p>1. Что в работе программы Premium показалось Вам наиболее удачным, заинтересовало больше всего лично Вас?</p>
<p>2. Чего Вам не хватало? Какие события, темы, форматы Вам хотелось бы увидеть в рамках программы?</p>
<p>3. Что было важными факторами для принятия Вами решения о продлении/не продлении участия в программе Premium?</p>
<p>&nbsp;</p>
<p>Заранее спасибо Вам за ответы. И не забывайте про скидки: если Вы примете решение о продлении не позже 18 марта, мы предоставим Вам:</p>
<p>- Скидку в 10% - при продлении участия на 6 месяцев;<br />- Скидку в 15% - при продлении участия на 12 месяцев.</p>
<p>До встречи на мероприятиях!</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>