<table style="width: 830px; height: 300px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=028" target="_blank"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">&nbsp;</p>
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">&nbsp;</p>
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=028"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего, июньского номера журнала</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 45px; padding: 0px; margin: 36px 0px 0px;"><a href="http://www.snob.ru/magazine/entry/19434/?le=028"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px; color: #bd1313;">Загранкомандировка Петра Налича</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Елена Егерева</span></p>
<p><a href="http://www.snob.ru/magazine/entry/19434/?le=028"><img src="../i/templates/a4b6f01e18c013c27d46639075736b79.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Самый &laquo;свой&raquo; из российских музыкантов съездил на самый &laquo;чужой&raquo; из музыкальных конкурсов мира. Группа <a href="http://www.snob.ru/profile/about/5148/?le=028">Петра Налича</a> неожиданно прошла в финал Евровидения, чтобы затем занять неприметное одиннадцатое место. Но в процессе сам Налич пережил удивительные метаморфозы - и, похоже, странным образом изменил сам конкурс. <a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/19434/?le=028">Читать дальше...</a></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы новых материалов журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=028"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>