<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;"><br /></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Дорогие участники проекта &laquo;Сноб&raquo;!</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0d4478;"><img src="../i/templates/dbe2a42d8543aaea2a26c2e5e044197e.jpg" alt="" /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0f0101;"><span style="color: #0f0101;">Завтра, 29 апреля, треть населения земного шара будет следить за главным, пожалуй, событием в современной истории европейских монархий - свадьбой будущего британского короля, а пока что принца Уильяма и Кейт Миддлтон, которой предстоит стать первой королевой, не имеющей даже капли дворянской крови. </span></span></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0f0101;"><span style="color: #0f0101;">По Москве трансляция будет идти с некоторым опозданием, поэтому мы предлагаем присоединиться к нам на сайте <a href="http://www.snob.ru">www.snob.ru</a> - мы будем смотреть и комментировать прямую онлайн-трансляцию на канале <a href="http://www.youtube.com/user/TheRoyalChannel">http://www.youtube.com/user/TheRoyalChannel</a>, а редактор проекта &laquo;Сноб&raquo; в Лондоне Алексей Ковалев расскажет, что в этот день будет происходить в британской столице и чего не покажут в официальных новостях. Мы начинаем около полудня по Москве.</span></span></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Присоединяйтесь к нашей дискуссии! Мы будем ждать Вас в репортаже на сайте.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/09d4124b5e12bc69d89cb02859080365.jpg" alt="" /></td>
</tr>
</tbody>
</table>