<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">&laquo;Сноб&raquo; приглашает на презентацию сборника новейшей прозы &laquo;Все о моем отце&raquo;</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0d4478;"><img src="../i/templates/ffd8abb63a3650eca1d87318174b724a.jpg" alt="" /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Декабрьский, литературный номер журнала &laquo;Сноб&raquo; называется &laquo;Все о моем отце&raquo;. Ведущие современные прозаики и журналисты, среди которых Людмила Петрушевская, Тонино Гуэрра, Алена Долецкая, Эльфрида Элинек, Виктор Ерофеев <a href="http://www.snob.ru/selected/entry/27829 ">и другие</a> написали истории о своих отцах и вообще об отцовстве. Все произведения публикуются впервые или написаны специально для проекта &laquo;Сноб&raquo;.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Презентация этого номера пройдет на литературной ярмарке NonFiction, на ней покажут видеопроект &laquo;Чему меня научил мой отец&raquo;, снятый специально к выпуску номера. После чего мы хотели бы поговорить о семейной теме в современной русской литературе. Вести дискуссию будет Сергей Николаевич, ее участниками станут литературовед Александр Гаврилов, писатели Ольга Славникова и Александр Кабаков. В завершение презентации авторы специального литературного номера прочтут короткие отрывки из опубликованных произведений.</p>
<p><span style="color: #bd1313;">Дата</span><span style="color: #bd1313;">:</span> 3 декабря, в 17.00</p>
<p><span style="color: #bd1313;">Место:</span> центральный дом художника на Крымском валу, 2-й этаж, &laquo;Литературное кафе&raquo;.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">&nbsp;</p>
Если Вы предпочитаете не получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a href="mailto:snob@snob.ru">snob@snob.ru</a></td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>