<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;"><a style="text-decoration: none;" href="http://www.snob.ru/?le=019" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">На сайте <a href="http://www.snob.ru/?le=019"><span style="font-family: Georgia,Times New Roman,Times,serif; color: #c60505; font-size: 16px; text-decoration: underline;">snob.ru</span></a> появился новый материал <a style="color: #000000;" href="http://www.snob.ru/magazine/number/487/?le=019">журнала &laquo;Сноб&raquo;</a>.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><a href="http://www.snob.ru/magazine/entry/14585/?le=019"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 42px; color: #bd1313;">Размышления о праздности. От Салигии до Обломова</span></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><a href="http://www.snob.ru/magazine/entry/14585/?le=019"><img src="../i/templates/74bd5ed85cdab57605141ef72e84cb44.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Гамлет подвержен унынию, Обломов - лени и чревоугодию, Отелло - гневу, король Лир - гордыне. Линда Евангелиста алчна, герой фильма &laquo;Сладкая жизнь&raquo; Федерико Феллини предается праздности. В своем новом эссе <strong>Салман Рушди</strong> размышляет о лени и пороке как естественной части западной культурной традиции. <em>Эксклюзивные права на публикацию на русском языке предоставлены автором проекту &laquo;Сноб&raquo;. </em><strong><a style="font-family: Georgia,Times New Roman,Times,serif; color: #bd1313;" href="http://www.snob.ru/magazine/entry/14585/?le=019">Читать дальше...</a></strong></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=019"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>