<p style="line-height: 30px; font-family: Georgia,Times New Roman,Times,serif; font-size: 30px;">Уважаем[[ый|ая]] <br />%first_name!</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/5961cb1c1f7bfd4ac6a9acedc67f4991.jpg" alt="" width="402" height="70" /></p>
<p style="margin: 0pt; padding: 0pt;">&nbsp;</p>
<table style="width: 588px; height: 158px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #33bfcc;"><strong style="font-family: Georgia,Times New Roman,Times,serif;">У нас для Вас приятная новость: по карте подписчика проекта &laquo;Сноб&raquo; Вы получаете 5%-ную скидку во всех магазинах &laquo;Республика&raquo;. Для получения скидки просто предъявите Вашу персональную карту продавцу. Скидка распространяется на все товары, кроме категории &laquo;гаджеты&raquo;.</strong></td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><a href="http://www.snob.ru/i/indoc/25/rubric_issue_105181.jpg"></a><img src="../i/templates/bd2d2f0fc27aed6b4c28d8fb2d8c5182.jpg" alt="" /></p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px; color: #b90505;"><strong></strong></span></p>
<table style="width: 601px; height: 1019px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #33bfcc;">Адреса магазинов &laquo;Республика&raquo;: </strong></p>
<p><strong>1-я Тверская-Ямская ул., д. 10</strong><br />Телефон: (495) 251-65-27<br />Часы работы: круглосуточно</p>
<p><strong>ул. Крылатская, д. 17 </strong><br />Бизнес-парк &laquo;Крылатские холмы&raquo;, корп. 1, 1-й этаж<br />Телефон: (495) 956-39-94<br />Часы работы: пн.-пт. - с 10-00 до 19-00 / сб.-вс. - выходной</p>
<p><strong>Багратионовский пр-д, д. 7, корп. 20а </strong><br />Торговый центр &laquo;Горбушкин двор&raquo;<br />Телефон: (495) 737-74-67 <br />Часы работы: с 10-00 до 21-00</p>
<p><strong>Стремянный пер., д. 38</strong><br />Телефон (495) 580-34-92; 580-34-93<br />Часы работы: с 09-00 до 22-00 ежедневно</p>
<p><strong>Новинский б-р, д. 8</strong><br />Торговый центр Lotte Plaza, 6-й этаж<br />Телефон (495) 790-76-49<br />Часы работы: с 10-00 до 22-00 ежедневно</p>
<p><strong>Кутузовский пр-т, д. 21</strong><br />Кинотеатр &laquo;Пионер&raquo; <br />Телефон: (499) 249-28-16 доб.104<br />Часы работы: с 10-00 до 22-00</p>
<p><strong>Московская обл., 14-й км МКАД Люберецкий р-н, г. Котельники, 1-й Покровский пр-д, д. 5</strong><br />Торговый центр &laquo;Мега Белая Дача&raquo;<br />Телефон (495) 967-92-98<br />Часы работы: с 10-00 до 23-00 ежедневно</p>
<p><strong>Пресненская наб., д. 10</strong><br />Бизнес-центр &laquo;Москва-Сити&raquo;, Башня на Набережной<br />Телефон (495) 926-86-01<br />Часы работы: пн.-пт. - 09-00 до 20-00</p>
<p><strong>Московская обл., Ленинский р-н, пос. Коммунарка</strong><br />Торговый центр &laquo;Мега Теплый Стан&raquo;<br />Телефон (495) 926-70-20<br />Часы работы: с 10-00 до 23-00 ежедневно</p>
<p><strong>1-й Волоколамский пр-д, д. 10 </strong><br />Бизнес-центр &laquo;Диапазон&raquo;<br />Телефон (495) 982-39-40<br />Часы работы: пн.-пт.- с 10-00 до 19-00 / сб.-вс.- выходной</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 600px; height: 166px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong></p>
<p style="font-size: 13px; line-height: 18px;">тел.&nbsp; +7 (495) 544 22 00 | +7 (800) 100 11 30<span style="color: #979797;"><br /></span></p>
<p style="font-size: 13px; line-height: 18px;">E-mail: <a style="color: #bd1313;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><br /></td>
</tr>
</tbody>
</table>