<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="66"><img src="../i/templates/587fc2e331f90bcbf19cdfcc0e96fcd7.jpg" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58px" bgcolor="#ffffff"><img src="../i/templates/bee1d8eef146d1e56cbfedd4870b33a9.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--end header--> <!--event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">30 октября</p>
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">2 и 3 ноября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/c767df918af57821feeab201292ccad2.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>30 октября,2 и 3 ноября,</strong> Большой Театр.<strong></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Опера Моцарта &laquo;Дон Жуан&raquo; в постановке <a href="http://www.snob.ru/profile/about/5324">Дмитрия Чернякова</a>, дирижер <a href="http://www.snob.ru/profile/about/5315">Теодор Курентзис</a><br /></strong><strong></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/community/entry/26148"><strong><span style="font-weight: normal;">Подробнее</span></strong></a></p>
</td>
</tr>
</tbody>
</table>
<!--end event 1--> <!--event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
</tbody>
</table>
<!--end event 2--> <!--event 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
</tbody>
</table>
<!--end event 3--> <!--event 4--> <!--end header event 4--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;</td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#202020;">С уважением,</p>
<p style="font-family: Arial; font-size:14px; line-height:18px; color:#000000; text-transform:uppercase;">Катерина Макарова<br /><em>Директор программы Premium</em></p>
</td>
</tr>
</tbody>
</table>
<!--bloc 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">Вы всегда можете увидеть <a href="http://www.snob.ru/premium ">программу  мероприятий  Premium</a> на сайте проекта &laquo;Сноб&raquo;.&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><strong>Пожалуйста, как можно скорее сообщите нам о том, какие мероприятия Вы планируете посетить, чтобы мы зарезервировали для Вас билеты и приглашения. С нами можно связаться по телефону +7 903 708 27 23 или по электронной почте&nbsp;premium@snob.ru<br /></strong></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">До скорой встречи, - и помните, что мы всегда рады прочесть Ваши отзывы, пожелания и впечатления на сайте проекта "Сноб" в комментариях к редакционным материалам и ваших личных блогах.</p>
</td>
</tr>
</tbody>
</table>
<!--bloc 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515px" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  |  www.snob.ru                         <br /><strong>Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>