<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="font-size: 18px;">Уважаем[[ый|ая]] <br />%first_name!</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px; color: #070000;">Ждем Вас на лекции&nbsp;Тома Флеминга в <strong style="color: #b90505;">понедельник, 14 декабря</strong>.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Тема:</strong> &laquo;Город и креативная экономика: вызовы, возможности и уроки&raquo;<br /><strong style="color: #b90505;">Место проведения:</strong> Центр современного искусства &laquo;Винзавод&raquo;, 4-й Сыромятнический пер., д. 1, стр. 6, корпус 5, второй этаж<br /><strong style="color: #b90505;">Начало лекции:</strong> 18.30<br /><strong style="color: #b90505;">Контактный телефон в день мероприятия: </strong>+ 7 (965) 377-85-90.<br /><em><strong></strong></em></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong>Если Вы не можете посетить лекцию, пожалуйста, сообщите об этом заранее.</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Пожалуйста, возьмите с собой карту подписчика и по возможности, распечатанное приглашение.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong>Будем рады видеть Вас в понедельник.</strong></p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong></p>
<p style="font-size: 13px; line-height: 18px;">тел.&nbsp; +7 (495) 544 22 00 | +7 (800) 100 11 30<span style="color: #979797;"><br /></span></p>
<p style="font-size: 13px; line-height: 18px;">E-mail: <a style="color: #bd1313;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>