<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 587px; height: 94px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p><br />Уважаем[[ый|ая]] %first_name!</p>
<p>Приглашаем Вас завтра на <a href="http://www.snob.ru/community/entry/17260">лекцию Дэна Коро</a>, йога, сыроеда, эксперта по здоровому питанию</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/c31e48d1a73a18a281f9acb37904be2d.jpg" alt="" /></p>
<table style="width: 588px; height: 416px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Дэн Коро расскажет, почему термически необработанная пища (raw food) не только полезна, но и отличается необыкновенными вкусовыми качествами, объяснит, как именно влияет на жизнь человека теория сыроедения. Кульминацией вечера станет мастер-класс по приготовлению полезных блюд.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Важно: </strong><br />- Часть вечера мы <strong>проведем на открытой веранде</strong> - пожалуйста, одевайтесь по погоде. <br />- <strong>Количество мест ограничено</strong> - пожалуйста, подтвердите Ваше участие в мероприятии, ответив на это письмо.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><br /><strong style="color: #b90505;">Дата:</strong> 27 апреля, 19.00.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><br /><strong style="color: #b90505;">Место проведения:</strong> Штаб-квартира IQ-marketing (Лофт КБ им. Туполева).</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><br /><strong style="color: #b90505;">Адрес:</strong> Набережная Академика Туполева, 15, стр.15, 8-й этаж.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><br />Схему проезда Вы найдете <a href="http://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=IQ+marketing,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;sll=55.761533,37.685037&amp;sspn=0.008246,0.01929&amp;ie=UTF8&amp;hq=IQ+marketing,&amp;hnear=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;ll=55.761195,37.683342&amp;spn=0.003972,0.009645&amp;z=17&amp;iwloc=A&amp;cid=522377952942229045">здесь</a>.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>