<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 634px; height: 1275px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;" width="40" height="30"><br /></td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="width: 146px;" width="146">&nbsp;</td>
<td style="width: 24px;" width="24">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="44">&nbsp;</td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="padding: 0pt; vertical-align: bottom; width: 170px; height: 136px; text-align: left;" colspan="2" rowspan="2" width="170" height="136" align="left" valign="bottom">%user_card</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="92">&nbsp;</td>
<td style="border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 264px; height: 423px;" rowspan="2" width="264" height="423" valign="top"><img src="../i/templates/6996d84e0b4eafa26033146c18e3cb62.jpg" alt="" /><br /></td>
<td style="border-top: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 266px; font-family: Georgia;" width="266" valign="top">
<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br />%first_name!</p>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40">&nbsp;</td>
<td style="border-bottom: 1px solid #d5d5d5; margin: 0px; padding: 0pt 1px 0pt 0pt; font-weight: bold; font-size: 10pt; vertical-align: top; width: 412px; line-height: 1em; font-family: Georgia; height: 331px;" colspan="2" width="412" height="331" valign="top">
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Проект&nbsp;&laquo;Сноб&raquo; приглашает Вас на:</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>Фильм Алексея Учителя &laquo;Край&raquo; </strong>Специально для участников проекта &laquo;Сноб&raquo; - закрытый  предпремьерный просмотр и обсуждение со съемочной группой нового фильма  Алексея Учителя &laquo;Край&raquo; с Владимиром Машковым в главной роли, выдвинутого на премию &laquo;Оскар&raquo; от России.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">21 сентября, кинотеатр Романов-синема<br />Романов пер., 4.<br />Сбор гостей в 19.30, начало просмотра в 20.00<strong></strong></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong>Экскурсию Иосифа Бакштейна по АРТ Москве</strong></p>
<p style="margin: 5px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Специально для участников проекта &laquo;Сноб&raquo;  - экскурсия по ярмарке АРТ МОСКВА, которая ежегодно собирает специалистов и любителей актуального искусства со всего мира в Центральном Доме Художника. В этом году специальные некоммерческие проекты ярмарки объединены темой  МЕДИАЛИЗАЦИЯ . Консультант ярмарки, куратор , искусствовед и член клуба&nbsp;&laquo;Сноб&raquo; Иосиф Бакштейн покажет экспозицию и расскажет об экспериментах с аудиовизуальными образами, использования средств массовой информации, новых медийных средств и достижений технологического прогресса в современном искусстве.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">25 сентября, Центральный дом художника<br />Крымский вал, 10 <br />Cбор гостей  в 16. 00 перед входом в здание, начало экскурсии в 16.30 <strong><br /><br /></strong></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong> Фильм Алексея Балабанова &laquo;Кочегар&raquo;</strong></p>
<p style="margin: 5px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Предпремьерный просмотр нового фильма Алексея Балабанова &laquo;Кочегар&raquo;, о котором продюсер и член клуба  Сергей Сельянов подробно  рассказал на сайте <a href="http://www.snob.ru/selected/entry/22762 ">проекта</a></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">23 сентября, Клуб Dome <br />Берсеневский переулок, дом 3/10, стр. 7 (фабрика&laquo;Красный Октябрь&raquo;)<br />Сбор гостей в 21.00 начало просмотра в 21.30</p>
<br />
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Пожалуйста, сообщите нам о том, какие мероприятия Вы хотели бы посетить, чтобы мы могли зарезервировать Ваши билеты и приглашения, как можно скорее, по телефону + 7 903 136 94 54  или по электронной почте <a href="mailto:premium@snob.ru">premium@snob.ru</a></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</p>
<p><strong></strong></p>
</td>
<td style="padding: 0pt; vertical-align: top; width: 24px;" width="24" valign="top"><img src="../i/templates/border.png" alt="" width="1" height="1200" /><br /></td>
</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top"><strong></strong><a style="color: #c3171c;" href="mailto:podpiska@snob.ru"></a>
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="color: black; font-size: 11px;" href="http://www.snob.ru">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>