<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p>Нам очень приятно видеть Вас среди подписчиков проекта &laquo;Сноб&raquo;. Напоминаем, что срок Вашей текущей подписки подходит к концу. Мы надеемся, что уже полученные Вами номера пришлись Вам по вкусу, и хотели бы предложить Вам специальные условия для продления подписки на журнал.</p>
<p>1. Новый срок подписки начнется <strong>только</strong> по завершении текущего срока: подписавшись на 12 месяцев, Вы сперва получите все положенные Вам в рамках предыдущих акций и подписки номера.</p>
<p>2. 12 месяцев подписки будут предоставлены Вам по специальной цене в <strong>15 долларов</strong> вместо обычной цены в 20!!!</p>
<p>3. Вам будет предоставлен полный доступ к чтению всех материалов сайта <a href="snob.ru">Snob.ru</a> на весь срок подписки.<br /><strong>Внимание:</strong> эти условия действуют только в случае, если продление будет сделано не позже 10 апреля.</p>
<p>Чтобы продлить подписку на журнал, Вам нужно:</p>
<p>- Ввести свой логин и пароль на сайте <a href="snob.ru">snob.ru</a><br />- Перейти на <a href="http://www.snob.ru/subscribe/second/usd/magazine/12">страницу подписки</a></p>
<p>- Ввести промокод.</p>
<p>Ваш индивидуальный промокод:</p>
<p>%promocode</p>
<p>- Оплатить подписку по специальной цене</p>
<p>Если Вы забыли логин и пароль для доступа на сайт: <br /> <br />- Перейдите на <a href="http://www.snob.ru/remind/?redirectPath=%2Fsearch%2F%3Fq%3D%25D1%2580%25D0%25B5%25D0%25B2%25D0%25B7%25D0%25B8%25D0%25BD%26s%3D%25D0%259D%25D0%25B0%25D0%25B9%25D1%2582%25D0%25B8">страницу</a> <br /> <br />- Введите контактный e-mail в соответствующее поле</p>
<p>-  Логин и пароль будут отправлены Вам.<br />По любым возникающим вопросам Вы всегда можете написать нам по адресу <a href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></p>
<p>&nbsp;</p>
<p>Спасибо, что Вы с нами.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br /> международный проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>