<table style="width: 630px; height: 140px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #333333;"><strong style="color: #bd1313;">%first_name, добрый день!</strong></span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #333333;">Мы отправили Вам карту участника проекта &laquo;Сноб&raquo;. Карта будет доставлена Вам в течение недели.</span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #333333;">Пожалуйста, сообщите нам, когда ее получите, ответом на это письмо.</span></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>