<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/d34b835165ccbab9a567da6af4167b65.jpg" alt="" /></p>
<table style="width: 588px; height: 454px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">26 августа в Венеции начинается превью XII Международной архитектурной биеннале, одного из главных мировых форумов в области архитектуры. В этом году кураторами проекта русского павильона выступят <a href="http://www.snob.ru/profile/about/6799">Сергей Чобан</a>, <a href="http://www.snob.ru/profile/about/5326">Григорий Ревзин</a> и Павел Хорошилов.</p>
<p>Они представят проект под названием <a href="http://www.snob.ru/selected/entry/22667">&laquo;Фабрика "Россия"&raquo;</a> - модель возрождения провинциального города, разработанную на примере Вышнего Волочка, старого городка между Москвой и Санкт-Петербургом.</p>
<p>Для реализации проекта кураторы пригласили пять архитекторов из Москвы и Санкт-Петербурга, среди которых участник проекта &laquo;Сноб&raquo; <a href="http://www.snob.ru/profile/about/5314">Сергей Скуратов</a>, а также модельера <a href="http://www.snob.ru/profile/about/5970">Алену Ахмадуллину</a>. Комиссар русского павильона в этом году - <a href="http://www.snob.ru/profile/about/5281">Василий Церетели</a>.</p>
<p>Специально для участников проекта &laquo;Сноб&raquo; один из ведущих российских архитекторов Сергей Чобан согласился провести экскурсию по российскому павильону до официального открытия биеннале. Экскурсия состоится 27 августа.</p>
<p>Если Вы планируете быть в это время в Венеции и хотите принять участие в экскурсии, сообщите нам, пожалуйста, об этом в ответном письме.</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>