<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=002 " target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin:0; padding: 20px 100px 60px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Читайте на сайте <a href="http://www.snob.ru/?le=002 "><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; color: #c60505; text-decoration: underline;">Snob.ru</span></a> первый материал нового октябрьского выпуска журнала &laquo;Сноб&raquo;!</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #000000; text-decoration: none;" href="http://www.snob.ru/magazine/entry/6945">На пустом месте</a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Сергей Полотовский</span></p>
<p><img style="margin: 0pt; padding: 0pt;" src="../i/templates/fe008617d17954337a8dcdd90aba58d7.jpg" alt="" /></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&laquo;<a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313; text-decoration: underline;" href="http://www.snob.ru/magazine/entry/6945/?le=002">На пустом месте</a>&raquo; - репортаж Сергея Полотовского о фестивале в Неваде.</p>
<p style="margin: 20pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&laquo;Фестиваль Burning Man в пустыне Невады - праздник радикального самовыражения, арт-вакханалия на жаре и в пыли, без связи с внешним миром и денег, которые тут не нужны. Это коммунизм в хорошем смысле слова...&raquo; <br />Фото и видеоотчет с фестиваля - <a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313; text-decoration: underline;" href="http://www.snob.ru/magazine/entry/6945/?le=002">там же, на сайте</a>!</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>