<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 587px; height: 60px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p><br />В субботу, 19 июня, Клуб &laquo;Сноб&raquo; и Эдуард Бояков предлагают посмотреть спектакль Жоэля Помра &laquo;Этот ребенок&raquo; и поговорить о современном театре</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/7bd149b4376346a80cd346809706089a.jpg" alt="" /></p>
<table style="width: 588px; height: 582px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Открывая театр &laquo;Практика&raquo; в Москве, Эдуард Бояков пообещал, что будет работать с авторами, которые живы и чьи пьесы написаны в последние 10 лет. За пять лет работы театра слова не нарушил: в репертуаре только современная драма. Чтобы говорить о современном театре предметно, Бояков предлагает членам клуба посмотреть спектакль &laquo;Этот ребенок&raquo; французского драматурга и режиссера, хедлайнера Авиньонских фестивалей в 2006 и 2008 годах Жоэля Помра. Этот спектакль состоит из 10 маленьких историй об отношениях матерей и детей. Истории были увидены и услышаны драматургом в разных французских городах. Но чтобы истории не стали обычными сценами из повседневных родительских будней, Жоэль Помра запретил русским актерам, например, повышать голос и размахивать руками.&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">После спектакля Эдуард Бояков поделится своими соображениями о том, каким должен быть современный театр, а потом по традиции состоится обсуждение увиденного и услышанного.</p>
<p>Количество мест в зале ограниченно, поэтому, пожалуйста, сообщите о своем желании прийти заранее, ответив на это письмо.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Дата:</strong> 19 июня</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Место проведения:</strong> театр &laquo;Практика&raquo;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Адрес:</strong> Вход в арку с Большого Козихинского переулка, дом 30</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Сбор гостей</strong><strong style="color: #b90505;">:</strong> к 19:30, начало спектакля в 20:00, начало лекции в 21:30.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;"></strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>