<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 30px; line-height: 30px;">Уважаем[[ый|ая]] <br />%first_name!</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 618px; height: 150px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;"><strong>Проект &laquo;Сноб&raquo; приглашает на Большой фестиваль мультфильмов: 300 мультфильмов из 23 стран, 10 киноплощадок, 50 программ, 12 дней анимации. </strong><br />Большой фестиваль мультфильмов - это только что сделанные ленты, а также недавно найденные картины самого начала ХХ века, клипы всего в 15 секунд и полнометражные фильмы, выставки и мастер-классы отечественных и зарубежных звезд анимации.</td>
</tr>
</tbody>
</table>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><img src="../i/templates/e724455ed263001e3fe120a07fba95e9.jpg" alt="" width="608" height="341" /></p>
<table style="width: 608px; height: 22px;" border="0">
<tbody>
<tr>
<td>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">В центре фестиваля - <strong style="color: #b90505;">&laquo;Премьеры&raquo;</strong> (российские мультфильмы, снятые за последний год) и <strong style="color: #b90505;">&laquo;Победители&raquo;</strong> - фильмы, взявшие призы на самых престижных мировых фестивалях за 2008 год (это главным образом зарубежные ленты).</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Среди <strong style="color: #b90505;">специальных</strong> программ - юбилейная подборка &laquo;Гоголь в анимации&raquo;, показ лучших мультфильмов, которые были представлены на фестивале &laquo;Окно в Европу&raquo;. А также двухчастная ретроспектива отечественной анимации начиная с 1990-х.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Блок программ <strong style="color: #b90505;">&laquo;Страна&raquo;</strong> в этом году представляет голландскую анимацию, ретроспективная программа<strong style="color: #b90505;"> &laquo;Имена&raquo;</strong> посвящена знаменитым голландским режиссерам Паулю Дриссену и Герриту ван Дейку, а Юрий Норштейн покажет свои малоизвестные фильмы и готовый фрагмент еще не законченного фильма &laquo;Шинель&raquo;.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">В блок <strong style="color: #b90505;">&laquo;Фестивали&raquo;</strong> включена подборка лучших фильмов фестиваля в Оттаве.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Закроется Большой фестиваль 8 ноября мультконцертом и вручением призов лауреатам, которых назовут сами зрители. Авторам лучшего детского фильма, лучшего фильма в программе &laquo;Премьеры&raquo; и трех лучших фильма в программе &laquo;Победители&raquo; достанется смешная кукла по имени Анимаша, которую нарисовал Иван Максимов.</p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;"><strong>Даты проведения:</strong></span></span> с 28 октября по 8 ноября 2009 года.</p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;"><strong>Место проведения</strong>:</span></span> Культурный центр &laquo;Актовый зал&raquo;, Переведеновский переулок, 18 проходная №1, ПROEKT_FAБRИКА.</p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Дополнительная информация на сайте <a href="http://www.multfest.ru">www.multfest.ru</a>.</p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;"><strong>Первым 10 подписчикам, которые свяжутся с нами по электронной почте snob@snob.ru или по телефону +7 (495) 544-22-00 - &laquo;вездеходы&raquo;, аккредитация на два лица на все показы &laquo;Актового зала&raquo;. </strong></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Программу фестиваля вы найдете в приложении.</span><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>