<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=003" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">&nbsp;</p>
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><a href="http://www.snob.ru/fp/entry/8859/?le=007"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 24px; color: #bd1313;">Члены клуба &laquo;Сноб&raquo; нарисовали героев для &laquo;Симпсонов&raquo;</strong></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a href="http://www.snob.ru/fp/entry/8859/?le=007"><span style="color: #0d4478;"><img src="../i/templates/d9473c4de3c1b0a7ed400dd1139a03db.jpg" alt="" /></span></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">В этом году знаменитый американский сериал празднует свое 20-летие. Создатели мультфильма предложили всем желающим создать нового героя &laquo;Симпсонов&raquo;. Андрей Бартенев, Дмитрий Паперный, Стас Жицкий, Сергей Кужавский и Борис Акимов откликнулись и придумали собственных персонажей.</span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Мы предлагаем  Вам оценить потенциальных героев или присоединиться к проекту и предложить своего героя для знаменитого сериала прямо в комментариях к материалу.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">&nbsp;</p>
Если Вы не хотите получать анонсы свежего номера журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a href="mailto:snob@snob.ru">snob@snob.ru</a></td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>