<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 587px; height: 60px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p><br />Проект &laquo;Сноб&raquo; приглашает Вас 3 мая 2010 года на генеральный прогон симфонического перформанса &laquo;Реквием&raquo;</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/ff265d2bf40ff1ed5114a0234791e752.jpg" alt="" /></p>
<table style="width: 588px; height: 582px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Впервые в сценической практике Кирилл Серебренников, Алексей Сюмак и Теодор Курентзис представляют театральный &laquo;Реквием&raquo;. Это и жанр, и стиль, и эстетика, и покаяние, и этический манифест поколения.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Большая оратория для пяти солистов, двух хоров и оркестра состоит из 10 частей. Слова к ней были написаны Димитрисом Яламасом с использованием канонического латинского текста и документальных текстов 30-40х годов. Для исполнения &laquo;Реквиема&raquo; приглашен Российский национальный оркестр и Академический Большой хор &laquo;Мастера хорового пения&raquo; РГМТРЦ.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&laquo;Реквием&raquo;, задуманный Серебренниковым и Сюмаком,&nbsp;- это попытка постижения феномена войны как трагедии, созданная на стыке музыки и театра.</p>
<p>Подробности: <a href="http://www.theatrenow.ru">www.theatrenow.ru</a></p>
<p><strong style="color: #b90505;">Внимание!</strong> Количество мест ограничено. Мы можем пригласить на данное мероприятие только <strong>50 первых подписчиков</strong>, связавшихся с нами по телефону +7 (495) 544-22-00 или по электронной почте <a href="mailto:snob@snob.ru">snob@snob.ru</a>.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Дата:</strong> 3 мая</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Место проведения:</strong> МХТ им. Чехова</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Адрес:</strong> Камергерский переулок, 3</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Сбор гостей</strong><strong style="color: #b90505;">:</strong> к 18.20</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;"></strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>