<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 30px; line-height: 30px;"><span style="font-size: 15px; line-height: 18px;">Уважаем[[ый|ая]]</span><br />%first_name!</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;">Мы рады подтвердить Ваше участие в мероприятии для подписчиков проекта &laquo;Сноб&raquo;.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 19px;"><img src="../i/templates/7252df6d99b2d99d957b949b069f4240.jpg" alt="" /></p>
<p>&nbsp;</p>
<p><span style="color: #000000;"><strong>Дата проведения</strong>:</span> 25 сентября 2009 года (пятница), с 11.00 до 22.00.</p>
<p><strong>Начало гольф-урока:</strong> 13.00, при желании Вы можете приехать раньше.</p>
<p><strong>Место проведения</strong>: &laquo;Москоу Кантри Клаб&raquo;, Московская область, Красногорский район, пос. Нахабино-1, имеется охраняемая парковка.</p>
<p>Нам нужно заказать для Вас пропуск, чтобы Вы смогли зайти или заехать на территорию гольф-клуба, поэтому просим выслать нам Ваши точные и полные фамилию, имя и отчество, а также номер машины, если Вы хотите воспользоваться парковочным местом, на адрес <a href="mailto:snob@snob.ru">snob@snob.ru</a>.</p>
<p><strong>Карта проезда:</strong></p>
<p><strong><img src="../i/templates/dfed2075d393535e34723be024ba36e8.JPG" alt="" width="602" height="376" /><br /></strong></p>
<p><strong>В программе</strong> зрелищная игра лучших профессионалов России, прогулка по полю c профессиональным гольфистом, гольф-урок для гостей, спортивно-развлекательная программа (арбалетный тир, настольный теннис, прогулки по озеру на лодках и катамаранах), коктейль в ресторане клаб-хауса (с 17.00), церемония награждения победителей и торжественный ужин, который начнется в 18.00.</p>
<p>Рядом с полем для гольфа есть ресторан, где можно отдохнуть и перекусить.</p>
<p>Мы надеемся на хорошую погоду, но на всякий случай просим Вас захватить с собой теплые вещи. В случае если погода испортится, спортивные мероприятия перенесутся в здание спорткомплекса.</p>
<p>&nbsp;</p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>