<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name </strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%last_name</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p>Спасибо, что Вы приняли участие в нашем опросе. Нам очень важно Ваше мнение. В результате проведенного опроса мы получили много ценной информации, которая позволит нашему проекту быть удобнее и интереснее для Вас. <br />В знак благодарности мы с удовольствием дарим Вам дополнительные 3 месяца бесплатной подписки на журнал &laquo;Сноб&raquo; и доступа к полной версии <a href="Snob.ru">snob.ru</a>.</p>
<p>И помните: Вы всегда можете обращаться к нам с любыми вопросами и предложениями по  адресу <a href="mailto:podiska@snob.ru">podiska@snob.ru</a></p>
<p>С благодарностью,<br />проект &laquo;Сноб&raquo;<br />snob.ru</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>