<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p>Нам очень важно сделать так, чтобы программа Premium проекта &laquo;Сноб&raquo; максимально соответствовала вкусам, интересам и желаниям участников. Поэтому мы были бы очень Вам благодарны за возможность познакомиться поближе. Нам хотелось бы задать Вам несколько важных вопросов о том, что Вы делаете, когда не работаете, и понять, как Вы предпочитаете  проводить свое свободное время и что в этом плане можем сделать для Вас мы.</p>
<p>Вот небольшая анкета, ответы на которую помогли бы нам стать лучше. А мы со своей стороны совершенно бесплатно продлим Ваше участие в программе Premium проекта &laquo;Сноб&raquo; на один дополнительный месяц - в знак нашей благодарности.</p>
<p>1. Сколько Вам лет?<br />2. Кем и где Вы работаете?<br />3. Что Вы делаете, когда не работаете? Например, поделитесь с нами, пожалуйста, рассказом (полным, кратким, - как Вам удобно) о:<br />&nbsp;&nbsp;&nbsp; а. Своих хобби;<br />&nbsp;&nbsp;&nbsp; б. Местах, где Вы любите бывать, чтобы поесть или посидеть с друзьями;<br />&nbsp;&nbsp;&nbsp; в. Кино, театрах, музеях, галереях, концертных площадках и других местах, куда Вы любите приходить в свободное время;<br />&nbsp;&nbsp;&nbsp; г. Времени, которое Вы проводите с детьми.<br />4. А хотите, мы внесем эту информацию в Ваш <a href="http://www.snob.ru/profile/about/">profile на сайте&laquo;Сноб&raquo;</a>? Тогда Вы сможете не писать одно и то же два раза, а другие участники проекта смогут узнать о Вас больше.</p>
<p>Спасибо Вам за Ваши ответы, - и спасибо, что Вы с нами.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">Программа Premium<br />проект &laquo;Сноб&raquo;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">snob.ru</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>