<p>&nbsp;</p>
<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62"><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58" bgcolor="#ffffff">
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА СНОБ ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">3&nbsp;августа</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/ebd0946421f53ae8dfa950f8adc4fa58.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;"><strong>3 августа, 20:00,&nbsp;клуб </strong>&laquo;<strong>Чайная высота</strong>&raquo;</p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;"><strong>Концерт мастера ситара Анатолия Попова</strong></p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;">Клуб &laquo;Чайная высота&raquo; приглашает участников проекта на концерт ситара и чаепитие.&nbsp; Успейте заказать билет&nbsp; - их всего 20 и только&nbsp;для участников клуба &laquo;Сноб&raquo;.&nbsp; Специально к концерту припасены три индийских сорта чайного мороженого: &laquo;Гулабджамуновка&raquo;, &laquo;Индийское сорбэ&raquo; с расгуллой и &laquo;Роза-масала&raquo;.</p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;"><a href="http://www.snob.ru/profile/21866/blog/38833" target="_blank"><span style="color: #000000;">Забронировать билет</span></a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">6&nbsp;августа</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/96ef9d6d3e1461433b795c4280c8d2a4.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;"><strong>6 - 18 августа,&nbsp; Иркутск</strong></p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;"><strong>Поездка на о. Ольхон</strong></p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;">Игорь Уткин приглашает участников проекта в большое путешествие с круизом&nbsp; по маршруту Москва &ndash; Иркутск &ndash; о. Ольхон &ndash; Северный Байкал &ndash; Иркутск &ndash; Москва. &nbsp;Жизнь в кемпингах, обеды у костра, посещение мест силы и прогулки на катере... Настоящее лето!</p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;"><a href="http://www.snob.ru/profile/5667/blog/38261"><span style="color: #333333;">Принять участие</span></a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">8&nbsp;августа</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><strong><img src="../i/templates/0ddf00f8a7a3e845bb23b725ed3ad452.jpg" alt="" /><br /></strong></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="LINE-HEIGHT: 18px; FONT-FAMILY: Georgia; COLOR: #000000; FONT-SIZE: 14px"><strong>8&nbsp;августа, 18:15, Нью-Йорк, Центр Барышникова</strong></p>
<p style="LINE-HEIGHT: 18px; FONT-FAMILY: Georgia; COLOR: #000000; FONT-SIZE: 14px"><span><strong>Бенефис новой театральной компании HERO Theatre</strong></span></p>
<p style="line-height: 18px; font-family: Georgia; color: #000000; font-size: 14px;">Аня Мигдал приглашает&nbsp;участников проекта&nbsp;в Центр Барышникова на новое прочтение пьесы Чехова &laquo;Три сестры&raquo;. Над переводом текста для этой труппы работает Татьяна Толстая, которая тоже будет присутствовать на вечере.&nbsp;<span>Актеры, занятые в пьесе, известны своими выступлениями в театрах на Бродвее.</span></p>
<p style="LINE-HEIGHT: 18px; FONT-FAMILY: Georgia; COLOR: #000000; FONT-SIZE: 14px"><a href="http://www.snob.ru/profile/9240/blog/38804" target="_blank">Забронировать место</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить,<br />чтобы мы могли зарезервировать ваши билеты и приглашения, как можно <br />скорее,</span><span style="font-family: Arial;">&nbsp;по электронной почте </span><a style="font-size: medium; text-decoration:none; color: #e4e4e4;" href="mailto:member@snob.ru"><strong>member@snob.ru</strong></a></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><br /></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;">Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;">119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span><span style="color: #000000;">Служба поддержки:</span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>