<table style="width: 630px; height: 238px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-size: 18px; color: #bd1313;">%first_name, здравствуйте!</span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-size: 16px; color: #000000;">Сообщаем Вам, что доставка номера за АПРЕЛЬ завершена.<br /></span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-size: 16px; color: #000000;">Если по какой-то причине Вы его не получили, сообщите нам об этом, пожалуйста.<br />Были ли какие-то трудности с доставкой? Есть ли у Вас пожелания?</span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-size: 16px; color: #000000;">Если Вы хотите изменить адрес для&nbsp; доставки номера за МАЙ или уточнить какую-то контактную информацию, отправляйте её </span><span style="font-size: 16px; color: #000000;">на мой адрес: <a href="mailto:skuzmina@snob.ru">skuzmina@snob.ru</a>.</span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-size: 16px; color: #000000;"><br /></span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="color: #bd1313; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; font-style: italic; line-height: 30px;">С уважением,</span></p>
<p><span style="color: #bd1313; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; font-style: italic; line-height: 30px;">Светлана Кузьмина</span></p>
<p><span style="color: #bd1313; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; font-style: italic; line-height: 30px;">руководитель службы Client-service</span></p>
<p><span style="color: #bd1313; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; font-style: italic; line-height: 30px;">проект &laquo;Сноб&raquo;</span></p>
<p>&nbsp;</p>