<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62"><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58" bgcolor="#ffffff"><img src="../i/templates/4447594ee97b7d3962e24713cdbdd174.gif" alt="" /></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">24 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/60b36bd81a2d36eeec82e704451b25cd.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>24 мая, </strong>Нью-Йорк</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Предоткрытие выставки Бориса Михайлова в МОМА</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/community/entry/35509">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">25 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/d893e9f185e3f9f6841ed102e4a9c834.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>25 мая, </strong>Москва</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Спектакль </strong><strong>&laquo;</strong><strong>Вариации Джакомо</strong><strong>&raquo;</strong><strong> с Ингеборгой Дапкунайте и Джоном Малковичем</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/community/entry/35721">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">26 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/7598abdfc032e8f7659e1dde065e9287.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>26 мая, </strong>Лондон</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Показ фильма </strong><strong>&laquo;</strong><strong>ПираМММида</strong><strong>&raquo; и встреча с Сергеем Ливневым, продюсером фильма</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/thread/21#entry_35508">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">28 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/97add4a93ed07eb7ac35f667b3a97c7d.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>28 мая, </strong>Москва</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Мы смотрим финал  Лиги чемпионов по футболу</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/community/entry/35690">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА &laquo;СНОБ&raquo; ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">20 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/9242d35d7fc3ba6d4051d1629d4618f5.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>20 мая, </strong>Москва</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/18575">Бутик &laquo;Le Form&raquo;</a> <strong>приглашает на pre-sale весенне-летних коллекций</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18575/35824">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">21 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/362d22ef6a6795fd35c76f682f80d7a4.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>21 мая, Москва</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/7051">Стася Демина</a> <strong>приглашает на gypsy party</strong><a href="http://www.snob.ru/profile/about/23322"><br /></a></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/7051/35608">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">21 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/3ce1f1175ed7f42198a08038124aa7cb.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>21 </strong><strong>мая</strong><strong>, </strong>Москва<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/6146">Сергей Николаевич</a> <strong>приглашает на концерт Ришара Гальяно</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/6146/35544">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">23 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/93061def19968bcd3b817c40c82a56e8.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>23 </strong><strong>мая</strong><strong>, </strong>Нью-Йорк<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/22543">Юлия Загачин</a><strong> приглашает послушать Андрея Усачева и купить книги издательства </strong><strong>&laquo;</strong><strong>Розовый жираф</strong><strong>&raquo;</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/22543/35767">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">23 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/fcca8599450495334aba1e92c71e3a0d.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>23 </strong><strong>мая</strong><strong>, </strong>Нью-Йорк<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/16270">Павел Ивлев</a> <strong>приглашает на спекталь </strong><strong>&laquo;</strong><strong>I plead guilty</strong><strong>&raquo;</strong><strong> и на тематические вечера, посвященные проблеме терроризма в России</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/16270/35494">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">24 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/1ee3383a6662ffd5c4c775202cada483.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>24 </strong><strong>мая</strong><strong>, </strong>Москва<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/18564">Кафе &laquo;Август&raquo;</a> <strong>приглашает на мастер-класс Марианны Орлинковой  по летней кухне</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18564/35766">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">26 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/3d92fe0ac9c70c50472573b2778f9717.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>26 </strong><strong>мая</strong><strong>, </strong>Лондон</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/5105">Ольга Алексеева</a> <strong>приглашает на завтрак в Челси</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/5105/35752">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">26,31 мая, 2 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/bed7175a3f5b460e6406d81eacb1f34b.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>26,31 мая, 2 июня</strong><strong>, </strong>Москва<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/5286">Людмила Петрушевская</a> <strong>приглашает на свои концерты</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/5286/35749">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">28 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/9a338382d4275f33b23afbdcedb82b7e.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>28 </strong><strong>мая</strong><strong>, </strong>Москва<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/18551">&laquo;Лавка&raquo;</a> <strong>приглашает на шотландский ужин из цикла &laquo;Виски и баранина&raquo; с Игорем  Мальцевым</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18551/35589">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">28, 29 мая</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/4fe174346e3275e0d4d1e5be1a94581e.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>28, 29 </strong><strong>мая</strong><strong>, </strong>Москва<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/23570">Наталья Вороницына</a><strong> приглашает на БЛАГОMARKET</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/23570/35778">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">1-7 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/cf921b338c4a4b8866e42781f656cf67.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>1-7 июня</strong><strong>, </strong>Москва<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/about/5898">Алена Бочарова</a> <strong>приглашает на Beat Film Festival</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/5898/35837">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить,<br /> чтобы мы могли зарезервировать ваши билеты и приглашения, как можно <br />скорее, по телефону </span><span style="color: #e4e4e4;"><strong><span style="font-size: medium;"><span style="font-family: arial, helvetica, sans-serif;">+7 916 915 18 32</span></span></strong></span><span style="font-family: Arial;"> или по электронной почте </span><a style="font-size: medium; text-decoration:none; color: #e4e4e4;" href="mailto:member@snob.ru"><strong>member@snob.ru</strong></a></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span><br /></span></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span>Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</span></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;"><span>119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span></span><span><span style="color: #000000;">Служба поддержки:</span></span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>