<table style="width: 100%; margin: 0pt; padding: 33px; border: 0pt none; position: relative;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="342" height="50" bgcolor="#000000">
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="text-align:right; padding:0 33px 0 0;" width="275" bgcolor="#000000">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 0 8px 0 8px"><a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/?le=055">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine/">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
</tr>
</tbody>
</table>
<!--header--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 33px 0 33px;" width="507" height="102" valign="middle" bgcolor="#f2f2f2">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:18px; line-height:22px; color:#000000; padding: 0 33px 0 33px;"><strong>Здравствуйте, %first_name!</strong> Чтобы Вы не пропустили ничего важного и интересного на Snob.ru, мы сделали для Вас небольшую подборку самых ярких материалов этой недели:</p>
</td>
<td rowspan="2" width="77" height="125" bgcolor="#ffffff"><img src="http://www.snob.ru/i/templates/01d5f6274cce6792c87b9cada6030133.jpg" alt="" /></td>
</tr>
<tr>
<td width="573" height="23" bgcolor="#ffffff"><img src="http://www.snob.ru/i/templates/5dab478d0ee69fb84471a13ed702eaf0.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--title--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257"><span style="color: #888888;">&nbsp;<img src="http://www.snob.ru/i/templates/3bc001bda639e3d341616f3e92758423.jpg" alt="" /> </span></td>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; padding: 0pt 33px 0pt 0pt;" width="327">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding:0; margin:0;"><span style="color: #888888;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px;"><a href="http://www.snob.ru/selected/entry/33391">Новоселье проекта &laquo;Сноб&raquo;: добро пожаловать в гости</a></span></span><span style="color: #888888;"><a href="http://www.snob.ru/magazine/entry/31977"><br /></a></span></p>
</td>
</tr>
</tbody>
</table>
<!--block pic 1--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td><br /> 
<hr style="border: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0; clear:left;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257">
<p style="font-family: 'Georgia'; font-size: 16px; line-height: 22px; font-weight: normal; color: #000000; padding: 0pt 33px 0pt 0pt; margin: 0pt;"><a href="http://www.snob.ru/selected/entry/33165">Путин VS Медведев:</a> не сошлись во взглядах на Ливию&nbsp;<a href="http://www.snob.ru/fp/entry/32489 "><br /></a></p>
</td>
<td style="padding: 0pt 33px 0pt 0pt; text-align: right;" width="327"><img src="http://www.snob.ru/i/templates/a2c855540cd72a404ff525a7efd9b76e.jpg" alt="" />&nbsp;</td>
</tr>
</tbody>
</table>
<!--block pic 2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<hr style="border-top: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 18px;">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="font-size: 12pt; font-family: Helvetica;"><a href="http://www.snob.ru/selected/entry/33389">Financial Times: &laquo;Сноб&raquo; разрушает табу&raquo;</a>. Читаем иностранную прессу</span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/33265">Почему мы до сих пор едим мясо?</a><a href="http://www.snob.ru/selected/entry/31340"><br /></a></p>
</td>
</tr>
</tbody>
</table>
<!--text2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000;  margin: 0 33px 23px 33px;  padding:0;"><span style="font-size: 12pt; font-family: Helvetica;"><a href="http://www.snob.ru/selected/entry/33293">Здесь не курят: в Нью-Йорке усиливается борьба с курением</a></span></p>
</td>
</tr>
</tbody>
</table>
<!--text3--> 
<table style="margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff; width: 650px; height: 43px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="font-size: 12pt; font-family: Helvetica;"><a href="http://www.snob.ru/selected/entry/33344">&laquo;Экспериментаниум&raquo;: первый в России музей науки, где можно все трогать</a></span><a href="http://www.snob.ru/selected/entry/32517 "><br /></a></p>
</td>
</tr>
</tbody>
</table>
<!--text4--> <!--text6--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/33336"><span style="font-size: 12pt; font-family: Helvetica;">Кто наживается на нашем курении и пьянстве?</span><span style="font-size: 12pt; font-family: Helvetica;">&nbsp;</span></a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="font-size: 12pt; font-family: Helvetica;"><a href="http://www.snob.ru/selected/entry/33318">Что делать, если ребенок неизлечим?</a> Катерина Мурашова ищет выход&nbsp;</span></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="font-size: 12pt; font-family: Helvetica;"><a href="http://www.snob.ru/magazine/entry/33317">Страна временного проживания:</a> настроения в России</span></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="font-size: 12pt; font-family: Helvetica;"><a href="http://www.snob.ru/fp/entry/33247">Кому вредна медитация?</a></span></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><!-- @font-face {   font-family: "ＭＳ 明朝"; }@font-face {   font-family: "Cambria Math"; }@font-face {   font-family: "Cambria"; }p.MsoNormal, li.MsoNormal, div.MsoNormal { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: Cambria; }.MsoChpDefault { font-family: Cambria; }div.WordSection1 { page: WordSection1; } --> <span style="font-size: 12pt; font-family: Helvetica;"><br /></span></p>
</td>
</tr>
</tbody>
</table>
<!--text7--> <!--text8--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 17px 33px 25px 33px;  padding:0;">С уважением,</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Arial'; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 0 33px 30px 33px; padding:0;">ПРОЕКТ &laquo;СНОБ&raquo;</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #000000;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding:0 0 0 33px;"><a style="margin: 0px 0pt 0pt 33px; display: block; width: 28px; height: 190px;" href="http://www.snob.ru"><img style="border:0;" src="http://www.snob.ru/i/templates/e5256b53ecc49adec0533db671283460.jpg" alt="" height="190" /></a></td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 36px 8px 0 8px"><a style="color:#FFFFFF; text-decoration:none;" href="http://www.snob.ru">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine//?le=055">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:13px; line-height:18px; color:#FFFFFF; margin: 36px 0 0 0;">Дружите с нами!</p>
<ul style="margin: 13px 0 0 0; list-style:none; padding:0;">
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px; margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/7fa8687b40269205901a5211d9593217.jpg" alt="" /> <a href="http://snob-project.livejournal.com/"><span style="color: #ffffff;">Livejournal</span></a><span style="color: #ffffff;"> </span></li>
<span style="color: #ffffff;"> </span>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"><span style="color: #ffffff;"> </span><img style="border:0;  vertical-align:middle;" src="http://www.snob.ru/i/templates/9943a0aa20d8888492cd497da946250c.jpg" alt="" /><span style="color: #ffffff;"> </span><a href="http://www.facebook.com/snob.project/?le=055"><span style="color: #ffffff;">Facebook</span></a><span style="color: #ffffff;"> </span></li>
<span style="color: #ffffff;"> </span>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"><span style="color: #ffffff;"> </span><img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/d39a87c6446f34fa8533a85efac14817.jpg" alt="" /><span style="color: #ffffff;"> </span><a href="http://twitter.com/snob_project"><span style="color: #ffffff;">Twitter</span></a><span style="color: #ffffff;"> </span></li>
<span style="color: #ffffff;"> </span>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"><span style="color: #ffffff;"> </span><img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/e00200f867c19791de2d43d795c5ba35.jpg" alt="" /><span style="color: #ffffff;"> </span><a href="http://vkontakte.ru/club17760452"><span style="color: #ffffff;">Vkontakte</span></a><span style="color: #ffffff;"> </span></li>
<li><a href="http://www.linkedin.com/groups/Сноб-как-нам-работается-в-3693936"><span style="color: #ffffff;">LinkedIn</span></a></li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- title footer --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#000000; margin:15px 0 15px 33px; padding:0;">Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color:#08335f;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
</tbody>
</table>
<!-- footer 1 --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 59px;">
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin:25px 0 0 15px;  padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  | <a href="www.snob.ru/?le=055">www.snob.ru</a></p>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin: 0 0 0 15px;  padding:0;"><strong style="color:#000000; font-weight:normal;">Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;<a href="mailto:podpiska@snob.ru"></a>podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!-- footer 2 --></td>
</tr>
</tbody>
</table>