<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/" target="_blank"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" width="874" height="119" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">&nbsp;</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px;"><a href="http://www.snob.ru/magazine/entry/25197"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px; color: #bd1313;">Бездомный Гидон</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Александр Гаррос</span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><a href="http://www.snob.ru/magazine/entry/25197"><img src="../i/templates/56896ed5630d8b632becc2723b6c601c.jpg" alt="" /></a></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Скрипач Гидон Кремер перемещается с репетиции на концерт, с концерта на вокзал, с поезда на самолет, с самолета в гостиницу, из гостиницы на репетицию. С ним ездят скрипка и любимая женщина. Его рубашки живут в Вильнюсе, его книги живут в Вене, его архив живет в Швейцарии, а сам он нигде не живет.&nbsp;<strong><a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/25197">Читать дальше...</a></strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Полная версия материала доступна на сайте <a style="color: #bd1313;" href="http://www.snob.ru/?le=031">snob.ru</a>.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>