<table style="width: 100%; margin: 0pt; padding: 33px; border: 0pt none; position: relative;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="342" height="50" bgcolor="#000000"><img src="http://www.snob.ru/i/templates/0aeb9b7985d46901503fa12c085bbe04.jpg" alt="Сноб" /></td>
<td style="text-align:right; padding:0 33px 0 0;" width="275" bgcolor="#000000">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 0 8px 0 8px"><a style="color:#FFFFFF; text-decoration:none;" href="http://www.snob.ru">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine/">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
</tr>
</tbody>
</table>
<!--header--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 33px 0 33px;" width="507" height="102" valign="middle" bgcolor="#f2f2f2">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:18px; line-height:22px; color:#000000; padding: 0 33px 0 33px;"><strong>Здравствуйте, %first_name!</strong> Чтобы Вы не пропустили ничего важного и интересного на Snob.ru, мы сделали для Вас небольшую подборку самых ярких материалов прошлой недели:</p>
</td>
<td rowspan="2" width="77" height="125" bgcolor="#ffffff"><img src="http://www.snob.ru/i/templates/01d5f6274cce6792c87b9cada6030133.jpg" alt="" /></td>
</tr>
<tr>
<td width="573" height="23" bgcolor="#ffffff"><img src="http://www.snob.ru/i/templates/5dab478d0ee69fb84471a13ed702eaf0.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--title--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257"><img src="http://www.snob.ru/i/templates/b18d604ad8def493686cdb20522fb3d7.jpg" alt="" /></td>
<td style="padding:0 33px 0 0;" width="327">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding:0; margin:0;">Григорий Чхартшвили (Борис Акунин) - <a href="http://www.snob.ru/profile/blog/5232/28232">о Самых Страшных Злодеях</a></p>
</td>
</tr>
</tbody>
</table>
<!--block pic 1--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<hr style="border: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0; clear:left;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding: 0 33px 0 0;  margin:0;">Владимир Сорокин - <a href="http://www.snob.ru/selected/entry/28427">о будущем Великой Русской Литературы</a></p>
</td>
<td style="padding:0 33px 0 0; text-align:right;" width="327"><img src="http://www.snob.ru/i/templates/e87af60900527412c73c7343b9cb2f36.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--block pic 2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<hr style="border-top: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/blog/171"><strong>Наука</strong></a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="(http://www.snob.ru/fp/entry/28596">Как преодолеть любой соблазн?</a> - интервью с профессором психологии Йоахимом Фосгерау о том, как обмануть собственный мозг</p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/28519">Аспирин предотвращает рак</a> - о том, как самое продаваемое в мире лекарство может спасти нам жизнь</p>
</td>
</tr>
</tbody>
</table>
<!--text1--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/blog/764"><strong>Литература</strong></a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/28408">"Я тебя не слышу"</a> - рассказ лауреата премии "Дебют" Анны Гераскиной</p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/28089">"Черная лошадь с белым глазом"</a> - новый рассказ Владимира Сорокина</p>
</td>
</tr>
</tbody>
</table>
<!--text2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000;  margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/blog/420 "><strong>Бизнес</strong></a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000;  margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/agendum/entry/28421">Существует ли средний класс - и кого считать его представителями?</a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000;  margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/fp/entry/28034">В какие бренды мы влюбляемся - и почему торговые марки способны вызывать у нас сильные эмоции</a></p>
</td>
</tr>
</tbody>
</table>
<!--text3--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/blog/70"><strong>Дети</strong></a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/28321">Полезный синдром дефицита внимания</a> - о том, как модная болезнь оказывается социально востребованной</p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/27960">Стоит ли иметь детей и сколько это стоит?</a> - экономика современной семьи</p>
</td>
</tr>
</tbody>
</table>
<!--text4--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="color: #08335f;"><a href="http://www.snob.ru/selected/blog/927"><strong>Политика</strong></a> <br /></span></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="color: #08335f;"><a href="http://www.snob.ru/selected/entry/18037">Имеем ли мы право запрещать паранджу?</a> </span></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="color: #08335f;"><a href="http://www.snob.ru/selected/entry/28374">Катынь: вопрос закрыт?</a> Медведев производит "расчистку прошлого". </span></p>
</td>
</tr>
</tbody>
</table>
<!--text5--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">И многое другое - на <a href="http://www.snob.ru/">Snob.ru</a>.</p>
</td>
</tr>
</tbody>
</table>
<!--text6--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td><br /></td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td><br /></td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 17px 33px 25px 33px;  padding:0;">С уважением,</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Arial'; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 0 33px 30px 33px; padding:0;">ПРОЕКТ &laquo;СНОБ&raquo;</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #000000;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding:0 0 0 33px;"><a style="margin: 0px 0pt 0pt 33px; display: block; width: 28px; height: 190px;" href="http://www.snob.ru"><img style="border:0;" src="../i/templates/e5256b53ecc49adec0533db671283460.jpg" alt="" height="190" /></a></td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 36px 8px 0 8px"><a style="color:#FFFFFF; text-decoration:none;" href="http://www.snob.ru">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine/">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:13px; line-height:18px; color:#FFFFFF; margin: 36px 0 0 0;">Дружите с нами!</p>
<ul style="margin: 13px 0 0 0; list-style:none; padding:0;">
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px; margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/7fa8687b40269205901a5211d9593217.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://snob-project.livejournal.com/">Lifejurnal</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0;  vertical-align:middle;" src="http://www.snob.ru/i/templates/9943a0aa20d8888492cd497da946250c.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://www.facebook.com/snob.project">Facebook</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/d39a87c6446f34fa8533a85efac14817.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://twitter.com/snob_project">Twitter</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/e00200f867c19791de2d43d795c5ba35.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://vkontakte.ru/club17760452">Vkontakte</a> </li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- title footer --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#000000; margin:15px 0 15px 33px; padding:0;">Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color:#08335f;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
</tbody>
</table>
<!-- footer 1 --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 59px;">
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin:25px 0 0 15px;  padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  | <a href="www.snob.ru">www.snob.ru</a></p>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin: 0 0 0 15px;  padding:0;"><strong style="color:#000000; font-weight:normal;">Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;<a href="mailto:podpiska@snob.ru"></a>podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!-- footer 2 --></td>
</tr>
</tbody>
</table>