<table style="width: 100%; margin: 0pt; padding: 33px; border: 0pt none; position: relative;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="342" height="50" bgcolor="#000000"><img src="http://www.snob.ru/i/templates/0aeb9b7985d46901503fa12c085bbe04.jpg" alt="Сноб" /></td>
<td style="text-align:right; padding:0 33px 0 0;" width="275" bgcolor="#000000">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 0 8px 0 8px"><a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/?le=055">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine/">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
</tr>
</tbody>
</table>
<!--header--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 33px 0 33px;" width="507" height="102" valign="middle" bgcolor="#f2f2f2">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:18px; line-height:22px; color:#000000; padding: 0 33px 0 33px;"><strong>Здравствуйте, %first_name!</strong> Чтобы Вы не пропустили ничего важного и интересного на Snob.ru, мы сделали для Вас небольшую подборку самых ярких материалов этой недели:</p>
</td>
<td rowspan="2" width="77" height="125" bgcolor="#ffffff"><img src="http://www.snob.ru/i/templates/01d5f6274cce6792c87b9cada6030133.jpg" alt="" /></td>
</tr>
<tr>
<td width="573" height="23" bgcolor="#ffffff"><img src="http://www.snob.ru/i/templates/5dab478d0ee69fb84471a13ed702eaf0.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--title--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257">&nbsp;<img src="http://www.snob.ru/i/templates/b2e0a7243c446c1dbcd6d66c50ebce40.jpg" alt="" /></td>
<td style="padding:0 33px 0 0;" width="327">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding:0; margin:0;">&nbsp;<a href="http://www.snob.ru/selected/entry/31273">Сколько стоит терроризм?</a> Лоретта Наполеони, автор книги &laquo;Терроризм Inc&raquo; и консультант нескольких правительств, изучила влияние терроризма на мировой финансовый кризис  и теперь готова ответить на вопросы участников проекта &laquo;Сноб&raquo;.</p>
</td>
</tr>
</tbody>
</table>
<!--block pic 1--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<hr style="border: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0; clear:left;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding: 0 33px 0 0;  margin:0;"><a href="http://www.snob.ru/selected/entry/31134">&laquo;По-моему, вы все о*уели&raquo;</a>,- такой диагноз ставит модератор блога &laquo;Наука&raquo; Илья Колмановский обществу, которое сочло нашумевшую историю с Еленой Малышевой и &laquo;членом&raquo; в эфире &laquo;Первого канала&raquo; аморальной.</p>
</td>
<td style="padding: 0pt 33px 0pt 0pt; text-align: right;" width="327"><img src="http://www.snob.ru/i/templates/1b544d18c2404a661fe60dea97554286.jpg" alt="" />&nbsp;</td>
</tr>
</tbody>
</table>
<!--block pic 2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<hr style="border-top: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">Пациент, у вас социальный аутизм: <a href="http://www.snob.ru/selected/entry/31159">почему в России не любят делать прививки - и все ли у нас в порядке с головой?</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/31295">&laquo;Мубарак или ослеп, или в маразме&raquo;</a> - репортаж из столицы Египта</p>
</td>
</tr>
</tbody>
</table>
<!--text2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000;  margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/fp/entry/31045">Оборона, культура, медицина... А за что готовы платить вы?</a> Участники проекта &laquo;Сноб&raquo; решают, на что следует пустить наши налоги.</p>
</td>
</tr>
</tbody>
</table>
<!--text3--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">&laquo;Нет, читать лекцию я не хочу. Мне интересно рассказывать о счастье...&raquo; - великий клоун <a href="http://www.snob.ru/selected/entry/30984">Слава Полунин встретился 7 февраля с участниками проекта в рамках программы Premium</a>*</p>
</td>
</tr>
</tbody>
</table>
<!--text4--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="color: #000000;"><a href="http://www.snob.ru/profile/blog/7617/31286">&laquo;Только преступный фантазер смеет надеяться на благополучный исход грядущих событий в России&raquo;</a> -Андрей Наврозов размышляет о спасении Отечества</span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/31125">Загадочная смерть Максима Горького</a>: &laquo;Сноб&raquo; публикует несколько глав из новой книги лауреата премии &laquo;Большая книга 2010&raquo; Павла Басинского  (&laquo;Страсти по Максиму. Горький: 9 дней после смерти&raquo;).</p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">Есть вопросы к автору? <a href="http://www.snob.ru/selected/entry/31125">Задавайте их здесь! </a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<!--text6--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/entry/30780">&laquo;Как учителя, методисты и министры не поняли друг друга&raquo;</a> - календарь обсуждения новых стандартов образования</p>
</td>
</tr>
</tbody>
</table>
<!--text7--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">&laquo;Чисто Питерские Дела&raquo;: &laquo;Сноб&raquo; встретился с питерскими читателями и выяснил, <a href="http://www.snob.ru/selected/entry/31023">чем пышки отличаются от пончиков</a> и что такое <a href="http://www.snob.ru/selected/entry/31023">настоящий питерский стиль</a>.<br />Не пропустите! В следующую субботу мы встречаемся, чтобы поговорить о том, какая она - <a href="http://www.snob.ru/selected/entry/30406">Чисто Питерская Квартира</a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">*Кстати, присоединиться к программе Premium <a href="http://www.snob.ru/premium">вы можете прямо сейчас!</a></p>
</td>
</tr>
</tbody>
</table>
<!--text8--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 17px 33px 25px 33px;  padding:0;">С уважением,</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Arial'; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 0 33px 30px 33px; padding:0;">ПРОЕКТ &laquo;СНОБ&raquo;</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #000000;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding:0 0 0 33px;"><a style="margin: 0px 0pt 0pt 33px; display: block; width: 28px; height: 190px;" href="http://www.snob.ru"><img style="border:0;" src="http://www.snob.ru/i/templates/e5256b53ecc49adec0533db671283460.jpg" alt="" height="190" /></a></td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 36px 8px 0 8px"><a style="color:#FFFFFF; text-decoration:none;" href="http://www.snob.ru">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine//?le=055">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:13px; line-height:18px; color:#FFFFFF; margin: 36px 0 0 0;">Дружите с нами!</p>
<ul style="margin: 13px 0 0 0; list-style:none; padding:0;">
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px; margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/7fa8687b40269205901a5211d9593217.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://snob-project.livejournal.com/">Lifejournal</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0;  vertical-align:middle;" src="http://www.snob.ru/i/templates/9943a0aa20d8888492cd497da946250c.jpg" alt="" /> <a style="color: #b3b3b3;" href="http://www.facebook.com/snob.project/?le=055">Facebook</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/d39a87c6446f34fa8533a85efac14817.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://twitter.com/snob_project">Twitter</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/e00200f867c19791de2d43d795c5ba35.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://vkontakte.ru/club17760452">Vkontakte</a> </li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- title footer --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#000000; margin:15px 0 15px 33px; padding:0;">Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color:#08335f;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
</tbody>
</table>
<!-- footer 1 --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 59px;">
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin:25px 0 0 15px;  padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  | <a href="www.snob.ru/?le=055">www.snob.ru</a></p>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin: 0 0 0 15px;  padding:0;"><strong style="color:#000000; font-weight:normal;">Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;<a href="mailto:podpiska@snob.ru"></a>podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!-- footer 2 --></td>
</tr>
</tbody>
</table>