<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 587px; height: 60px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p><br /><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаемые участники проекта &laquo;Сноб&raquo;<br /></strong><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Приглашаем Вас 8 сентября в 19.00 в Манеж на открытие выставки Владимира Мишукова, организованной Ольгой Свибловой и Московским Домом Фотографии - &laquo;Полнополуние&raquo;</span><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 10px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/3ee9df814506e316447c7a63f62f06c6.jpg" alt="" /></p>
<table style="width: 588px; height: 266px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p>&nbsp;</p>
<p>Владимир Мишуков - фотограф с актерским прошлым и кучей премий в придачу, среди которых три &laquo;Серебряных камеры&raquo;. Его выставка &laquo;Полнополуние&raquo; представляет человека, которого, кажется, знает весь мир, -  члена клуба &laquo;Сноб&raquo; Вячеслава Полунина и его альтер эго, печального и активного клоуна Ассисяя. Мишуков неоднократно устраивал фотосессии на представлениях SnowShow Вячеслава Полунина - правда, снимал не столько актеров, сколько зрительный зал. А потом попросил позировать самого Полунина в клоунском облачении. Сопоставление на выставке двух этих линий и образует тот жанр, который фотограф определил словом &laquo;полнополуние&raquo;.</p>
<p>Открытие выставки состоится 8 сентября в 19.00.  Приходите, мы встретим Вас у входа в зал с пригласительными билетами.</p>
<p>Контактный телефон в день мероприятия: +7 916 915 18 32</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>