<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=031" target="_blank"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=031"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px;"><a href="http://www.snob.ru/magazine/entry/21144/?le=031"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px; color: #bd1313;">Футбол и море</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Александр Терехов</span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><a href="http://www.snob.ru/magazine/entry/21144/?le=031"><img src="../i/templates/b709d859d6975707e560664bbbb4b40e.jpg" alt="" /></a></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Чтобы видеться с сыном, я притворился болельщиком, и мы летали за нашим национальным позором, за дармоедами - сборной Российской Федерации по футболу. На море, на футбол сын соглашался (это не к бабушке, нечерноземную картошку копать!), резал там своих до крови &laquo;а я ХОЧУ с папой&raquo;, и людям, прописанным в моей бывшей квартире (я их устойчиво ненавидел), приходилось капитулировать. Футбол и море - рассчитывал я, должно хватить года на три, потом куплю мотоцикл, два мотоцикла, в худшем случае меня ждет школа паркура - будем, оттолкнувшись от вентиляционной шахты, прыгать на крышу гаража и вцепляться ногтями в щели меж кирпичей. Но все лучше, чем олимпиады по физике. И не школа бразильской самбы! <strong><a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/21144/?le=031">Читать дальше...</a></strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Полная версия материала доступна на сайте <a style="color: #bd1313;" href="http://www.snob.ru/?le=031">snob.ru</a>.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=031"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>