<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name </strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%last_name</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p style="margin: 2pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"><img src="../i/templates/5f141c4958ec3a06be41c65651c39845.jpg" alt="" /><br /></strong></p>
<p>Мы очень рады, что Вы стали участником международного проекта &laquo;Сноб&raquo;! Мартовский номер уже отправлен Вам по почте. Кроме того, Вы получаете в подарок три месяца участия в формате &laquo;Стартовый&raquo;, дающем полный доступ ко всем материалам сайта <a href="snob.ru">Snob.ru</a> (подробнее о форматах участия Вы сможете узнать, зайдя на сайт).</p>
<p>Ваши логин и пароль:</p>
<p>%login<br />%password</p>
<p>Нам крайне важно Ваше мнение обо всем, что делает проект &laquo;Сноб&raquo;. Пожалуйста, свяжитесь с нами, если у Вас есть любые вопросы, пожелания, предложения и комментарии, по адресу<a href="mailto:snob@snob.ru"> snob@snob.ru</a>.</p>
<p>Вы можете продлить свое участие в проекте&nbsp;&laquo;Сноб&raquo; и свою подписку на наш журнал в любой момент. Кроме того, Вы всегда можете выбрать тот формат участия в проекте, который подходит Вам больше всего (например, &laquo;Базовый&raquo; или &laquo;Премиум&raquo;). Для этого Вам достаточно зайти на сайт <a href="Snob.ru">Snob.ru</a>.</p>
<p>Спасибо, что Вы с нами.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">международный проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>