<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 637px; height: 69px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p>&nbsp;</p>
<p>В эту пятницу проект &laquo;Сноб&raquo; и Александр Мамут приглашают Вас на закрытый показ фильма братьев Коэнов.</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/b9187e60819b755043aa47ce931a2b17.jpg" alt="" /></p>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;">&nbsp;</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px; color: #b90505;"><strong></strong></span></p>
<table style="width: 630px; height: 363px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Новый фильм Джоэла и Итана Коэнов <a href="http://ru.wikipedia.org/wiki/A_Serious_Man">&laquo;Серьезный человек&raquo;</a>, номинированный на ведущие кинопремии (&laquo;Оскар&raquo;, &laquo;Золотой глобус&raquo;, премию BAFTA) и включенный в список лучших кинолент 2009 года советом кинокритиков США, наконец-то выходит в России.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">В ближайшую пятницу, за неделю до официальной премьеры, мы приглашаем Вас на предпремьерный показ в кинотеатр Александра Мамута &laquo;Пионер&raquo;.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">После показа можно будет поделиться впечатлениями от просмотра фильма в кафе &laquo;Пион&raquo;, расположенном здесь же, в здании кинотеатра.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 22px; line-height: 26px; color: #b90505;"><strong>М</strong><strong>ы можем пригласить 20 первых подписчиков, кто свяжется с нами по электронной почте <a href="mailto:snob@snob.ru">snob@snob.ru</a></strong><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">. </span></p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 22px; line-height: 26px; color: #b90505;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Приглашение действительно на два лица.</span><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Д</strong><strong style="color: #b90505;"><span style="color: #b90505;">ата</span>:</strong> 19 февраля (пятница)<br /></span></span></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Мест</strong><strong style="color: #b90505;"><span style="color: #b90505;">о проведения</span>:</strong> кинотеатр </span></span>&laquo;<span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Пионер</span></span>&raquo;</p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;"><span style="color: #b90505;">Адрес</span>:</strong> г. Москва, Кутузовский проспект, 21г</span></span></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong><a style="color: #b90505;" href="http://www.pioner-cinema.ru/contacts/">Схема проезда</a></strong><br /></span></span></p>
<p style="margin: 26px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="font-family: georgia,palatino;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #b90505;">Сбор гостей</strong> к 20.00, начало фильма в 20.30</span></span></p>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>