<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="66"><img src="../i/templates/587fc2e331f90bcbf19cdfcc0e96fcd7.jpg" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px;" colspan="2" height="30px" bgcolor="#ffffff">
<p>&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; text-align: center; padding-left: 60px;">УЧАСТНИКИ ПРОЕКТА "СНОБ" РАДЫ ПРИГЛАСИТЬ ВАС НА МЕРОПРИЯТИЯ:</p>
<br /></td>
</tr>
</tbody>
</table>
<!--end header--> <!--event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">6 декабря</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/36687e7c4116de39850c90057fbb44a6.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>6 декабря, </strong>Лондон, Browns</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Лондонский бутик Browns будет проводить презентацию ювелирной коллекции www.gourji.com 6 декабря с 17 до 20 часов.<br /><a href="http://www.snob.ru/profile/about/5168"><strong>Дмитрий Гуржий</strong></a> приглашает всех учаcтников проекта, которые будут в это время в Лондоне, посетить презентацию. <strong><br /> <br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><span style="font-weight: normal;"><a href="http://www.snob.ru/profile/blog/5168">Подробнее</a> </span></p>
</td>
</tr>
</tbody>
</table>
<!--end event 1--> <!--event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">8 декабря</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/c57783e69698f685725f312f057bd70a.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>8 декабря, </strong>Москва, Волхонка Арт</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><a href="http://www.snob.ru/profile/about/5113"><strong>Наташа Барбье</strong></a> приглашает посетить показ абсолютно новой коллекции Татьяны Парфеновой. Это будет коллекция вечерних платьев под названием &laquo;Елка&raquo;, отсылающая нас во времена модниц 30-40х, музыки ар-деко и всяких смешных редкостей из советских фильмов. Музыку делает постоянный оформитель показов Парфеновой - Кухаренко.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Сбор гостей к 19:30</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">В 21:00 начнется специальная новогодняя программа замечательной скрипачки Еленой Ревич и виолончелиста Бориса Адрианова.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Количество мест ограничено. Подтвердите, пожалуйста, присутствие, оставив комментарий <a href="http://www.snob.ru/profile/blog/5113">в личном блоге Наташи</a>.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><a href="http://www.snob.ru/profile/blog/5113">Подробнее</a><strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong><span style="font-weight: normal;"><a href="http://www.snob.ru/community/entry/27754"><br /></a></span></strong></p>
</td>
</tr>
</tbody>
</table>
<!--end event 2--> <!--event 3--><!--end header event 3--><!--end event 3--> <!--event 4--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;</td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#202020;">С уважением,</p>
<p style="font-family: Arial; font-size:14px; line-height:18px; color:#000000; text-transform:uppercase;"><em>проект "Сноб"</em><em></em></p>
</td>
</tr>
</tbody>
</table>
<!--bloc 2--> 
<table style="width: 650px; height: 91px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">До скорой встречи, - и помните, что мы всегда рады прочесть Ваши отзывы, пожелания и впечатления на сайте проекта "Сноб" в комментариях к редакционным материалам и ваших личных блогах. .</p>
</td>
</tr>
</tbody>
</table>
<!--bloc 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515px" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  |  www.snob.ru                         <br /><strong>Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>