<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"></strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p>Мы рады видеть Вас среди участников проекта &laquo;Сноб&raquo;. С удовольствием сообщаем Вам, что по многочисленным просьбам наших участников мы открыли в Нью-Йорке программу мероприятий Snob.Premium, до сих пор существовавшую только в Москве.</p>
<p>Программа Premium - это закрытые лекции, предпремьерные показы, превью выставок, уникальные киносеансы, гастрономические шоу, вечеринки, дискуссии...  И, конечно, полный доступ к сайту <a href="Snob.ru">Snob.ru</a>, включая возможность вести блог, участвовать в дискуссиях, приглашать других участников проекта на собственные мероприятия, оставлять комментарии, задавать вопросы в открытых интервью, составлять и читать ленту друзей, - словом, пользоваться всеми возможностями сайта <a href="Snob.ru">Snob.ru</a>.  Подробнее о программе - на сайте проекта <a href="http://www.snob.ru">&laquo;Сноб&raquo;</a>.</p>
<p>Ближайшие мероприятия программы Premium в США:</p>
<p>1. <a href="http://www.snob.ru/community/entry/31692">Просмотр игры New Jersey Nets</a> <br />2. <a href="http://www.snob.ru/community/entry/31877">Просмотр фильма Дзиги Вертова &laquo;Человек с киноаппаратом&raquo;</a></p>
<p>Стоимость участия в программе Premium:</p>
<p>- на 6 месяцев: $250;<br />- на 12 месяцев: $350.</p>
<p>Присоединяйтесь к программе Premium <a href="http://www.snob.ru/subscribe">прямо сейчас</a> - и ждем Вас на ближайших мероприятиях в Нью-Йорке!</p>
<p>Вопросы, предложения, пожелания? Пишите нам по адресу <a href="mailto:uspodpiska@snob.ru">uspodpiska@snob.ru</a>, и мы постараемся ответить Вам как можно скорее.</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">проект &laquo;Сноб&raquo;</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">http://snob.ru</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>