<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62"><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58" bgcolor="#ffffff"><img src="../i/templates/4447594ee97b7d3962e24713cdbdd174.gif" alt="" /></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">7 июля</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/51736839d908c266d443ab01c3f226fd.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>7 июля, </strong>Москва</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Приглашаем на ньюзикл </strong><strong>&laquo;Гражданин поэт</strong><strong>&raquo;</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/community/entry/37534">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px; height: 32px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">7 июля</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/99ae944bc550ec973f0fc49d61e1bac1.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>7 июля, </strong>Москва</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Летим на воздушных шарах над Плещеевым озером<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/community/entry/37113">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА &laquo;СНОБ&raquo; ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">28 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/c6782993d43e2734bd7bf5eebb0fb5ee.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>28 июня, </strong>Нью-Йорк</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/18610">Вероника Георгиева</a> приглашает на на открытие групповой выставки SUMMER AFFAIR<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18610/37307">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">с 28 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/7ec9d1bc95bc2a8330b7dae20d558660.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>с 28 июня, </strong>Москва</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/8458">Варвара Турова</a> приглашает на фестиваль Guest Stars<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/8458/37545">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">29 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/8468ca6855bac398a76eb9f438a5c18d.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>29 июня, </strong>Москва<strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/18564">Кафе &laquo;Август&raquo;</a> приглашает на третий историко-гастрономический вечер Виктора Сонькина<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18564/37470">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">30 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/425791e584c93a0b3a61756ff30743c3.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>30 июня, </strong>Москва<strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/18582">Бар/кафе/кино-лаунж DOME</a> приглашает на спецпоказ &laquo;Шапито-шоу&raquo;<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18582/37516">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">30 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/965d71ec15361567df30e908e37ba9a7.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>30 июня, </strong>Москва<strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/23193">Алексей Сканави</a> приглашает на продолжение серии своих еженедельных </strong><strong>&laquo;</strong><strong>Дачных концертов</strong><strong>&raquo;</strong><strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/23193/37489">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">30 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/eb1c25548532ecf4aeacf1ff51cd730d.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>30 июня, </strong>Москва<strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/22625">Андрей Гринев</a> приглашает на летнюю террасу Aromi<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/22625/37450">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">3 июля</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/5a202f237ca0bf9682291980460612f5.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>3 июля, </strong>Москва<strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/18551">&laquo;Лавка&raquo;</a> приглашает на фермерский рынок выходного дня<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/18551/37220 ">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">до 15 июля</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/b0fabb69bb4fef536bdd205bfecd7ffc.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>до 15 июля</strong><strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/23762">Евгений Фикс</a> приглашает принять участие в своем новом проекте &laquo;Портрет 19 миллионов&raquo;<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/23762/37479">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">24 - 30 июля</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/ae17a5f36427b8f3cfe1c6d46c996b81.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>24 - 30 июля, </strong>Москва<strong><br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/about/7051">Стася Демина</a> приглашает в энергетическое арт-путешествие<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/blog/7051/37407">Подробнее</a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить,<br /> чтобы мы могли зарезервировать ваши билеты и приглашения, как можно <br />скорее, </span><span style="font-family: Arial;">по электронной почте </span><a style="font-size: medium; text-decoration:none; color: #e4e4e4;" href="mailto:member@snob.ru"><strong>member@snob.ru</strong></a></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span><br /></span></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span>Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</span></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;"><span>119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span></span><span><span style="color: #000000;">Служба поддержки:</span></span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>