<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p><br />Мы рады, что Вы стали участником проекта "Сноб", и надеемся, что сентябрьский выпуск журнала, предоставленный нами бесплатно, понравился Вам и оправдал Ваши ожидания.</p>
<p>Вместе с сентябрьским номером Вы получили логин и пароль к сайту <a href="Snob.ru">Snob.ru</a> (формат участия "Стартовый"). Эти логин и пароль дают Вам возможность читать все материалы проекта, размещенные на сайте, и в том числе - расширенную версию журнала &laquo;Сноб&raquo; (включая видеоинтервью с авторами и героями статей, уникальные иллюстрации и другие дополнительные материалы, существующие только в онлайн-версии), редакционные заметки, авторские колонки, записи в блогах участников проекта, дискуссии и открытые интервью.</p>
<p>Насколько мы можем судить, Вы пока что не воспользовались правом полного доступа к материалам сайта. Мы будем рады помочь, если эта ситуация - результат утери письма с логином и паролем или технической проблемы при попытке ввести их на сайте. Вы можете написать нам по адресу <a href="mailto:snob@snob.ru">snob@snob.ru</a> или позвонить в нашу службу поддержки по телефону +7 (495) 544-22-00, и мы обязательно постараемся помочь.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>