<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="padding-bottom: 60px; line-height: 20px; margin: 0pt; padding-left: 100px; padding-right: 100px; font-family: Georgia, Times New Roman, Times, serif; font-size: 16px; padding-top: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаем[[ый|ая]] %first_name!</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a href="http://www.snob.ru/selected/entry/9740/?le=011"><span style="color: #0d4478;"><img src="../i/templates/fb74a59c82301cbcce814aa32e13107c.jpg" alt="" /></span></a></p>
<p><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Нам очень приятно видеть Вас среди участников программы Premium международного проекта &laquo;Сноб&raquo;. <br /></span></p>
<p>В предпраздничные дни участники проекта очень часто обращаются к нам с вопросами о том, как можно подарить  подписку на программу Premium друзьям и близким. Во-первых, эти вопросы стали для нас самих лучшим новогодним подарком. А во-вторых, мы решили провести особую акцию для всех участников программы, которые хотят порадовать своих ближних таким способом.<br /><strong></strong></p>
<p>Теперь Вы в любой момент можете подарить участие в программе Snob Premium своим друзьям, родным, коллегам и партнерам. Просто перейдите по этой ссылке (ССЫЛКА) и оформите подарочный сертификат. Он придет Вам по электронной почте, и вы сможете переслать его получателю подарка. Кстати, отличный вариант для тех, кто живет в других городах или странах, но хочет порадовать близких, проживающих в Москве, Лондоне или Нью-Йорке, - городах, где действует программа Snob Premium!</p>
<p>Если у Вас возникают любые вопросы или предложения - пожалуйста, напишите нам на <a href="mailto:premium@snob.ru">premium@snob.ru</a>, мы поможем Вам со всем разобраться.</p>
<p><strong></strong></p>
<p><strong></strong></p>
<p><strong></strong></p>
<p>Спасибо, что Вы с нами!</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><span class="mceVisualNbsp">&middot;</span><img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>