<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="66"><img src="../i/templates/587fc2e331f90bcbf19cdfcc0e96fcd7.jpg" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58px" bgcolor="#ffffff"><img src="../i/templates/bee1d8eef146d1e56cbfedd4870b33a9.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">7 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/ba5390a017a5bdf91463871a5fde5c0b.jpg" alt="" /></td>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 18px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>Первый концерт Леонарда Коэна в Москве</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Знаменитый шансонье и поэт, автор 15 &laquo;номерных&raquo; альбомов, десятка сборников стихов и нескольких романов, впервые даст концерт в Москве.<br />Коэн не выступал целых 15 лет и возобновил концертную деятельность только в 2008 году. На последнем присуждении премии &laquo;Грэмми&raquo; ему была вручена награда за особый вклад в музыку.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Специально для участников проекта &laquo;Сноб&raquo; на <a href="kassir.ru">kassir.ru</a> забронированы билеты, доставка по Москве бесплатная:</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Амфитеатр правая сторона, 15-й ряд, 4 билета по 7000 рублей<br />Амфитеатр правая сторона, 44-й ряд, 10 билетов по 2000 рублей<br />Амфитеатр середина, 39-й ряд, 10 билетов по 4500 рублей<br />Партер левая сторона 13-й ряд, 4 билета по 10 000 рублей<br />Партер левая сторона, 16-й ряд, 4 билета по 13 000 рублей</p>
<p>Если Вы хотите воспользоваться &laquo;сноб-бронью&raquo;, пожалуйста, пришлите на <a href="mailto:premium@snob.ru">premium@snob.ru</a> письмо, указав, сколько билетов Вы хотите приобрести и какие именно, а также адрес, на который Вы хотели бы оформить доставку.</p>
<p><em>7 октября, Кремлевский дворец съездов<br />Начало концерта в 19.00</em></p>
</td>
</tr>
</tbody>
</table>
<!--end event 1--> <!--event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">8 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/2fa2f850995887203cb53219c5b11361.jpg" alt="" /></td>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 18px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;" width="515" align="left"><strong>Генеральная репетиция нового шоу Cirque du Soleil &laquo;Кортео&raquo; </strong>
<p>Действие <a href="http://corteo-cds.ru/">нового шоу</a> Cirque du Soleil &laquo;Кортео&raquo; (&laquo;Кортеж&raquo; в переводе с итальянского), происходит в воображении клоуна, который представляет себе собственные похороны. Нет, не печальную процессию, а веселый карнавал, за которым с небес наблюдают ангелы. <br /><br />Только для участников проекта &laquo;Сноб&raquo; - 15 мест на генеральной репетиции шоу. А также билеты со скидкой 20% на места первой категории и категории &laquo;премиум&raquo; на дневные представления (16.00) 21, 22, 28 октября, 11, 12 и 26 ноября, 2 и 3 декабря.<br />Специальная цена на все билеты дневных представлений (16.00) 18 и 25 ноября - 2200 рублей. Если Вы хотите воспользоваться &laquo;сноб-бронью&raquo;, напишите нам об этом на <a href="mailto:premium@snob.ru">premium@snob.ru</a>, и Вы получите письмо с подробной инструкцией.</p>
<p><em>Генеральная репетиция Corteo <br />8 октября<br />Большой купол Cirque du Soleil на территории СК &laquo;Лужники&raquo;<br />Сбор гостей в 19.00, начало представления в 20.00</em></p>
</td>
</tr>
</tbody>
</table>
<!--end event 2--> <!--event 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">10 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;<img src="../i/templates/fa9f478a338f33b6b54aa2bb59345817.jpg" alt="" /></td>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 18px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>Баскетбольная шоу-программа команды NBA New Jersey Nets - впервые в Москве</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Команда NBA <a href="http://www.snob.ru/chronicle/entry/18745">New Jersey Nets</a>, владельцем которой является бизнесмен и участник проекта &laquo;Сноб&raquo; <a href="http://www.snob.ru/profile/about/5021">Михаил Прохоров</a>, впервые приедет в Москву, чтобы сыграть один из предсезонных матчей. 10 октября в спортивном комплексе ЦСКА баскетболисты New Jersey Nets и лидеры молодежных российских лиг АСБ (Ассоциации студенческого баскетбола) и ШБЛ (Школьной баскетбольной лиги) проведут игру и покажут шоу-программу.</p>
<p>Для участников проекта &laquo;Сноб&raquo; - 70 билетов на матч. Приходите с детьми.</p>
<p><em>10 октября, 18.30<br />Спортивный комплекс ЦСКА <br />Ленинградское шоссе, 39</em></p>
</td>
</tr>
</tbody>
</table>
<!--end event 3--> <!--event 4--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">10 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 4--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/b2f7b270d309a4188a597528b1b2c7b8.jpg" alt="" /></td>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 18px; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>&laquo;Ночь в музее&raquo; - превью нового здания Московского дома фотографии </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><a href="http://www.snob.ru/profile/about/5157">Ольга Свиблова</a> приглашает участников проекта &laquo;Сноб&raquo; в открывшийся после пятилетней реконструкции Московский дом фотографии. Музейно-выставочный комплекс ежемесячно будет проводить &laquo;Ночь в музее&raquo; и принимать посетителей до полуночи. Первая &laquo;Ночь в музее&raquo;, экскурсия по новому зданию и экспозиции &laquo;Избранное&raquo; из фондов музея, состоится для участников проекта 10 октября.</p>
<p><br /><em>10 октября, Московский дом фотографии <br />ул. Остоженка, 18 <br />Сбор гостей в 20.00, начало экскурсии в 20.30</em></p>
</td>
</tr>
</tbody>
</table>
<!--end event 4--> <!--event 5--><!--end header event 5--><!--end event 5--> <!--footer--> <!--bloc 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;</td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#202020;">С уважением,</p>
<p style="font-family: Arial; font-size:14px; line-height:18px; color:#000000; text-transform:uppercase;">Катерина Макарова<br /><em>Директор программы Premium</em></p>
</td>
</tr>
</tbody>
</table>
<!--bloc 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить, чтобы мы могли зарезервировать ваши билеты и приглашения, как можно скорее, по телефону <strong>+7 903 708 27 23</strong> или по электронной почте <strong>premium@snob.ru</strong></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</p>
</td>
</tr>
</tbody>
</table>
<!--bloc 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515px" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  |  www.snob.ru                         <br /><strong>Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>