<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаем[[ый|ая]] %first_name!</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0d4478;"><img src="../i/templates/2fa1c807493830d29152d53deff9a73b.jpg" alt="" /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Поздравляем с победой нашей сборной в первом матче со словенцами!</span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Сегодня, <strong style="color: #bd1313;">18 ноября</strong>, наши команды сойдутся снова. <br />От исхода этого матча зависит, кто поедет в следующем году в ЮАР на чемпионат мира. <br />Сегодня вечером на сайте &laquo;Сноб&raquo; Вы сможете обсудить матч с другими участниками проекта. Это можно будет сделать на главной странице сайта.</span></p>
<p style="font-size: 16px; line-height: 20px; font-family: Georgia, Times New Roman, Times, serif;">Мы приглашаем Вас принять участие в дискуссии.<br />Начало трансляции сегодня в <strong style="color: #bd1313;">22.30</strong>.<br />Присоединяйтесь!<span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><br /></span></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">&nbsp;</p>
Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a href="mailto:snob@snob.ru">snob@snob.ru</a></td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>