<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 587px; height: 60px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p><br /><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаемые участники программы Premium,<br /></strong></p>
<p><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">проект&nbsp;&laquo;Сноб&raquo; приглашает Вас на:<br /></span></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 10px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/13ad367acf25ebbd84826a91b1f0cd2b.jpg" alt="" /></p>
<table style="width: 588px; height: 266px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p><strong><span style="color: #bd1313;">Фильм Алексея Учителя &laquo;Край&raquo;</span></strong></p>
<p><span style="color: #000000;">Специально для участников проекта &laquo;Сноб&raquo; - закрытый  предпремьерный просмотр и обсуждение со съемочной группой нового фильма  Алексея Учителя &laquo;Край&raquo; с Владимиром Машковым в главной роли, выдвинутого на премию &laquo;Оскар&raquo; от России. </span></p>
<p><span style="color: #000000;">21 сентября, кинот</span>еатр Романов-синема<br />Романов пер., 4.<br />Сбор гостей в 19.30, начало просмотра в 20.00</p>
<p><strong></strong></p>
<p>&nbsp;</p>
<p><strong><span style="color: #bd1313;">Экскурсию Иосифа Бакштейна по АРТ Москве</span></strong></p>
<p>Специально для участников проекта &laquo;Сноб&raquo;  - экскурсия по ярмарке АРТ МОСКВА, которая ежегодно собирает специалистов и любителей актуального искусства со всего мира в Центральном Доме Художника. В этом году специальные некоммерческие проекты ярмарки объединены темой  МЕДИАЛИЗАЦИЯ . Консультант ярмарки, куратор , искусствовед и член клуба&nbsp;&laquo;Сноб&raquo; Иосиф Бакштейн покажет экспозицию и расскажет об экспериментах с аудиовизуальными образами, использования средств массовой информации, новых медийных средств и достижений технологического прогресса в современном искусстве.</p>
<p>25 сентября, Центральный дом художника<br />Крымский вал, 10 <br />Сбор гостей  в 16. 00 перед входом в здание, начало экскурсии в 16.30</p>
<p>&nbsp;</p>
<p><strong><span style="color: #bd1313;">Фильм Алексея Балабанова &laquo;Кочегар&raquo;</span></strong></p>
<p>Предпремьерный просмотр нового фильма Алексея Балабанова &laquo;Кочегар&raquo;, о котором продюсер и член клуба  Сергей Сельянов подробно  рассказал на сайте проекта  <a href="http://www.snob.ru/selected/entry/22762">http://www.snob.ru/selected/entry/22762</a>.</p>
<p>23 сентября, Клуб Dome <br />Берсеневский переулок, дом 3/10, стр. 7 (фабрика &laquo;Красный Октябрь&raquo;)<br />Сбор гостей в 21.00 начало просмотра в 21.30</p>
<p>Сноб бронь:  40 бесплатных мест в кинозале.</p>
<p><br />Пожалуйста, сообщите нам о том, какие мероприятия Вы хотели бы посетить, чтобы мы могли зарезервировать Ваши билеты и приглашения, как можно скорее, по телефону + 7 903 136 94 54  или по электронной почте <a href="mailto:premium@snob.ru">premium@snob.ru</a>.</p>
<p>Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,</p>
<p style="margin: 5pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 5px; color: #b90505;">Программа Premium</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>