<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;"><br /></td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #bd1313; padding: 0px; margin: 30pt 0px 0px; text-align: left;"><strong>Дорогие участники проекта "Сноб"!</strong></p>
<p>Снова мы обращаемся к вам с просьбой. В Москве, в аэропорте &laquo;Домодедово&raquo; произошел чудовищный теракт. Как всегда, в первые часы после теракта до нас доходит лишь обрывочная информация. Мы следим за всеми сообщениями и обновляем информацию максимально оперативно. Но нам не хватает вашей помощи. И нам важны не только сообщения очевидцев и людей, которые по стечению обстоятельств оказались неподалеку. Любой теракт в большом городе - это эмоциональная катастрофа для каждого его жителя. Если вам есть, что сказать про трагедию в &laquo;Домодедово&raquo; - даже если это не дополнительная информация, а переживания, мнения, ощущения, мы будем очень ждать вас в <a href="http://www.snob.ru/selected/entry/30359">материале</a>, опубликованном на сайте.</p>
<p>Нам кажется, что если мы будем все вместе говорить о происходящем, то мы быстрее сможем в нем разобраться. Спасибо вам заранее.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>