<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="66"><img src="../i/templates/587fc2e331f90bcbf19cdfcc0e96fcd7.jpg" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58px" bgcolor="#ffffff"><img src="../i/templates/bee1d8eef146d1e56cbfedd4870b33a9.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--end header--> <!--event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">1 октября, Нью-Йорк</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/457389df25cedfa68e7831c465b8a484.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">В пятницу, 1 октября, художник <a href="http://www.snob.ru/profile/about/9279">Виталий Комар</a> проведет  лекцию-перформанс &laquo;Мой опыт художника в России и Америке&raquo;.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Этой осенью &laquo;Сноб&raquo; приглашает всех своих читателей отпраздновать <a href="http://www.snob.ru/selected/entry/23788">приход проекта в Америку</a> целым рядом встреч, лекций, событий и вечеринок, проходящих в разных городах Соединенных Штатов. Более того, мы планируем уже в самое ближайшее время запустить в Нью-Йорке программу особых мероприятий <a href="http://www.snob.ru/community/premiumlife">Premium</a>. Но уже сейчас, в эту пятницу, мы приглашаем всех желающих на выступление выдающегося художника, участника проекта &laquo;Сноб&raquo; Виталия Комара<strong>.</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">А вот что сказал нам про свою лекцию <a href="http://www.snob.ru/selected/entry/24736">Виталий Комар</a>: &laquo;Обычно я стараюсь сказать то, про что люди не знают: о моем уникальном опыте. Думаю, что наиболее уникальная часть - это опыт жизни в двух политических системах, в двух разных национальных традициях: Советская Россия и Америка&raquo;.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Встреча с Виталием Комаром состоится в ближайшую пятницу, 1 октября, в 18.30. Вход свободный.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Место: 536 LaGuardia Place, between West 3rd Street and Bleecker Street in the West Village, New York.</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;</td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#202020;">С уважением,</p>
<p style="font-family: Arial; font-size:14px; line-height:18px; color:#000000; text-transform:uppercase;">Катерина Макарова<br /><em>Директор программы Premium</em></p>
</td>
</tr>
</tbody>
</table>
<!--bloc 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">Пожалуйста, сообщите нам о том, что Вы планируете прийти по электронной почте <strong>premium@snob.ru</strong></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</p>
</td>
</tr>
</tbody>
</table>
<!--bloc 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515px" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  |  www.snob.ru                         <br /><strong>Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>