<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name </strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%last_name</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p>Мы очень рады, что Вы стали участником международного проекта &laquo;Сноб&raquo; в рамках нашей особой акции для жителей США. Мы надеемся, что уже полученные Вами номера журнала пришлись Вам по вкусу. Нам хотелось бы продолжить наше сотрудничество: если Вас не затруднит ответить на 3 наших вопроса, мы будем рады подарить Вам еще 3 месяца бесплатной подписки! А если Вы окажетесь в числе первых 10 ответивших - Вы получите бесплатную подписку не на 3, а на 12 месяцев!</p>
<p>Пожалуйста, отвечайте на вопросы так, как Вам удобно: в любом порядке, подробно или коротко. Нам очень важно знать Ваше мнение.<br />Итак:</p>
<p>1. Какие номера журнала Вы читали? Какие материалы журнала заинтересовали Вас больше всего?<br />2. Чего Вам не хватило? Какие материалы, жанры, темы Вам хотелось бы увидеть на страницах "Сноба"?<br />3. Что было важными факторами для принятия Вами решения о продлении/не продлении подписки на "Сноб"?</p>
<p>Спасибо Вам - и приятного чтения трех бесплатных номеров журнала "Сноб"!</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">международный проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>