<table style="width: 710px; height: 967px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%first_name, добрый день!</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">&nbsp;</p>
<p style="margin: 2pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"><img src="../i/templates/5f141c4958ec3a06be41c65651c39845.jpg" alt="" width="427" height="286" /><br /></strong></p>
<p>Спасибо за интерес к проекту &laquo;Сноб&raquo;!</p>
<p>Мы дарим Вам подписку на журнал на год. Первым Вам будет отправлен февральский номер, на указанный Вами адрес.</p>
<p>Ваши логин и пароль для доступа на snob.ru:</p>
<p>%login<br /> %password</p>
<p>Нам крайне важно Ваше мнение обо всем, что делает проект &laquo;Сноб&raquo;. Пожалуйста, свяжитесь с нами, если у Вас есть любые вопросы, пожелания, предложения и комментарии, по адресу<a href="mailto:snob@snob.ru"> snob@snob.ru</a>.</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>