<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: left">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="font-family: &quot;Georgia&quot;, &quot;Times New Roman&quot;, &quot;Times&quot;, serif; font-size: 16px; line-height: 20px; padding-top: 20px; padding-right: 100px; padding-bottom: 60px; padding-left: 100px; margin: 0pt;">
<p style="font-family: &quot;Arial&quot;, &quot;Helvetica&quot;, sans-serif; font-size: 14px; line-height: 16px; color: #716a6a; text-align: left; padding: 0px; margin: 0pt;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0f0101;"><span style="color: #0f0101;"><strong>Здравствуйте, %first_name,</strong></span></span></span></p>
<p>Сообщаем Вам, что с сегодняшнего дня мы меняем порядок оформления участия в проекте &laquo;Сноб&raquo;. Вместо нескольких различных форматов в дальнейшем будет действовать <a href="http://www.snob.ru/subscribe"><strong>единый формат участия.</strong></a>&nbsp;<br />Естественно, что все возможности и бонусы, которые были Вам доступны до сегодняшнего дня, остаются без изменений. Однако, поскольку новый, единый формат участия построен по иной ценовой схеме, Вы также получаете дополнительные возможности.<br />А именно, по Вашему выбору, Вы можете:</p>
<p>1)	произвести перерасчет оплаченного срока участия в проекте по новым ценам</p>
<p>или</p>
<p>2)	без дополнительной оплаты оформить карточку &laquo;+1&raquo;, дающую возможность приводить на наши мероприятия гостя.</p>
<p>Свяжитесь с нами по электронной почте <a href="mailto:member@snob.ru">member@snob.ru</a> или по телефону +7 (495) 544-22-00, мы поможем сделать точный расчет и подобрать наиболее удобный для Вас вариант.</p>
<p>С уважением,<br />Проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/09d4124b5e12bc69d89cb02859080365.jpg" alt="" /></td>
</tr>
</tbody>
</table>