<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="padding-bottom: 60px; line-height: 20px; margin: 0pt; padding-left: 100px; padding-right: 100px; font-family: Georgia, Times New Roman, Times, serif; font-size: 16px; padding-top: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаем[[ый|ая]] %first_name!</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a href="http://www.snob.ru/selected/entry/9740/?le=011"><span style="color: #0d4478;"><img src="http://www.snob.ru/i/indoc/25/rubric_issue_105181.jpg" alt="" width="638" height="338" /></span></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong><span style="line-height: 20px; font-family: Georgia, Times New Roman, Times, serif; color: #bd1313; font-size: 16px;">Приглашаем Вас 12 декабря на вечеринку, посвященную годовщине проекта &laquo;Сноб&raquo; в новом, еще не отремонтированном, но уже уютном помещении клуба на &laquo;Красном Октябре&raquo;.<br /></span></strong></p>
<p><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Будут петь: Илья Лагутенко, Людмила Петрушевская, Нино Катамадзе, Святослав Вакарчук и Петр Налич.&nbsp;</span></p>
<p>
<p>Анатолий Комм накормит всех блюдами высокой русской кухни.</p>
<p>Игорь Ганжа и Владимир Яковлев представят фотопортреты членов клуба, которые они снимали в течение года.</p>
<p>А Борис Акимов продолжит свой авторский проект &laquo;После первой&raquo;.</p>
<p><strong></strong></p>
<p><strong></strong></p>
<p><strong></strong></p>
<p style="line-height: 20px; font-family: Georgia, Times New Roman, Times, serif; font-size: 18px;"><strong>Для доставки приглашения на вечеринку пришлите, пожалуйста, на <a href="mailto:snob@snob.ru">snob@snob.ru</a> Ваш адрес и контактный телефон. </strong></p>
<p>Приглашение курьер передаст лично в руки до вечера пятницы.</p>
<p><span class="mceVisualNbsp">&middot;</span></p>
<p>С уважением, проект &laquo;Сноб&raquo;</p>
</p>
<p style="font-size: 18px;">
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;"><span class="mceVisualNbsp">&middot;</span></p>
<p><span class="mceVisualNbsp">&middot;</span></p>
</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><span class="mceVisualNbsp">&middot;</span><img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>