<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p>Нам очень приятно видеть Вас среди участников международного проекта &laquo;Сноб&raquo;. По многочисленным просьбам мы решили продлить нашу акцию &laquo;Весенний подарок&raquo; еще на пять дней, чтобы ей успели  воспользоваться все желающие. Итак: мы будем рады предоставить Вам скидку в 40% от обычной цены на продление участия в формате &laquo;Базовый&raquo;:</p>
<p>- 2880 вместо 4800 рублей за 6 месяцев участия;</p>
<p>- 3840 вместо 6400 рублей за 12 месяцев участия.</p>
<p>Все, что нужно сделать Вам - это прислать нам заявку по адресу <a href="mailto:podpiska@snob.ru">podpiska@snob.ru</a>, указав желаемый срок участия, и осуществить оплату не позже 7 марта. Неважно, когда истекает Ваш нынешний срок участия - новые 12 или 6 месяцев будут, конечно, отсчитываться от его конца.</p>
<p>Спасибо, что Вы с нами!</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>