<table style="width: 830px; height: 447px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%first_name, добрый день</strong><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">!</strong></p>
<p>Нам было очень приятно видеть Вас на встрече с Леонидом Парфеновым 11 апреля. Надеемся, что Вам понравилось мероприятия и Вы получили удовольствие от проведенного вместе с нами вечера.</p>
<p>Это было лишь первое из многочисленных мероприятий, которые мы собираемся провести в Лондоне в этом году. Наши дальнейшие мероприятия будут проводиться только для участников проекта формата &laquo;Премиум&raquo;.<br />Оформить участие в этом формате можно <a href="http://www.snob.ru/subscribe/first">на сайте</a>.</p>
<p>Будем рады новым встречам с Вами.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,</p>
<p style="margin: 5px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>