<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 635px; height: 780px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;" width="40" height="30"><br /></td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="width: 146px;" width="146">&nbsp;</td>
<td style="width: 24px;" width="24">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="44">&nbsp;</td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="padding: 0pt; vertical-align: bottom; width: 170px; height: 136px; text-align: left;" colspan="2" rowspan="2" width="170" height="136" align="left" valign="bottom">%user_card</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="92">&nbsp;</td>
<td style="border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 264px; height: 423px;" rowspan="2" width="264" height="423" valign="top"><img src="../i/templates/f3e0180880fe2cdb87d1c0f8a0b777b5.jpg" alt="" /><br /></td>
<td style="border-top: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 266px; font-family: Georgia;" width="266" valign="top">
<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br />%first_name!</p>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40">&nbsp;</td>
<td style="border-bottom: 1px solid #d5d5d5; margin: 0px; padding: 0pt 1px 0pt 0pt; font-weight: bold; font-size: 10pt; vertical-align: top; width: 412px; line-height: 1em; font-family: Georgia; height: 331px;" colspan="2" width="412" height="331" valign="top">
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Клуб &laquo;Сноб&raquo; предлагает вам принять участие в нашей новогодней акции и исполнить желания детей, написавших письмо Деду Морозу.&nbsp;<strong></strong></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong> </strong>Дед Мороз живет в Великом Устюге, дети посылают ему письма круглый год и иногда даже получают ответ. Но все же перед Новым годом в почтовых отделениях собираются целые мешки писем, которые никогда не дойдут до адресата.&nbsp;&nbsp;&nbsp;<strong> <br /></strong></p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Мы забрали один такой мешок с детскими посланиями и предлагаем членам клуба исполнить желания их авторов. Сотрудники редакции &laquo;Сноба&raquo; уже взяли по два конверта и отправились на поиски подарков.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Если вы хотите присоединиться к акции, сообщите об этом своему лиазону или ответьте на это письмо.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">&nbsp;</p>
<p style="margin: 28px; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Доставку вашего подарка клуб &laquo;Сноб&raquo; берет на себя.</p>
</td>
<td style="padding: 0pt; vertical-align: top; width: 24px;" width="24" valign="top"><img src="../i/templates/border.png" alt="" width="1" height="620" /><br /></td>
</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">
<p>С уважением,<br />Анета Галина,<br />редактор отдела специальных проектов<br /><br /><a style="color: #c3171c;" href="mailto:nzueva@snob.ru" target="_blank">Agalina@snob.ru</a><br /><br />моб. 8(916)9151832</p>
</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top">
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="color: black; font-size: 11px;" href="http://www.snob.ru">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>