<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">%first_name, здравствуйте!</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 30pt 0px 0px;">Скоро начинается новый сезон в проекте &laquo;Сноб&raquo;. После летнего перерыва готовится к выходу свежий номер журнала, наши офисы в Москве, Лондоне и Нью-Йорке готовят <a href="http://www.snob.ru/formembers/events">новую программу мероприятий</a> для участников проекта. В программу, как и всегда, будут включены самые интересные события мегаполисов: выставки, премьеры, дегустации.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 10pt 0px 0px;">Как и прежде, мы развиваем <a href="http://www.snob.ru/formembers/benefits">партнерскую программу.</a> Для участников проекта действуют особые предложения в лучших магазинах, ресторанах и клубах.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 10pt 0px 0px;">И мы знаем, что Вас ждет много приятных сюрпризов в новом сезоне.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 10pt 0px 0px;">Мы рады видеть Вас среди участников проекта &laquo;Сноб&raquo; и предлагаем Вам продлить участие в проекте на особых условиях. Если Вы примите решение о продлении подписки до 31 августа, мы автоматически, без доплаты, выпустим карту +Guest. Это позволит Вам приходить на все мероприятия проекта вместе с близким человеком.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 10pt 0px 0px;">Стоимость участия в проекте сроком на 12 месяцев - 10 500 рублей. Карта +Guest  (обычная стоимость в 7 350 рублей) будет выпущена для Вас бесплатно.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 10pt 0px 0px;"><a href="http://www.snob.ru/subscribe/project">Оставайтесь с нами!</a></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; color: #070000; padding: 0px; margin: 10pt 0px 0px;">Если у Вас возникнут дополнительные вопросы, свяжитесь с нами  по электронной почте <a href="mailto:podpiska@snob.ru">podpiska@snob.ru</a> или по телефону +7 (495) 544-22-00.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/09d4124b5e12bc69d89cb02859080365.jpg" alt="" /></td>
</tr>
</tbody>
</table>