<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p>Спасибо, что сообщили нам о недоставке одного или нескольких номеров журнала &laquo;Сноб&raquo;. Ваш декабрьский и февральский номера будут высланы Вам сегодня и прибудут к Вам на следующей неделе.</p>
<p>Кстати, мы не только приняли Ваше письмо к сведению, - мы приняли кардинальные меры: сменили партнеров, занимающихся доставкой журнала и не выполнивших свои обязательства перед нами. Мы надеемся, что ситуация больше не повторится.</p>
<p>Мы еще  раз просим у Вас прощения за доставленные неудобства.</p>
<p>Спасибо, что Вы с нами. Ждем Ваших вопросов и идей по адресу <a href="mailto:survey@snob.ru">survey@snob.ru</a>.</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">Всегда Ваш<br />проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>