<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=013" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin:0; padding: 20px 100px 60px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Читайте на сайте <a href="http://www.snob.ru/?le=013"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> материал нового выпуска журнала &laquo;Сноб&raquo;!</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a href="http://www.snob.ru/magazine/entry/11923/?le=013"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;">Дежурная красавица</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Линор Горалик</span></p>
<p><a href="http://www.snob.ru/magazine/entry/11923/?le=013"><img src="../i/templates/14ec5ba5e8618abf54fa478fdc4c949b.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #0f0000;">Молодая женщина с высшим образованием, из хорошей семьи, доктор наук, специалист по информатике и эпидемиологии, род занятий - проститутка. Счастлива в семейной жизни и обожает свою работу. Может ли проституция быть добровольным выбором, а сама проститутка - счастливым человеком? Линор Горалик - о феномене и судьбе Бель де Жур, знаменитой британской call girl, которая любит свою работу, не скрывает ее от своих близких и, как недавно выяснилось, совмещает работу девушки по вызову с успешной научной карьерой. <strong><a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/11923/?le=013">Читать дальше...</a></strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #0f0000;">К этой статье также доступны видеоматериалы.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 14px; line-height: 16px;">Если Вы не хотите получать анонсы новых материалов журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #bd1313;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a href="http://www.snob.ru/?le=013"><img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></a></td>
</tr>
</tbody>
</table>