<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 437px; height: 76px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 22px; color: #b90505;">
<p><br />Проект &laquo;Сноб&raquo; приглашает на выставку антисталинского плаката</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><img src="../i/templates/dae98ec49269f836700fc87a665c451b.jpg" alt="" /></p>
<table style="width: 440px; height: 666px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">В последние годы оценка роли Сталина приобрела новое значение для всех, кто неравнодушен к российской истории. У тех, кто стремится превозносить Сталина, сегодня существует масса инструментов для продвижения собственных идей. Проект &laquo;Сноб&raquo; решил создать площадку для альтернативного высказывания. Мы объявляем о проведении выставки антисталинского плаката &laquo;Ни шагу назад!&raquo;.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Выставка откроется в &laquo;Галерее Марата и Юлии Гельман&raquo; 27 мая 2010 года - в день 75-летней годовщины сталинского приказа о создании НКВДшных &laquo;троек&raquo; и проведения акции &laquo;<a href="http://www.snob.ru/fp/entry/18780">ЛЮДИ ПРОТИВ СТАЛИНА</a>&raquo;.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">В выставке участвуют ведущие современные художники, дизайнеры и кураторы. В их числе - Андрей Бартенев, Владимир Сорокин, Юрий Аввакумов, Павел Пепперштейн, Дмитрий Врубель и другие.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #b90505;"><strong>Подробности</strong></span>- <a href="http://www.snob.ru/community/entry/18857">на сайте проекта &laquo;Сноб&raquo;</a>.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Срок выставки:</strong> 27 мая - 4 июня</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Открытие: </strong><span style="color: #333333;">27 мая (четверг), 20.00</span><strong style="color: #b90505;"><br /></strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Место проведения:</strong> &laquo;Галерея Марата и Юлии Гельман&raquo;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;">Адрес:</strong> Москва, Центр современного искусства &laquo;Винзавод&raquo;: 4-й Сыромятнический переулок, 1, стр. 6, м. Курская</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong style="color: #b90505;"></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 141px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>