<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 635px; height: 950px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;" width="40" height="30"><br /></td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="width: 146px;" width="146">&nbsp;</td>
<td style="width: 24px;" width="24">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="44">&nbsp;</td>
<td style="width: 264px;" width="264">&nbsp;</td>
<td style="width: 266px;" width="266">&nbsp;</td>
<td style="padding: 0pt; vertical-align: bottom; width: 170px; height: 136px; text-align: left;" colspan="2" rowspan="2" width="170" height="136" align="left" valign="bottom">%user_card</td>
</tr>
<tr>
<td style="width: 40px;" width="40" height="92">&nbsp;</td>
<td style="border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 264px; height: 423px;" rowspan="2" width="264" height="423" valign="top"><img src="../i/templates/c1d9c37954e2e457fc9a54f7f21acf86.jpg" alt="" /></td>
<td style="border-top: 1px solid #d5d5d5; padding: 0pt; vertical-align: top; width: 266px; font-family: Georgia;" width="266" valign="top">
<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br />%first_name!</p>
</td>
</tr>
<tr>
<td style="width: 40px;" width="40">&nbsp;</td>
<td style="border-bottom: 1px solid #d5d5d5; margin: 0px; padding: 0pt 1px 0pt 0pt; font-weight: bold; font-size: 10pt; vertical-align: top; width: 412px; line-height: 1em; font-family: Georgia; height: 331px;" colspan="2" width="412" height="331" valign="top">
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">В пятницу, 16 апреля, клуб "Сноб" приглашает Вас на лекцию Григория Козлова.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><strong> </strong>Известный искусствовед, журналист и куратор расскажет, откуда сегодня берутся шедевры на арт-рынке.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Искусствовед Григорий Козлов называет себя &laquo;архивной крысой&raquo; - мало кто лучше него знает запасники и архивы Пушкинского музея. Его книга &laquo;Покушение на искусство&raquo;, которая рассказывает о судьбе шедевров через историю их краж, сразу завоевала широкую популярность. Она отмечена и премией <a href="http://www.premiaprosvetitel.ru/">&laquo;Просветитель&raquo; </a>, учрежденной членом клуба &laquo;Сноб&raquo; <a href="http://www.snob.ru/profile/about/5227">Дмитрием Зиминым</a>.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;">Козлов расскажет, что на рынке сложилась уникальная ситуация: сегодня последний шанс купить хрестоматийные шедевры, которые в последние годы были возвращены музеями их законным наследникам по реституции.</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Дата: 16 апреля 2010 года</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Место проведения: галерея <a href="http://www.haunchofvenison.com/en/#page=london">Haunch of Venison </a></p>
<p style="margin: 0px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Адрес: 6 Burlington Gardens, London W1S 3ET</p>
<p style="margin: 28px 28px 0pt; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: bold;">Сбор гостей: к 19.30, начало в 20.00</p>
<p style="margin: 28px; font-family: Georgia; font-size: 10pt; line-height: 1em; font-weight: normal;"><em>Количество мест ограничено, поэтому, пожалуйста, зарегистрируйтесь, оставив комментарий к этому анонсу, или передав информацию через лиазона (если вы <a href="http://subscription.snob.ru/">участник проекта</a>, или написав нам на snob@snob.ru, а также позвонив нам по телефонам: + 44 (0) 141 226 67 07; 0 800 031 97 17 (если вы еще <a href="http://subscription.snob.ru/">не участник проекта </a>)</em><em>.<br /></em></p>
<p>&nbsp;</p>
<p><em></em></p>
</td>
<td style="padding: 0pt; vertical-align: top; width: 24px;" width="24" valign="top"><img src="../i/templates/border.png" alt="" width="1" height="830" /><br /></td>
</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top"><strong>Служба поддержки клуба:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30,&nbsp;e-mail:&nbsp;<a style="color: #c3171c;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a>
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br />тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="color: black; font-size: 11px;" href="http://www.snob.ru">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>