<table style="width: 630px; height: 164px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #333333;"><strong style="color: #bd1313;">Добрый день!</strong></span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #333333;">На прошлой неделе Вам было отправлено приглашение на тест-драйв Lexus. </span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #333333;">Пожалуйста, напишите (ответом на это письмо или на адерс snob@snob.ru), получили ли Вы приглашение.<strong><br /></strong></span></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />Катя Ольхова</p>
<p>&nbsp;</p>