<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;"><br /></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Уважаем[[ый|ая]] %first_name!</strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0d4478;"><img src="../i/templates/22a6769968b9ab76e6524902f37da73e.jpg" alt="" /></span><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0f0101;"></span></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0f0101;"><span style="color: #0f0101;">В ночь с 7 на 8 марта в 04.00 (время московское) начнется 82-я церемония вручения премии &laquo;Оскар&raquo;. Всю ночь мы будем следить за этим в прямом эфире и вести онлайн-дискуссию на сайте &laquo;Сноб&raquo;. Присоединяйтесь, будет интересно!</span></span></span></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><br />Материал появится на главной странице сайта вечером 7 марта.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>