<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=007" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin:0; padding: 20px 100px 60px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Читайте на сайте <a href="http://www.snob.ru/?le=007"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">Snob.ru</span></a> первый материал нового декабрьского выпуска журнала &laquo;Сноб&raquo;!</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a href="http://www.snob.ru/magazine/entry/9155/?le=007"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;">Девочка-бультерьерочка</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Эдуард Лимонов</span></p>
<p><a href="http://www.snob.ru/magazine/entry/9155/?le=007"><img src="../i/templates/672da2b4566bff634f41dcf445cb06ff.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">&laquo;<a href="http://www.snob.ru/magazine/entry/9155/?le=007">Девочка-бультерьерочка</a>&raquo; - новый рассказ Эдуарда Лимонова.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Вот как он начинается: &laquo;Она потолстела. Когда я, оторвавшись от ликующей толпы, сел в старенький "мерседес" адвоката, она уже сидела там. Нацболы бушевали за стеклами, довольные. Я, их лидер, дешево отделался - оказался на свободе всего через два с половиной года. Мог отхватить пятнадцать. За стеклами "мерса" на ликующих нацболов обильно лил дождь&raquo;.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a href="http://www.snob.ru/?le=007"><img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></a></td>
</tr>
</tbody>
</table>