<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 30px; line-height: 30px;"><img src="../i/templates/65d258694e6e0dc11944a4e894eb9ec8.JPG" alt="" /></p>
<table style="margin: 0pt; padding: 0pt; width: 805px; height: 705px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;">
<p style="margin: 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Уважаемые господа!</p>
<p style="margin: 30px 0pt 0pt; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #b90505;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px;">Банк ВТБ24 и проект &laquo;Сноб&raquo; предоставляют вам возможность продлить подписку на журнал &laquo;Сноб&raquo; со скидкой 10%.</strong></p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Предложение действует до конца 2009 года при продлении подписки на 12 месяцев* на бумажную или онлайн-версию журнала, включая полный доступ к сайту <a href="snob.ru">snob.ru</a>.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><strong>Чтобы продлить подписку: </strong><br />&bull;&nbsp;&nbsp;	в вашем Личном кабинете на сайте нажмите кнопку &laquo;Продлить подписку&raquo;, <br />&bull;&nbsp;&nbsp;	выберите вариант подписки (бумажная или онлайн-версия),<br />&bull;&nbsp;&nbsp;	выберите период подписки,<br />&bull;&nbsp;&nbsp;	выберите способ оплаты (онлайн-оплата на сайте, банковским переводом или наличными курьеру в Москве и Санкт-Петербурге).</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">При продлении подписки на сайте <a href="snob.ru">snob.ru</a> сохраняется ваш персональный профиль, библиотека и блог, а также полный доступ к онлайн-версии журнала &laquo;Сноб&raquo;.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Бумажная версия включает в себя: курьерскую доставку журнала в любую точку мира, доступ к онлайн-версии журнала и публикациям всех предыдущих номеров онлайн, а также полный доступ к <a href="snob.ru">snob.ru</a>.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Онлайн-версия включает в себя: доступ к онлайн-версии журнала и публикациям всех предыдущих номеров онлайн, а также полный доступ к <a href="snob.ru">snob.ru</a>.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;"><strong>Мы будем рады ответить на ваши вопросы: <br />+7 (495) 544-22-00 (поддержка подписчиков)<br />+7 (800) 100-11-30 (бесплатно по России)<br />podpiska@snob.ru</strong><strong><br /></strong></span></p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">* Оформить подписку за полную стоимость на бумажную версию журнала &laquo;Сноб&raquo; на 3 или 6 месяцев или на онлайн-версию на 6 месяцев вы можете здесь <a href="http://subscription.snob.ru/">http://subscription.snob.ru/</a>. Скидка 10% на данные сроки подписки не распространяется.</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #b90505;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>