<table style="width: 828px; height: 1319px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" /></a>&nbsp;</td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">&nbsp;</p>
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Сегодня в Великобритании проходят парламентские выборы, результат которых один из самых непредсказуемых за последние десятилетия. <br /></strong></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0d4478;"><img src="../i/templates/4d8a509d16f2b46066c65c4c9564ddbf.jpg" alt="" /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Весь день на нашем сайте мы будем <a href="http://www.snob.ru/fp/entry/17991">следить</a> за развитием событий, разговаривать и дискутировать вместе с участниками проекта. Если Вы принимаете участие в голосовании или просто живете в Великобритании, приходите к нам на сайт и расскажите, как и почему голосовали Вы и Ваши друзья и коллеги, а также о своих наблюдениях в день выборов. Всех остальных участников проекта, кому по каким-либо причинам небезразлично будущее Соединенного Королевства, мы приглашаем высказать свою позицию по вопросу о том, кто достоин стать следующим британским премьер-министром.</span></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />команда проекта &laquo;Сноб&raquo;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">&nbsp;</p>
Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a href="mailto:snob@snob.ru">snob@snob.ru</a></td>
</tr>
<tr>
<td style="margin:0; padding:0;"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" />&nbsp;</td>
</tr>
</tbody>
</table>