<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 30px; line-height: 30px;">Уважаем[[ый|ая]] <br />%first_name!</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<p style="margin: 0pt; padding: 0pt;">&nbsp;</p>
<table style="width: 588px; height: 44px;" border="0">
<tbody>
<tr>
<td><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 24px; color: #bd1313;">Проект &laquo;Сноб&raquo; приглашает на уникальный концерт писательницы Людмилы Петрушевской в Нью-Йорке.</strong></td>
</tr>
</tbody>
</table>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><img src="../i/templates/9de3e515f67204b8991356414be59961.jpg" alt="" /></p>
<table style="width: 588px; height: 176px;" border="0">
<tbody>
<tr>
<td>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Приглашаем Вас на уникальный концерт писательницы Людмилы Петрушевской &laquo;Кабаре одного автора&raquo; и ужин в ресторане &laquo;Русский самовар&raquo; в следующую пятницу, <strong style="color: #b90505;">6-го ноября</strong>.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Сбор гостей к <strong style="color: #b90505;">20.00</strong>.</p>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Адрес &laquo;Русского самовара&raquo;: <strong style="color: #b90505;">265 West 52nd Street, New York NY 10019</strong>.</p>
<p>&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;"><strong>Пожалуйста, подтвердите свое присутствие, позвонив или написав Бэле Шаевич: <a style="color: #b90505;" href="mailto:bshayevich@gmail.com">bshayevich@gmail.com</a>, 718-210-3639, 1-847-494-9011.</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;">&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;"><em style="font-size: 18px;">С уважением, проект &laquo;Сноб&raquo;</em></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><img src="file:///C:/DOCUME~1/eolkhova/LOCALS~1/Temp/moz-screenshot-2.jpg" alt="" /></p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong> тел. <span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span><br />E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">105064,&nbsp;Москва,&nbsp;Нижний Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a style="font-family: Georgia; font-size: 11px; color: #000000; text-decoration: none;" href="http://www.snob.ru">www.snob.ru</a>.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>