<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;">Здравствуйте, %first_name!</strong></p>
<p style="margin: 2pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 24px; color: #bd1313;"><img src="../i/templates/53621296a87d3ac961534eab63facf55.jpg" alt="" width="567" height="378" /><br /></strong></p>
<p>У нас есть подарок для Ваших <strong>американских</strong> и <strong>канадских</strong> друзей: поскольку теперь &laquo;Сноб&raquo; стал доступен и в этих странах, мы предлагаем им 3 месяца бесплатного участия в проекте в качестве рекламной акции.</p>
<p>В течение этих трех месяцев Ваши друзья получат:</p>
<ul>
<li>сентябрьский, октябрьский и ноябрьский номера журнала &laquo;Сноб&raquo;;</li>
<li>полный доступ к чтению всех статей, интервью, заметок, репортажей, блогов и дискуссий на сайте <a href="http://www.snob.ru">Snob.ru</a>.</li>
</ul>
<p>Мы не попросим у Ваших друзей номер кредитной карты и не потребуем по истечении этих трех месяцев платного продления участия. Они смогут продлить свое участие в проекте&nbsp;&laquo;Сноб&raquo; только в том случае, если сами этого захотят.</p>
<p>Чтобы присоединиться к акции, Ваши друзья могут просто воспользоваться вот этой ссылкой:  <a href="http://www.snob.ru/subscribe/usa">http://www.snob.ru/subscribe/usa</a>.<br />Мы надеемся, что&nbsp;&laquo;Сноб&raquo; им понравится.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br /> проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<br /></td>
</tr>
</tbody>
</table>