<p style="margin: 0pt; padding: 0pt;">&nbsp;</p>
<table style="width: 630px; height: 176px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #bd1313;">%first_name, здравствуйте!</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #bd1313;">&nbsp;</strong><br />Вынуждены сообщить Вам, что возможности забронировать для Вас места на показ фильма &laquo;Елена&raquo; не появилось.<br />Просим прощения за неудобства и надеемся увидеть Вас на одном из наших следующих мероприятий.</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>