<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="3" width="650" height="100" align="left" bgcolor="#e7e7e8"><img style="border: 0; display: block;" src="../i/templates/b83736fbd5cee266e6d8a8fbbf311d31.gif" alt="" /></td>
</tr>
<tr>
<td width="34" height="72" align="left" bgcolor="#e7e7e8"><img src="../i/templates/314592b955ba3fa7b51540acf23fd39d.gif" alt="" /></td>
<td width="546" height="72" align="left" valign="middle" bgcolor="#e7e7e8">
<p style="font-family: Georgia; font-size: 33px; line-height: 33px; color: #000000; padding: 0; margin: 0;"><strong>Здравствуйте, %first_name!</strong></p>
</td>
<td width="70" height="72" align="left" bgcolor="#e7e7e8"><img style="border: 0; display: block;" src="../i/templates/b2b5f8ccf08aba8ff6ad2b50164cd1e8.gif" alt="" /></td>
</tr>
<tr>
<td align="left" bgcolor="#ffffff">&nbsp;</td>
<td colspan="2" align="left" bgcolor="#ffffff">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td height="44">&nbsp;</td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size: 20px; line-height: 20px; color: #000000; padding: 0; margin: 0;"><strong>ПРЕДСТАВЛЯЕМ НОВЫХ ПАРТНЕРОВ ПРОЕКТА</strong></p>
</td>
</tr>
<tr>
<td height="37">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 18px;">
<p>Список партнеров регулярно обновляется. Об изменениях мы будем сообщать Вам при помощи рассылки. В апреле в партнерской программе проекта произошли изменения: ее покинули интерьер-салон Casa Pagoda, нейл-бар "Моя прекрасная леди", а также рестран "Март".  С удовольствием представляем новых партнеров проекта:</p>
</td>
</tr>
<tr>
<td height="42">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td width="28">&nbsp;</td>
<td width="622" align="left">
<table style="width: 622px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e7e7e8">
<tbody>
<tr>
<td width="20" height="36">&nbsp;</td>
<td width="602" height="36" valign="middle">
<p style="font-family: Georgia; font-size: 20px; line-height: 20px; color: #b62d2f; padding: 0; margin: 0;"><a href="http://www.snob.ru/profile/25414/blog"><strong>НИССАН-ТАКСИ</strong></a></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 622px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td height="28">&nbsp;</td>
</tr>
<tr>
<td width="150" valign="top">
<p style="padding: 0; margin: 0; margin-top: 12px;"><img src="../i/templates/65a8ce73ba1fdbe0de2dac1ef1377109.jpg" alt="" /></p>
</td>
<td width="444" valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia; font-size: 12px; line-height: 18px; color: #000000; padding: 0; margin: 0; margin-bottom: 5px;">Новое московское такси, парк которого состоит из автомобилей Nissan, а водители зачастую выполняют роль ангелов-хранителей, отвозя детишек в школу, бабушек ко врачу, доставляя цветы и подарки любимым. Стоимость поездок для вашего удобства мы разместили <a href="http://www.snob.ru/profile/25414/blog">в блоге компании</a>. Для участников проекта предусмотрена скидка 15% на все услуги. Скидка оформляется по предъявлению карты участника проекта при оплате маршрута.</p>
</td>
</tr>
<tr>
<td height="16">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td width="28">&nbsp;</td>
</tr>
<tr>
<td height="36">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--end item--> <!--item2--><!--end item--> <!--item3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td width="28">&nbsp;</td>
<td width="622" align="left">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end item--> <!--item2--><!--end item--> <!--item3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td width="28">&nbsp;</td>
<td width="622" align="left">
<table style="width: 622px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e7e7e8">
<tbody>
<tr>
<td width="20" height="36">&nbsp;</td>
<td width="602" height="36" valign="middle">
<p style="font-family: Georgia; font-size: 20px; line-height: 20px; color: #b62d2f; padding: 0; margin: 0;"><strong>КНИЖНЫЙ МАГАЗИН "БИБЛИО-ГЛОБУС"</strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 622px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td height="28">&nbsp;</td>
</tr>
<tr>
<td width="150" valign="top">
<p style="padding: 0; margin: 0; margin-left: 20px;"><img src="../i/templates/de1f732b27b923115a20927cd1b2d558.jpg" alt="" width="101" height="101" /></p>
</td>
<td width="444" valign="top">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia; font-size: 12px; line-height: 18px; color: #000000; padding: 0; margin: 0; margin-bottom: 5px;">Мы договорились о партнерстве с самым большим книжным магазином не только в России, но и в Европе. Более 250 тысяч наименований книг, а также программа клубных мероприятий теперь доступны для участников проект с 15% скидкой. Следите за обновлениями в блоге магазина "Бибилио-глобус" <a href="http://www.snob.ru/profile/25416">на нашем сайте.</a></p>
</td>
</tr>
<tr>
<td height="16">&nbsp;</td>
</tr>
<tr>
<td><br /></td>
</tr>
</tbody>
</table>
</td>
<td width="28">&nbsp;</td>
</tr>
<tr>
<td height="36">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--end item--> <!--footer--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e7e7e8">
<tbody>
<tr>
<td width="178" align="left" valign="top"><img style="border: 0; display: block;" src="../i/templates/1f941fef17d572378252c1d4d1995dd5.gif" alt="" /></td>
<td width="472" align="left" valign="top">
<table style="width: 472px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="272" height="36">&nbsp;</td>
<td width="200" height="36" align="left" valign="top"><img style="border: 0; display: block;" src="../i/templates/b90e04659dd3cdea273ae760d3dc9199.gif" alt="" /></td>
</tr>
<tr>
<td colspan="2" width="472" valign="top">
<p style="font-family: Trebuchet MS, Arial; font-size: 12px; line-height: 18px; color: #000000; padding: 0; margin: 0;">Кстати, теперь для вашего удобства при оплате семинаров и лекций в <a href="http://www.snob.ru/profile/24576">Сити-Классе</a> нужно ввести промо код  6578 для расчета 20% скидки. А <a href="http://www.snob.ru/profile/24082/blog/47649">в баре "Белка"</a> продолжаются космические детские мастер-классы. И еще мы возобновили сотрудничество с <a href="http://www.snob.ru/profile/18571">винотеками Grand Cru,</a> приходите, там очень хорошо.</p>
<p style="font-family: Trebuchet MS, Arial; font-size: 12px; line-height: 18px; color: #000000; padding: 0; margin: 0;">&nbsp;</p>
<p style="font-family: Trebuchet MS, Arial; font-size: 12px; line-height: 18px; color: #000000; padding: 0; margin: 0;">Дорогие участники проекта, пожалуйста, пишите, услугами каких&nbsp; партнеров Вы пользуетесь, что нравится, а что нет на адрес <a href="mailto:benefit@snob.ru">benefit@snob.ru</a> или оставляйте сообщения на сайте. Если Вы хотите, чтобы&nbsp; компания,&nbsp; магазин или ресторан,  который Вам нравится, стал участником партнерской программы, то мы с радостью рассмотрим предложения.</p>
</td>
</tr>
<tr>
<td height="32">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>