<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62"><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58" bgcolor="#ffffff"><img src="../i/templates/4447594ee97b7d3962e24713cdbdd174.gif" alt="" /></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">6 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/32eefde88dd0191f31fdd815fb3d53a3.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>6 сентября, Москва<br />Закрытый показ фильма &laquo;Елена&raquo; и встреча со Звягинцевым и Роднянским</strong><br /><br />Проект  &laquo;Сноб&raquo; и компания &laquo;Тройка Диалог&raquo; приглашают на закрытый показ фильма&nbsp;&laquo;Елена&raquo; в кинотеатре Фитиль и встречу с режиссером и продюсером фильма.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">На сегодняшний день регистрация участников показа закрыта, в лист ожидания можно записаться <a href="http://www.snob.ru/community/entry/40076">в комментариях к анонсу.</a></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА &laquo;СНОБ&raquo; ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">31 августа</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/7a024ca831ef26cf0eec5cae73f80ca5.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>31 августа, Москва, <br />Семинар Антона Носика об эмиграции<br /> <br /></strong>К осени всеми овладели перелетные настроения. Вот и Антон Носик - считает, что понятие эмиграции устарело, но заявляет в столичном &laquo;Ситиклассе&raquo; семинар именно на эту тему. Обещает рассказать об истории, теории и пратике российской эммиграции.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Подискутировать с автором заранее и узнать подробности можно, пройдя <a href="http://www.snob.ru/profile/5319/blog/40078">по ссылке.</a><strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">1 - 22 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/0a17019f4c5ae59ca2bff30ead196767.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>1 - 22 сентября, Москва, клуб </strong><strong>&laquo;</strong><strong>Петрович</strong><strong>&raquo;</strong><br /><strong>Концерты Макса Ротшильда<br /> <br /></strong>Макс Ротшильд приглашает участников проекта на свои концерты - сольные и не только - каждую неделю в сентябре.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Ознакомиться с графиком концертов и выбрать удобную дату можно <a href="http://www.snob.ru/profile/23759/blog/40064">здесь.</a> <strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">29 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/203327e0879093d9dcbe4256620a58bb.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>29 сентября,Абхазия, Новый Афон<br />Абхазские каникулы - 2.<br /> <br /></strong>В конце сентября участники проекта &laquo;Сноб&raquo; снова отправляются в Абхазию: исследовать тайные ночные маршруты Сталина на его даче, ловить форель в горных реках и пить молодое вино. Игорь Уткин и Олег Утицын приглашают желающих присоединиться к поездке.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><a href="http://www.snob.ru/profile/9778/blog/40093">Подробности можно узнать у авторов программы.</a> <strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить,<br /> чтобы мы могли зарезервировать ваши билеты и приглашения, как можно <br />скорее, </span><span style="font-family: Arial;">по электронной почте </span><a style="font-size: medium; text-decoration:none; color: #e4e4e4;" href="mailto:member@snob.ru"><strong>member@snob.ru</strong></a></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span><br /></span></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span>Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</span></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;"><span>119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span></span><span><span style="color: #000000;">Служба поддержки:</span></span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>