<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;
<p style="margin: 0pt; padding:  0pt;"><img src="../i/templates/7d942d28304359d88a5e48fc728c7964.png" alt="" /></p>
</td>
</tr>
<tr>
<td style="margin:0; padding: 20px 100px 60px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #0d4478;"><img src="../i/templates/169bc2362d87202c514a1b8d98348b17.ru design" alt="" /><br /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Спешим сообщить Вам, что сегодня изменился дизайн сайта Snob.ru.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Количество разделов сократилось до трех: <a href="http://www.snob.ru/">&laquo;Главная&raquo;</a>, <a href="http://www.snob.ru/magazine">&laquo;Журнал&raquo;</a>, <a href="http://www.snob.ru/community">&laquo;Снобщество&raquo;</a>. Подразделы <a href="http://www.snob.ru/selected/blog/1">&laquo;Лекции&raquo;</a>, <a href="http://www.snob.ru/selected/type/19?all=1">&laquo;Тематические блоги&raquo;</a> и <a href="http://www.snob.ru/chronicle/type/8?all=1">&laquo;Геоблоги&raquo;</a> (Лондон-Москва-Нью-Йорк-Париж) перенесены на главную страницу.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Кроме того, обратите внимание на новую &laquo;шапку&raquo;: теперь можно посмотреть все материалы по городам или основные материалы в тематических блогах: &laquo;Бизнес&raquo;, &laquo;Культура&raquo;, &laquo;Наука&raquo;, &laquo;Секс&raquo;.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Подробности о том, как и почему создавалась новая структура сайта, <a href="http://www.snob.ru/profile/blog/5361/17789">здесь</a>.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></td>
</tr>
</tbody>
</table>