<table style="width: 588px; height: 239px;" border="0">
<tbody>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Уважаемый участник проекта,
<p>я новый ведущий блога &laquo;Бизнес&raquo; на <a href="Snob.ru">Snob.ru</a>. В этой должности я сменяю <a href="http://www.snob.ru/profile/about/5007">Андрея Шмарова</a>, который, в свою очередь, сменяет меня в качестве регулярного колумниста блога. Такая у нас произошла рокировка в длинную сторону. Он будет продолжать писать свою еженедельную колонку и обсуждать в ней насущные вопросы бизнеса и экономики.</p>
<p>Я родился в Москве, уехал с родителями в эмиграцию в 1974 году. С тех пор живу в США, главным образом в Нью-Йорке. Тут я окончил Колумбийский университет и получил степень М.А. в School of Advanced International Studies при университете Джона Хопкинса. После университета работал на Уолл-стрит, в экономических и инвестиционных компаниях, был международным экономистом в фирме A. Gary Shilling &amp; Co., работал в Standard &amp; Poor's и Economist Intelligence Unit (экономический отдел английского издательства Economist). Последние 15 лет являюсь независимым экономистом, работаю на нескольких частных клиентов. Пишу колонки в различные издания. Моя колонка, которую я веду с 1997 года в журнале Research, профессиональном издании для управляющих пенсионными фондами, брокер-дилеров и других инвестиционных профессионалов, несколько раз удостаивалась премий.</p>
<p>Пишу не только про экономику, но и про все остальное тоже. Пишу рассказы и перевожу на английский. Переводил Андрея Геласимова, Дмитрия Липскерова, Эдуарда Лимонова и Гаврилу Державина, например. Геласимов же перевел книгу моих рассказов, она вышла в издательстве ОГИ в 2004 году. Живу в пригороде Нью-Йорка с женой - куратором европейского искусства в Метрополитен-музее и 15-летним сыном, почитателем футбольного таланта Андрея Аршавина.</p>
<p>Я бы очень хотел услышать от участников проекта о том, что им интересно читать и обсуждать, а также о чем самим писать в блоге &laquo;Бизнес&raquo;. Проект &laquo;Сноб&raquo; делается руками наших участников, и я бы хотел, чтобы активные читатели блога принимали активное участие в его формировании.</p>
<p>Пишите. Дискутируйте. Общайтесь.</p>
<p>С уважением,<br />Алексей Байер</p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><img src="file:///C:/DOCUME~1/eolkhova/LOCALS~1/Temp/moz-screenshot-2.jpg" alt="" /></p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 588px; height: 137px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки:</strong></p>
<p style="font-size: 13px; line-height: 18px;"><span style="color: #979797;">+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30</span></p>
<p style="font-size: 13px; line-height: 18px;">E-mail: <a style="font-family: Georgia; font-size: 14px; color: #bd1313; text-decoration: none;" href="mailto:podpiska@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>