<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 651px; height: 162px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62"><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>ПРОЕКТ &laquo;СНОБ&raquo; ПРИГЛАШАЕТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">12 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/a6c47d741862358e5353d005daec0130.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>12 июня, Москва, Национальный теннисный центр им. Х. А. Самаранча<br />Семейный день на шоу-турнире &laquo;Легенды тенниса&raquo;<br /></strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;">&laquo;Сноб&raquo; приглашает участников проекта провести выходной день на свежем воздухе в компании лучших теннисистов России и мира.<strong><br /></strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/selected/entry/49501?fdtpl">Программа мероприятия</a><a href="http://www.snob.ru/selected/entry/49323?fdtpl"></a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА &laquo;СНОБ&raquo; ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">июнь</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/c78f4a78581eb1a9b6bb1cf251363df4.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>июнь, Москва</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/18552/about?fdtpl">&laquo;Simple&raquo;</a> приглашает попробовать новые португальские вина Prats &amp; Simington.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/18552/blog/49467?fdtpl">Где пробовать?</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">1 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/28277f950cd1787c2671fd7eecebdf64.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>1 июня, Москва</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/9601/about?fdtpl">Марина Кирилина</a> приглашает на благотворительный вечер.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/9601/blog/49399?fdtpl">Записаться</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">1-3 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/594b39ce889278511f34a85aea940445.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>1-3 июня</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/5667/about?fdtpl">Игорь Уткин</a> приглашает в путешествие на воздушных шарах.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/5667/blog/48963?fdtpl">Подробнее</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">2 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/686b78ca410c0e74aa575d7d13d7de46.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>2 июня, Москва<br /></strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/24159/about?fdtpl ">BoСoncept</a> в Москве признан лучшим магазином в мире и приглашает отметить это прекрасное событие вместе.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/24159/blog/49535?fdtpl"><strong>Программа</strong></a><strong> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">2-3 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/77417c089e4f9adaee703e961917881e.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>2-3 июня, Барвиха</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/24841/about?fdtpl">Детский клуб &laquo;Пампа Грин&raquo;</a> приглашает провести выходные за городом.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/24841/blog/49464?fdtpl">Расписание</a><a href="http://www.snob.ru/profile/6987/blog/49266?fdtpl"></a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">3 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/65e8372e7470f279f36557a72395cb95.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>3 июня, Москва, &laquo;Эра Водолея&raquo;</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/24581/about?fdtpl">Йога-клуб &laquo;Эра Водолея&raquo;</a> приглашает на детскую игровую йогу.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/24581/blog/49460?fdtpl">О занятии</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">4 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/244bdebb5281672e19e221a2af388d7c.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>4 июня, Москва, Мультимедиа Арт Музей</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/5135/about?fdtpl">Андрей Бильжо</a> приглашает на открытие своей выставки.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/5135/blog/49538?fdtpl">Пойти</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">5 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/93c04f0105adef9c94914d8cea23852c.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>5 июня, Москва, &laquo;Библио-Глобус&raquo;</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/25416/about?fdtpl">Книжный магазин &laquo;Библио-Глобус&raquo;</a> приглашает на встречу с Аллой Демидовой.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/25416/blog/49504?fdtpl">Узнать больше</a><a href="http://www.snob.ru/profile/5667/blog/48963?fdtpl"></a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">7 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/53bda14e11628c2757a68ead0fb5eb45.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>7 июня, Москва, Центральный дом литераторов</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/24921/about?fdtpl">Илья Норштейн</a> приглашает на музыкальный спектакль В. Шендеровича и И. Бриля &laquo;Как таскали пианино&raquo;.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/24921/blog/49089?fdtpl">Билеты</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">12 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/a43d6cb796ab1847d12f59fd1d79fa4b.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>12 июня, Москва, парк возле Сахаровского центра</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/5593/about?fdtpl">Сергей Пархоменко</a> приглашает присоединиться к митингу.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/5593/blog/49412?fdtpl">Подробная информация</a><a href="http://www.snob.ru/profile/24921/blog/49089?fdtpl"></a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff; text-align: center;">до 23 июня</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/20f13464a8980957317af9a60c32b414.JPG" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>до 23 июня</strong></p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><a href="http://www.snob.ru/profile/8757/about?fdtpl">Дарья Супрунова</a> приглашает поучаствовать в краудсорсинговом онлайн-проекте &laquo;Расширение доступа субъектов среднего предпринимательства к закупкам инфраструктурных монополий и компаний с государственным участием&raquo;.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/profile/8757/blog/49165?fdtpl">О проекте&nbsp;</a> <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия Вы хотели бы посетить.<br />Мы зарезервируем для Вас билеты или пригласительные. <br />Пишите:<a href="mailto:member@snob.ru"> member@snob.ru</a></span></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span>Будем рады видеть Вас на мероприятиях, а Ваши отзывы и впечатления на нашем сайте.</span></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;"><span>119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span></span><span><span style="color: #000000;">Служба поддержки:</span></span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>