<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=008" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=008"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего, декабрьского номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a href="http://www.snob.ru/magazine/entry/9410/?le=008"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;">Письмовник</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="color: #0d4478;">Михаил Шишкин</span></p>
<p><a href="http://www.snob.ru/magazine/entry/9410/?le=008"><img src="../i/templates/b0c4cef5a259ba99adda58ae12d3d8ea.jpg" alt="" width="579" height="448" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">&laquo;<a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/9410/?le=008">Письмовник</a>&raquo; - рассказ Михаила Шишкина. Начинается он так: &laquo;Открываю вчерашнюю "Вечерку", а там про нас с тобой. Пишут, что вначале снова будет слово. А пока в школах еще по старинке талдычат, что сперва был Большой взрыв, и все сущее разлетелось&raquo;.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Полная версия рассказа доступна на сайте <a style="color: #bd1313;" href="http://www.snob.ru/?le=008">snob.ru</a>.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=008"><img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></a></td>
</tr>
</tbody>
</table>