<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=003" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin:0; padding: 20px 100px 60px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #0f0101;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;" href="http://www.snob.ru/?le=003">На сайте</a> появился новый материал будущего номера журнала &laquo;Сноб&raquo;.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #000000; text-decoration: none;" href="http://www.snob.ru/magazine/entry/7079/?le=003">Russian Made</a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #0d4478;"><img src="../i/templates/36c93845ba5258d7977cfa2964ef55bc.JPG" alt="" width="588" height="305" /><br /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;" href="http://www.snob.ru/magazine/entry/7079/?le=003">Russian Made</a> - репортаж о русских, покоряющих Европу и Америку.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Сергей Безбородов, Татьяна Жаковская, Эдуард Берсудский, Юлия Войтенко, Дарья Голевко, Николай Никитин, Алекс Резник и Ольга Горюнова - герои статьи, профессионалы, реализующие свои проекты в Италии, Великобритании, Германии, Франции и США.</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;" href="http://www.snob.ru/magazine/entry/7079/?le=003">Фото и видеоотчеты</a> об этих проектах - только на сайте, вставлять видео в бумажный журнал мы пока не научились.</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>