<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="66"><img src="../i/templates/587fc2e331f90bcbf19cdfcc0e96fcd7.jpg" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58px" bgcolor="#ffffff"><img src="../i/templates/bee1d8eef146d1e56cbfedd4870b33a9.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--end header--> <!--event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">19 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/34ddd3490be32e9694d70e25b56caa38.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Предпремьерный показ фильма "Овсянки"</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><span style="font-weight: normal;">19 октября в 20:00 в кинотеатре Пионер участники проекта первыми в Москве увидят фильм Алексея Федорченко "Овсянки", продюсером, которого выступила участник проекта "Сноб" <a href="http://www.snob.ru/profile/about/7546">Мэри Назари</a>. Картина получила приз ФИПРЕССИ и венецианского льва  за операторскую работу.</span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><span style="font-weight: normal;">После показа состоится обсуждения с Мэри Назари и оператором фильма Михаилом Кричманом.</span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><span style="font-weight: normal;">Специально для участников проекта :  закрытый предпремьерный показ и обсуждение фильма "Овсянки" в рамках программы Premium.  Количество мест ограничено. Если Вы хотите прийти, напишите нам на <a href="http://mce_host/templet/premium@snob.ru ">premium@snob.ru </a></span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><span style="font-weight: normal;">19 октября, Кинотеатр "Пионер", Кутузовский проспект, 21 <br />Сбор гостей в  19.30, начало просмотра в 20:00 <br /></span></strong></p>
</td>
</tr>
</tbody>
</table>
<!--end event 1--> <!--event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">21 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/eb7261f29b6ab07dff9cdcc1b9a596e8.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>Предпремьерный показ мультфильма &laquo;Носферату&raquo;<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Режиссер &laquo;Носферату&raquo; - бывший сотрудник уголовного розыска Владимир Мариничев. В поисках лучшей и более сытой жизни он уволился из угро и решил заняться мультипликацией: &laquo;И дело это чище, и мне казалось, денег в кино точно больше. Как выяснилось потом - не больше&raquo;. Тем не менее Мариничев собрал команду из четырех человек и приступил к созданию фильма. Денег на производство дал <a href="http://www.snob.ru/profile/about/6369">Сергей Сельянов</a>, который расскажет о проекте перед просмотром.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Хоть это и мультфильм, но детей стоит оставить дома. Это взрослая сказка про клерка, который попал под пагубное влияние графа Дракулы, мечтающего выпить кровь у всех женщин мира.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Специально для участников проекта:  ограниченное количество бесплатных места в кинозале Ждем писем на <a href="mailto:premium@snob.ru">premium@snob.ru</a></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">21 октября, кино-бар Dome <br />Берсеневский переулок, дом 3/10, стр. 7 (фабрика &laquo;Красный Октябрь&raquo;)<br />Сбор гостей в 20.00, начало просмотра в 20.30</p>
</td>
</tr>
</tbody>
</table>
<!--end event 2--> <!--event 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">21, 22, 28 &nbsp;октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/2fa2f850995887203cb53219c5b11361.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>Шоу Corteo Сirque du Soleil в октябре: билеты со скидкой 20%<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Действие нового шоу Cirque du Soleil &laquo;Кортео&raquo; (&laquo;Кортеж&raquo; в переводе с итальянского), происходит в воображении клоуна, который представляет себе собственные похороны. Нет, не печальную процессию, а веселый карнавал, за которым с небес наблюдают ангелы.<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Мы сходили на <a href="http://www.snob.ru/community/entry/24989#comment:205868">генеральную репетицию &laquo;Кортео&raquo;</a> и поделились впечатлениями от представления<strong>. </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong><span style="font-weight: normal;">Специально для  участников проекта:  билеты со скидкой 20% на места первой категории и категории &laquo;премиум&raquo; на дневные представления (16.00) 21, 22, 28 октября.</span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong><span style="font-weight: normal;">Чтобы воспользоваться предложением  скопируйте ссылку в окно браузера.</span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong><span style="font-weight: normal;">Выберите места, воспользуйтесь формой заказа и оплатите билеты кредитной картой.</span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong><span style="font-weight: normal;">21, 22, 28 октября<br />16:00<br />Большой купол Cirque du Soleil на территории СК &laquo;Лужники&raquo;<br /></span></strong></p>
</td>
</tr>
</tbody>
</table>
<!--end event 3--> <!--event 4--> <!--end event 4--> <!--event 5--> <!--end event 5--> <!--footer--> <!--bloc 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;</td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#202020;">С уважением,</p>
<p style="font-family: Arial; font-size:14px; line-height:18px; color:#000000; text-transform:uppercase;">Катерина Макарова<br /><em>Директор программы Premium</em></p>
</td>
</tr>
</tbody>
</table>
<!--bloc 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><strong>Пожалуйста, как можно скорее сообщите нам о том, какие мероприятия Вы планируете посетить, чтобы мы зарезервировали для Вас билеты и приглашения. С нами можно связаться по телефону (+7 916 915 18 32) или по электронной почте premium@snob.ru</strong></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">До скорой встречи, - и помните, что мы всегда рады прочесть Ваши отзывы, пожелания и впечатления на сайте проекта "Сноб"..</p>
</td>
</tr>
</tbody>
</table>
<!--bloc 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515px" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  |  www.snob.ru                         <br /><strong>Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>