<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a href="http://www.snob.ru/?le=029"><span style="text-decoration: none;"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" /></span></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=029"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px;"><a href="http://www.snob.ru/magazine/entry/19717/?le=029"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #bd1313;">Школа бедствий</span></a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><em>Текст</em> ~ <span style="text-decoration: underline;"><span style="color: #0d4478;">Борислав Козловский</span></span></p>
<p><a href="http://www.snob.ru/magazine/entry/19717/?le=029"><img src="../i/templates/fbcff07c4c1cef95ea12dd72c4d31919.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Мир все чаще лихорадит: землетрясения, цунами, извержения вулканов сменяют друг друга в жуткой череде новостей. С каждым разом жертв все больше, мир становится все менее безопасным. Или нам так только кажется? Пора наконец научиться предсказывать катастрофы, а вскоре и предотвращать их. или и это нам тоже только кажется? Впервые в своей истории человечество обладает достаточной информацией, чтобы не только изучать катастрофы, но и учиться на них. Пора понять: мы не сможем ни предугадывать, ни тем более предотвращать катастрофы, но мы в силах научиться к ним готовиться. Предотвратить смертельные последствия бедствий можно - надо всего лишь начать перестраивать жизнь вокруг нас. <a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/19717/?le=029">Читать дальше...</a></p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />команда проекта &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы новых материалов журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=029"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>