<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a style="text-decoration: none;" href="http://www.snob.ru/?le=018" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin: 0pt; padding: 20px 100px 60px; font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 20px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/?le=018"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего, мартовского номера журнала.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px;"><a href="http://www.snob.ru/magazine/entry/13438/?le=018"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px; color: #bd1313;">Джон Малкович: &laquo;Принцип жизни моего отца: "не дернув за цепочку, дерьма не смоешь"&raquo;</span></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><a href="http://www.snob.ru/magazine/entry/13438/?le=018"><img src="../i/templates/ea2b15ea4d49fd27350d9aa95a40dc98.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Эксцентрик и интеллектуал; постмодернист, сыгравший в кино самого себя; эрудит, любитель Чехова и русской культуры; режиссер-первооткрыватель, снявший в своих фильмах тогда еще неизвестного Хавьера Бардема и шестнадцатилетнюю Скарлетт Йоханссон; модельер - его марка мужской одежды Technobohemian производится в итальянском Прато.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">Джон Малкович в проекте &laquo;После первой&raquo;: о России и русских, об инвестициях, Политковской, о том, почему люди любят убийц и за что стоит пожалеть Обаму.<br />Вопросы задают участники проекта &laquo;Сноб&raquo;: Ирен Коммо, Наташа Фрезер-Кавассони (от редакции), Вера Бергельсон, Алена Долецкая, Михаил Идов, Лика Кремер, Антон Носик, Любовь Толкалина. <strong><a style="color: #bd1313;" href="http://www.snob.ru/magazine/entry/13438/?le=018">Читать дальше...</a></strong></p>
<p>&nbsp;</p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Полная версия материала доступна на сайте <a style="color: #bd1313;" href="http://www.snob.ru/?le=018">snob.ru</a>.</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/?le=018"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>