<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;"><a style="text-decoration: none;" href="http://www.snob.ru/?le=005" target="_blank"><img style="margin: 0pt; padding: 0pt;" src="../i/templates/06589bc5882e07c2117d6725275cc891.png" alt="" /></a></td>
</tr>
<tr>
<td style="margin:0; padding: 20px 100px 60px;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;" href="http://www.snob.ru/?le=005">На сайте</a> появился новый материал будущего номера журнала &laquo;Сноб&raquo;.</p>
<p style="margin: 36px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 20px; color: #b90505;"><a href="http://www.snob.ru/magazine/entry/7842/?le=005">Полная безотходность</a></p>
<p style="margin: 20pt 0px 24px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;"><span style="color: #0d4478;"><img src="../i/templates/3fd9e949eb8a3cce582a508deea3131b.jpg" alt="" width="576" height="382" /><br /></span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;">Житель Манхэттена Колин Бивен провел год, никак не влияя на окружающую среду. Сперва это едва не стоило ему семьи и карьеры, затем принесло славу. </span></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a href="http://www.snob.ru/magazine/entry/7842/?le=005"><strong style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #b90505;">Полная безотходность</strong></a> - репортаж Михаила Идова, в котором автор пытается понять, пользу или вред принес Бивен себе, своим близким и экологическому движению.</span><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #bd1313;" href="http://www.snob.ru/magazine/entry/7079/?le=003"> </a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;" href="http://www.snob.ru/magazine/entry/7842/?le=005">Видеоматериалы и интервью</a> с автором - только на сайте <a style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;" href="http://www.snob.ru/?le=005">snob.ru</a>.</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; line-height: 18px; color: #000000;">Если Вы не хотите получать анонсы свежего номера журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><img src="../i/templates/d46a29f931852f45c7b4b4343198d188.png" alt="" /></td>
</tr>
</tbody>
</table>