<p style="margin: 0pt; padding: 0pt;">&nbsp;</p>
<p style="line-height: 30px; font-family: Georgia,Times New Roman,Times,serif; font-size: 30px;">Уважаем[[ый|ая]] <br />%first_name!</p>
<p style="margin: 0pt; padding: 0pt;">&nbsp;</p>
<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/ca81c929b54061a8d3ae4cd317e33e8e.jpg" alt="" /></p>
<table style="width: 626px; height: 66px;" border="0">
<tbody>
<tr>
<td style="line-height: 22px; font-family: Georgia, Times New Roman, Times, serif; color: #b90505; font-size: 18px;">
<p>&nbsp;</p>
<p><strong style="color: #000000;">Уже через несколько дней Вы получите свежий номер журнала &laquo;Сноб&raquo;, а, возможно, уже получили его! </strong></p>
<p><strong>Обратите, пожалуйста, внимание, что в конверте, помимо журнала, Вы найдете Снежный CD с новогодними песнями, которые специально для читателей журнала записали Земфира, Мумий Тролль, Людмила Петрушевская, Петр Налич, Океан Ельзи, Би-2, Юлия Чичерина, Billy's Band, Алена Свиридова, Женя Лепокурова и Jukebox Trio.</strong></p>
<p><strong><br /></strong></p>
<p><strong style="color: #000000;">Все наши подписчики в Великобритании получат Снежный CD по почте. <br /></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 40px 0pt 0pt; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; line-height: 19px;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; line-height: 20px; color: #b90505;"><strong></strong></span></p>
<table style="width: 1px; height: 7px;" border="0">
<tbody>
<tr>
<td style="line-height: normal; font-family: Georgia, Times New Roman, Times, serif; color: #000000;">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, редакция журнала &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<table style="border-top: 1px dotted #000000; margin: 0pt; padding: 0pt; width: 628px; height: 127px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="margin: 0pt; padding: 0pt;" width="40">&nbsp;</td>
<td style="margin: 0pt; padding: 28px 0pt 0pt;" width="40" valign="top"><img src="../i/templates/logo.png" alt="" /></td>
<td style="margin: 0pt; padding: 22px 0pt 0pt 20px; font-family: Georgia; font-size: 14px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; vertical-align: top;" valign="top">
<p style="font-size: 13px; line-height: 18px;"><strong>Служба поддержки подписчиков:</strong></p>
<p style="font-size: 13px; line-height: 18px;">тел.&nbsp; +7 (495) 544 22 00 | +7 (800) 100 11 30<span style="color: #979797;"><br /></span></p>
<p style="font-size: 13px; line-height: 18px;">E-mail: <a style="color: #bd1313;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
<p style="margin: 10px 0px 0px; padding: 0pt; font-family: Georgia; font-size: 11px; line-height: 14px;">&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="" /></td>
</tr>
</tbody>
</table>