<table style="width: 100%; margin: 0pt; padding: 33px; border: 0pt none; position: relative;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="342" height="50" bgcolor="#000000"><img src="http://www.snob.ru/i/templates/0aeb9b7985d46901503fa12c085bbe04.jpg" alt="Сноб" /></td>
<td style="text-align:right; padding:0 33px 0 0;" width="275" bgcolor="#000000">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 0 8px 0 8px"><a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/?le=055">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine/">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
</tr>
</tbody>
</table>
<!--header--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 33px 0 33px;" width="507" height="102" valign="middle" bgcolor="#f2f2f2">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:18px; line-height:22px; color:#000000; padding: 0 33px 0 33px;"><strong>Здравствуйте, %first_name!</strong> Чтобы Вы не пропустили ничего важного и интересного на Snob.ru, мы сделали для Вас небольшую подборку самых ярких материалов прошлой недели:</p>
</td>
<td rowspan="2" width="77" height="125" bgcolor="#ffffff">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257"><img src="http://www.snob.ru/i/templates/865f79b7b6c90d20223d2bf870dadb64.jpg" alt="" /></td>
<td style="padding:0 33px 0 0;" width="327">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding:0; margin:0;"><a href="http://www.snob.ru/newyear/resolutions">&laquo;Обещаю перестать пинать кота!&raquo;</a> - поделитесь своим новогодним обещанием с миром!</p>
</td>
</tr>
</tbody>
</table>
<!--block pic 1--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td><br /> 
<hr style="border: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0; clear:left;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 0 0 0 33px;" width="257">
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; padding: 0 33px 0 0;  margin:0;"><a href="http://www.snob.ru/selected/entry/28679">&laquo;Ананасная вода для прекрасной дамы&raquo;</a> - отрывок из новой книги Виктора Пелевина</p>
</td>
<td style="padding:0 33px 0 0; text-align:right;" width="327"><img src="http://www.snob.ru/i/templates/e570f5d48fc2c51b98b5c11109ed0ecc.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--block pic 2--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt 33px; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<hr style="border-top: none; border-bottom:1px solid #e5e5e5; margin: 17px 0 17px 0;" />
</td>
</tr>
</tbody>
</table>
<!--hr--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><strong><a href="http://www.snob.ru/profile/blog/10007/29055">&laquo;20 лет "Намедни"</a>&raquo; - &laquo;Сноб&raquo; первым опубликовал фильм о юбилее программы <a href="http://www.snob.ru/profile/about/10007">Леонида Парфенова</a></strong></p>
</td>
</tr>
</tbody>
</table>
<!--text1--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><strong><a href="http://www.snob.ru/selected/blog/171">Наука</a></strong>&nbsp;<br /><a href="http://www.snob.ru/selected/entry/28893">Кто и как глупеет от джетлага?</a> - как джетлаг действует на наш мозг и что с этим делать&nbsp;<br /><a href="http://www.snob.ru/selected/entry/28685">Балет клеток под микроскопом</a>: лучшие видео всемирного конкурса</p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><a href="http://www.snob.ru/selected/blog/764"><strong>Литература&nbsp;</strong></a><br /><a href="http://www.snob.ru/magazine/entry/28675">&laquo;Голова отца, или Щаща&raquo;</a>, - новый рассказ Людмилы Петрушевской&nbsp;<br /><a href="http://www.snob.ru/selected/entry/28919">Людмила Улицкая дала интервью</a> о литературных аллюзиях, политкорректности, детских книгах и многом другом</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<!--text3--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><strong><a href="http://www.snob.ru/selected/blog/420">Бизнес</a>&nbsp;</strong><br /><a href="http://www.snob.ru/profile/blog/10497/29047">&laquo;Уроки китайского. Экономические наблюдения путешественника&raquo;</a> - о том, чему нам стоило бы поучиться&nbsp;<br /><a href="http://www.snob.ru/selected/entry/28683">Как сбылись пророчества Ходорковского</a></p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><span style="color: #000000;"><strong><a href="http://www.snob.ru/selected/blog/927">Политика&nbsp;</a></strong><br /><a href="http://www.snob.ru/selected/entry/28979">&laquo;8 ляпов одного года&raquo;</a> - главные глупости, сказанные первыми лицами за последние 12 месяцев&nbsp;<br />Лондон и Нью-Йорк: <a href="http://www.snob.ru/selected/entry/28709">демонстрации в День Конституции РФ</a>&nbsp;<br /></span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<!--text6--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;"><strong><a href="http://www.snob.ru/selected/blog/70">Дети</a></strong>&nbsp;<br /><a href="http://www.snob.ru/selected/entry/28701">Одесса</a>: как проходило наше детство в самом ласковом городе Украины&nbsp;<br /><a href="http://www.snob.ru/selected/entry/28846">Моя Джульетта</a>: о первой любви, доводах разума и жертве древним духам</p>
</td>
</tr>
</tbody>
</table>
<!--text7--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">А еще участники проекта &laquo;Сноб&raquo;&nbsp;посетили:&nbsp;<br />- <a href="http://www.snob.ru/community/entry/28167">&laquo;Декабрьские вечера Станислава Рихтера&raquo;</a>&nbsp;<br />- <a href="http://www.snob.ru/community/entry/28574">Дегустацию нового шампанского</a>&nbsp;<br />- <a href="http://www.snob.ru/community/entry/27740">Просмотр агитационных мультфильмов&nbsp;</a><br />- <a href="http://www.snob.ru/profile/about/18554">Премьеру детского спектакля</a>, - и многое другое</p>
<p style="font-family: 'Georgia'; font-weight:normal; font-size:17px; line-height:22px; color:#000000; margin: 0 33px 23px 33px;  padding:0;">Присоединяйтесь к нашей программе Premium <a href="snob.ru/subscribe/first">прямо сейчас!</a></p>
</td>
</tr>
</tbody>
</table>
<!--text8--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 17px 33px 25px 33px;  padding:0;">С уважением,</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<p style="font-family: 'Arial'; font-weight:normal; font-size:14px; line-height:18px; color:#b50005; margin: 0 33px 30px 33px; padding:0;">ПРОЕКТ &laquo;СНОБ&raquo;</p>
</td>
</tr>
</tbody>
</table>
<!--ps--> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #000000;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding:0 0 0 33px;"><a style="margin: 0px 0pt 0pt 33px; display: block; width: 28px; height: 190px;" href="http://www.snob.ru"><img style="border:0;" src="http://www.snob.ru/i/templates/e5256b53ecc49adec0533db671283460.jpg" alt="" height="190" /></a></td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:14px; color:#c2c2c2; margin: 36px 8px 0 8px"><a style="color:#FFFFFF; text-decoration:none;" href="http://www.snob.ru">Главная</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/magazine//?le=055">Журнал</a> | <a style="color: #ffffff; text-decoration: none;" href="http://www.snob.ru/community">Снобщество</a></p>
</td>
<td valign="top">
<p style="font-family: 'Arial'; font-weight:bold; font-size:13px; line-height:18px; color:#FFFFFF; margin: 36px 0 0 0;">Дружите с нами!</p>
<ul style="margin: 13px 0 0 0; list-style:none; padding:0;">
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px; margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/7fa8687b40269205901a5211d9593217.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://snob-project.livejournal.com/">Lifejurnal</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0;  vertical-align:middle;" src="http://www.snob.ru/i/templates/9943a0aa20d8888492cd497da946250c.jpg" alt="" /> <a style="color: #b3b3b3;" href="http://www.facebook.com/snob.project/?le=055">Facebook</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/d39a87c6446f34fa8533a85efac14817.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://twitter.com/snob_project">Twitter</a> </li>
<li style="font-family: 'Arial'; font-weight:normal; font-size:11px; line-height:20px;  margin:0; padding:0;"> <img style="border:0; vertical-align:middle;" src="http://www.snob.ru/i/templates/e00200f867c19791de2d43d795c5ba35.jpg" alt="" /> <a style="color:#b3b3b3;" href="http://vkontakte.ru/club17760452">Vkontakte</a> </li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- title footer --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#000000; margin:15px 0 15px 33px; padding:0;">Если Вы не хотите получать анонсы проекта &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color:#08335f;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
</tbody>
</table>
<!-- footer 1 --> 
<table style="width: 650px; margin: 0pt auto; padding: 0pt; border: 0pt none;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 59px;">
<td style=" vertical-align:top;">
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin:25px 0 0 15px;  padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  | <a href="www.snob.ru/?le=055">www.snob.ru</a></p>
<p style="font-family: 'Georgia'; font-style: italic; font-weight:normal; font-size:11px; line-height:18px; color:#666666; margin: 0 0 0 15px;  padding:0;"><strong style="color:#000000; font-weight:normal;">Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;<a href="mailto:podpiska@snob.ru"></a>podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!-- footer 2 --></td>
</tr>
</tbody>
</table>