<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin:0; padding:0;">&nbsp;<a href="http://www.snob.ru/"><span style="text-decoration: none;"><img src="../i/templates/84a8f937c19d7e09c37645db80c14cb7.jpg" alt="" /></span></a></td>
</tr>
<tr>
<td style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; padding: 20px 100px 60px; margin: 0pt;">
<p style="margin: 0pt; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 16px; color: #716a6a;">Cегодня</p>
<p style="margin: 14px 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px;">На сайте <a href="http://www.snob.ru/"><span style="font-size: 16px; color: #c60505; font-family: Georgia,Times New Roman,Times,serif; text-decoration: underline;">snob.ru</span></a> появился новый материал свежего номера журнала.</p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 40px; padding: 0px; margin: 36px 0px 0px;"><a href="http://www.snob.ru/profile/about/5232"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 42px; color: #bd1313;"><em>Григорий Чхартишвили</em>: </span></a><a href="http://www.snob.ru/magazine/entry/23486"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 44px; line-height: 42px; color: #bd1313;">&laquo;Стучусь головой в потолок. Проверяю, что крепче&raquo;</span></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;"><a href="http://www.snob.ru/magazine/entry/23486"><img src="../i/templates/7469f1c211076c4b2e99c8f87a692b8b.jpg" alt="" /></a></p>
<p style="margin: 30pt 0px 0px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #000000;">Профессиональный литературовед и востоковед. Один из самых успешных современных российских писателей. Утверждает, что новые сюжеты часто черпает из собственных снов. Автор тридцати пяти романов, только в России изданных общим тиражом более двадцати пяти миллионов экземпляров. Любитель японской литературы, за свои переводы представленный к государственной награде Японии &laquo;Орден Восходящего солнца&raquo; IV степени. Искусный мистификатор - по слухам, пишет под несколькими псевдонимами, большинство из которых до сих пор не раскрыто широкой публикой. Создатель популярного вымышленного образа сыщика Эраста Фандорина, а также не менее популярного и не менее вымышленного образа литератора Бориса Акунина, автора романов о сыщике Фандорине.</p>
<p><a href="http://www.snob.ru/profile/about/5232">Григорий Чхартишвили</a> в интервью участникам проекта &laquo;Сноб&raquo; о том, что нельзя жить без тайны, о своей переписке с Михаилом Ходорковским, о детских болезнях российского общества, о поводах для безумия и о том, почему иногда вместо хорошего романа получается плохой.</p>
<p>Полная версия материала доступна на сайте<a href="http://www.snob.ru/"> snob.ru</a>.</p>
<p>&nbsp;</p>
<p style="margin: 30px 0px 0px 12px; padding: 0px; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением,<br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
<p>Если Вы не хотите получать анонсы новых материалов журнала &laquo;Сноб&raquo;, пожалуйста, напишите на <a style="color: #000000;" href="mailto:snob@snob.ru">snob@snob.ru</a></p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;"><a href="http://www.snob.ru/"><img src="../i/templates/fd98164588b574e3fb987dcdcc678413.gif" alt="" /></a></td>
</tr>
</tbody>
</table>