<table style="padding-bottom: 50px; width: 100%; padding-top: 50px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center">
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="62"><img src="../i/templates/0f7ec3e4a275aa3ffa6bc6936ca34c8c.gif" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58" bgcolor="#ffffff">
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>ПРОЕКТ &laquo;СНОБ&raquo; ПРИГЛАШАЕТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right: 1px solid #ffffff;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff;">21 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/b69177a5309d358612e7c5c5448cf9d0.jpg" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>21 сентября, Абрау-Дюрсо<br />Бархатная осень в Крыму<br /> <br /></strong>До того дня, когда участники проекта отправятся пить шампанское в Абрау-Дюрсо осталось всего 5 дней! Вы еще успеете принять приглашение Бориса Титова на праздник  сбора урожая на виноградниках, экскурсию по винным погребам и прогулку на яхте. Собирается хорошая компания.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/community/entry/39637">Присоединяйтесь!</a><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">21 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/ac9fb6fdc565cbfab0e22a02fe32492f.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>21 сентября, Москва, кинотеатр Ролан<br />Предпремьерный показ Альмодовара<br /></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">&laquo;Кожа, в которой я живу&raquo; - новый нашумевший фильм Педро Альмодовара с Антонио Бандерасом и Еленой Анайя. История о гении и злодействе, любви, мести и том, каково это - сбросить кожу и остаться собой.</p>
<p><strong></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/community/entry/40797">Мы посмотрим его первыми.</a></strong><strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">23 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/4938519c918d0ad83802e13e8fc9621f.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>23 сентября, Москва, галерея Hyundai<br />Лекция &laquo;10 небесных загадок&raquo;<br /> <br /></strong>Что такое черные дыры? Какими были первые планеты и галактики? Существуют ли планеты похожие на Землю? А если да, то как это изменит нашу жизнь?    Сергей Попов, ученый астрофизик и участник проекта &laquo;Сноб&raquo;, знает ответы и на этот, и на многие другие вопросы.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/community/entry/40798">Прочтет лекцию и ответит на наши вопросы о звездах.</a></strong><strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650">
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="padding-left: 30px; width: 650px; padding-right: 30px; height: 30px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="text-align: left; font-family: Georgia,Times New Roman,Times,serif; height: 100px; font-size: 18px;" bgcolor="#ffffff"><strong>УЧАСТНИКИ ПРОЕКТА &laquo;СНОБ&raquo; ПРИГЛАШАЮТ ВАС НА МЕРОПРИЯТИЯ:</strong></td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">19 и 23 &nbsp;сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/290c64e6c02f981a1e6492f081e7989d.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>19 и 23 сентября, Москва<br />Камера обскур...а<br /><br /> </strong>Московский Дом фотографии приглашает детей от 9 до 15 на мастер-классы по сборке и использованию камеры обскура. Досуг для любознательных и креативных.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/18580/blog/40787">Узнавать подробности и бронировать места здесь.</a></strong><strong>&nbsp;</strong><strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">20 сентября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/27b7d07f02e63b80e8e308f2dde07bb8.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>20 сентября, Москва, кафе &laquo;Август&raquo;<br />Кино-еда </strong><strong><br /> <br /></strong>Эдуард и Юлия Милокумовы будет готовить блюда, которые мы видели в наших любимых советских фильмах. В меню ужина  тётушкина лапша для графа Калиостро из &laquo;Формулы любви&raquo;; рубленные котлеты Остапа Бендера (&laquo;Золотой телёнок&raquo;); гречневые блины для Пал Иваныча Чичикова из &laquo;Мёртвых душ&raquo;; настойка и морс для графа Калиостро.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/18564/blog/40752">Приходите, будет вкусно.</a></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">8-9 октября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/ecaa0d8966996f346ef3d1f7e7e1f3c9.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>8-9 октября, Москва<br />Тест-драйв Lexus<br />&nbsp;<br /> </strong>Lexus предлагает нам попробовать их машины в деле! Погонять на джипах по бездорожью, освоить трассу с мобильными препятствиями, запустить с ребенком idrone или прокатиться на сигвее, пообщаться с друзьями и вкусно пообедать, а лучше все это вместе...  Вот они, идеальные выходные человека, измученного столичным траффиком и вечной нехваткой времени. Назначаем все встречи с приятными людьми в Крылатском, в первые выходные октября.<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/community/entry/40710">Записываться тут.</a></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">16 октября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/4b517674d955e650e4bfebffd65d356b.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>16 октября, Лондон<br />Фильм &laquo;Елена&raquo;<br /><br /> </strong>Люси Вильямс приглашает участников проект на просмотр фильма &laquo;Елена&raquo; Андрея Звягинцева, который недавно посмотрели московские участники проекта и довольно бурно обсуждали на сайте.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/23992/blog/40700">Теперь к дискуссии присоединится и Лондон.</a></strong><strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right: 1px solid #ffffff;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica,Arial; font-weight: bold; font-size: 14px; line-height: 14px; color: #ffffff;">16 октября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top: 20px; padding-left: 30px;" width="135" valign="top"><img src="../i/templates/3a185e5abbdffef8a1877b0a577ea6e6.jpg" alt="" /><br /></td>
<td style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; color: #000000;" width="515" align="left">
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong>16 октября, Москва<br />Фламенко Карлоса Сауры<br /><br /> </strong>Компания Carrera y Carerra приглашает на уникальное мероприятие. Самый испанский из всех испанских режиссеров, снимавший фламенко еще до того, как о нем стали столько говорить и фактически принесший ему современную популярность привозит свое шоу в Россию.</p>
<p style="font-family: Georgia; font-size: 14px; line-height: 18px; color: #000000;"><strong><a href="http://www.snob.ru/community/entry/40511">И всего один вечер на сцене московского дома музыки будет идти спектакль Flamenco Hoy</a></strong>.<strong><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="200" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">21 октября</p>
</td>
<td width="485">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/203327e0879093d9dcbe4256620a58bb.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>21  октября, Патагония-Аргентина-Перу&nbsp;<br />Путешествие на край земли<br /><br /> </strong> Инесса Саух отправляет в &laquo;Путешествие на край земли и неба&raquo; - сначала в Патагонию к ледникам и пингвинам, потом в Буэнос-Айрес к тангеро, а потом к шаманам на Мачу-Пикчу и зовет с собой тех, кого такой маршрут не испугает, а вдохновит.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong><a href="http://www.snob.ru/profile/24050/blog/40696">Познакомиться с путешественницей и узнать детали здесь.</a></strong></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">&nbsp;</p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="color: #b3b3b3; font-size: x-small;"><span style="font-family: Arial;">Пожалуйста, сообщите нам о том, какие мероприятия вы хотели бы посетить,<br /> чтобы мы могли зарезервировать ваши билеты и приглашения, как можно <br />скорее, </span><span style="font-family: Arial;">по электронной почте </span><a style="font-size: medium; text-decoration:none; color: #e4e4e4;" href="mailto:member@snob.ru"><strong>member@snob.ru</strong></a></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span><br /></span></span></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><span style="font-family: Arial; color: #b3b3b3; font-size: x-small;"><span>Будем рады видеть Вас на мероприятиях и Ваши отзывы и впечатления на сайте проекта.</span></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">&nbsp;</p>
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;"><span style="font-family: Arial; color: #666666;"><span>119072, Москва, Берсеневская наб., д.8, стр. 1, | &nbsp;+7 (495) 785 65 85 &nbsp;| +7 (495) 504 17 17 &nbsp;| &nbsp;<a style="text-decoration:none; color: #666666;" href="http://www.snob.ru">www.snob.ru</a><br /></span></span><span><span style="color: #000000;">Служба поддержки:</span></span><span style="color: #666666; font-family: Arial;"> +7 (495) 544 22 00 &nbsp;| &nbsp;+7 (800) 100 11 30 &nbsp;| &nbsp;e-mail: <a style="text-decoration:none; color: #666666;" href="mailto:podpiska@snob.ru">podpiska@snob.ru</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>