<table style="width: 821px;" border="0">
<tbody>
<tr>
<td style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: left">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="font-family: &quot;Georgia&quot;, &quot;Times New Roman&quot;, &quot;Times&quot;, serif; font-size: 16px; line-height: 20px; padding-top: 20px; padding-right: 100px; padding-bottom: 60px; padding-left: 100px; margin: 0pt;">
<p style="font-family: &quot;Arial&quot;, &quot;Helvetica&quot;, sans-serif; font-size: 14px; line-height: 16px; color: #716a6a; text-align: left; padding: 0px; margin: 0pt;"><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><span style="color: #0f0101;"><span style="color: #0f0101;"><strong>Здравствуйте, %first_name,</strong></span></span></span></p>
<p>Спасибо, что Вы являетесь участником нашего проекта. С сегодняшнего дня мы расширяем спектр возможностей для всех участников.</p>
<p>Мы больше не практикуем подразделение участников проекта на форматы &laquo;Базовый&raquo; и &laquo;Премиум&raquo;. Все участники проекта получают доступ ко всем возможностям, предоставляемым проектом &laquo;Сноб&raquo; и могут быть частью всего, что происходит в рамках проекта.</p>
<p>Подробнее обо всех возможностях, которые теперь дает участие в проекте, можно прочитать <a href="http://www.snob.ru/subscribe">вот здесь.</a></p>
<p>Как участник проекта Вы сохраняете все возможности и привилегии, которые были Вам доступны до сего дня.</p>
<p>Если у Вас возникнут дополнительные вопросы, свяжитесь с нами по электронной почте <a href="mailto:member@snob.ru">member@snob.ru</a> или по телефону +7 (495) 544-22-00.</p>
<p>С уважением, <br />Проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="margin:0; padding:0;">&nbsp;<img src="../i/templates/09d4124b5e12bc69d89cb02859080365.jpg" alt="" /></td>
</tr>
</tbody>
</table>