<table style="padding-top: 50px; padding-bottom: 50px; width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#e0e0e0">
<tbody>
<tr>
<td align="center"><!--header--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td colspan="2" width="650" height="66"><img src="../i/templates/587fc2e331f90bcbf19cdfcc0e96fcd7.jpg" alt="" /></td>
</tr>
<tr>
<td>
<p style="font-family: Georgia; font-size:36px; line-height:14px; color: #FFF;" align="center">Здравствуйте, %first_name!</p>
</td>
<td align="right" valign="bottom"><img src="../i/templates/7fe1dc3f59426e3deb41eb426d9867a0.jpg" alt="" /></td>
</tr>
<tr>
<td colspan="2" height="58px" bgcolor="#ffffff"><img src="../i/templates/bee1d8eef146d1e56cbfedd4870b33a9.jpg" alt="" /></td>
</tr>
</tbody>
</table>
<!--end header--> <!--event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">15 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 1--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/c1791e41604c24626673b494ebba2fdb.jpg" alt="" /><br /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px; color:#000000;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Дегустационный ужин в новом ресторане &laquo;Бонтемпи&raquo; на Красном Октябре:</strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Новый проект членов клуба &laquo;Сноб&raquo;  <a href="http://www.snob.ru/profile/about/5205">Мити Борисова</a> и <a href="http://www.snob.ru/profile/about/5217">Дмитрия Ямпольского</a>, учредителей &laquo;Маяка&raquo;, &laquo;Жан-Жака&raquo;, &laquo;Джон Донна&raquo; и &laquo;Марта&raquo;, открывается на &laquo;Красном октябре&raquo; Это небольшой итальянский домашний ресторан &laquo;Бонтемпи&raquo;, названый по фамилии шеф- повара - Валентино Бонтемпи.<strong> </strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">До официального открытия ресторан приглашает участников проекта на СПЕЦИАЛЬНЫЙ, ЗАКРЫТЫЙ дегустационный ужин. В этот вечер будет  много хорошего вина (специальную дегустацию итальянских вин организуют бутики <a href="http://www.whitehall.ru/">Kaufmann</a>) и общение с Валентино: он будет сам готовить,  выйдет в зал к гостям , расскажет об итальянской кухне, ответит на вопросы,  как  это принято в Италии.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;"><strong>Специально для участников проекта</strong>: закрытый дегустационный ужин на 50 мест. Стоимость ужина 1500 рублей с человека (только если Вам понравится ЕДА).</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">ВХОД ТОЛЬКО ПО ПРЕДВАРИТЕЛЬНЫМ ЗАЯВКАМ. Заявки на резервацию ждем на <a href="http://mce_host/templet/premium@snob.ru ">premium@snob.ru</a></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">15 октября, ресторан Бонтемпи, Красный октябрь, Берсеневская набережная д.12&nbsp;</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Ждем Вас в 20.00</p>
</td>
</tr>
</tbody>
</table>
<!--end event 1--> <!--event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-right:1px solid #FFFFFF;" width="165" height="30" align="center" valign="middle" bgcolor="#000000">
<p style="font-family: Helvetica, Arial; font-weight:bold; font-size:14px; line-height:14px; color:#FFF;">19 октября</p>
</td>
<td width="485px">&nbsp;</td>
</tr>
</tbody>
</table>
<!--end header event 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><span style="font-family: Georgia;"><span style="line-height: 18px; font-size: medium;"><img src="../i/templates/d85cbcdb08f07e9789a849654d61cb3a.jpg" alt="" /><br /></span></span></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>День лицея с </strong><strong>Джулианом Лоунфельдом<span style="font-weight: normal;"> <br /></span></strong></p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;">Каждый год 19 октября, живущий в Нью-Йорке участник проекта &laquo;Сноб&raquo; юрист и пушкиновед <a href="http://www.snob.ru/profile/about/8630">Джулиан Генри Лоуэнфелд</a> отмечает дату создания Царскосельского лицея. Для него эта дата связана в первую очередь с самым знаменитым учеником лицея - Пушкиным. Лоуэнфелд верит, что Пушкин &laquo;больше чем Россия, это вселенная&raquo;. Поэтому, для него 19 октября - праздник, когда нужно читать стихи в дружеской компании.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#000000;"><strong>Для участников проекта:</strong> В этом году Джулиан приглашает нью-йоркских участников проекта &laquo;Сноб&raquo; присоединиться к празднику.  Вечеринка пройдет в квартире, куда поместятся не больше 50 человек, поэтому пожалуйста, напишите на <a href="http://mce_host/templet/premium@snob.ru ">premium@snob.ru</a> или позвоните 1-718-210-3639 Карлотте.</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">19 октября, 19.30, Нью-Йорк&nbsp;</p>
<p style="font-family: Georgia; font-size:14px; line-height:18px;  color:#000000;">Апартаменты Джулиана Лоуэнфельда</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<!--end header event 5--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top">&nbsp;</td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Georgia; font-size:14px; line-height:18px; color:#202020;">С уважением,</p>
<p style="font-family: Arial; font-size:14px; line-height:18px; color:#000000; text-transform:uppercase;">Катерина Макарова<br /><em>Директор программы Premium</em></p>
</td>
</tr>
</tbody>
</table>
<!--bloc 2--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
<tbody>
<tr>
<td style="padding-top:20px; padding-left:30px;" width="135" valign="top"><img src="../i/templates/f04363a76e7fa64becb4afda276b95ee.jpg" alt="" /></td>
<td style="padding-top:20px; padding-right:20px; padding-bottom:20px;" width="515" align="left">
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;"><strong>Пожалуйста, как можно скорее сообщите нам о том, какие мероприятия Вы планируете посетить, чтобы мы зарезервировали для Вас билеты и приглашения. С нами можно связаться по телефону +7 903 136 94 54 или по электронной почте <a href="mailto:premium@snob.ru">premium@snob.ru</a></strong></p>
<p style="font-family: Arial; font-size:13px; line-height:18px; color:#b3b3b3;">До скорой встречи, - и помните, что мы всегда рады прочесть Ваши отзывы, пожелания и впечатления на сайте проекта "Сноб"..</p>
</td>
</tr>
</tbody>
</table>
<!--bloc 3--> 
<table style="width: 650px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-top:20px; padding-right:20px; padding-left:20px;" width="515px" align="left">
<p style="font-family: Arial; font-size:11px; line-height:16px; color:#666666; padding:0;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;Сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19, | &nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85  |&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17  |  www.snob.ru                         <br /><strong>Служба поддержки:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00 &nbsp;|&nbsp; +7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30  | &nbsp;e-mail:&nbsp;podpiska@snob.ru</p>
</td>
</tr>
</tbody>
</table>
<!--end footer--></td>
</tr>
</tbody>
</table>