<p style="margin: 0pt; padding: 0pt;"><img src="../i/templates/1a2b5029d84fcab03e3ff6641af8b43c.png" alt="" /></p>
<table style="width: 630px; height: 289px;" border="0">
<tbody>
<tr>
<td>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #bd1313;">Добрый день!</strong></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong style="color: #bd1313;">&nbsp;</strong><br />Напоминаем Вам, что завтра состоится закрытый показ фильма &laquo;Елена&raquo;.<br />Ждем Вас в кинотеатре &laquo;Фитиль&raquo; (Фрунзенская наб., д. 12) с 19.30. Начало фильма в 20.00.<br /></p>
<p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 16px; line-height: 20px; color: #070000;"><strong>Пожалуйста, сообщите, если Ваши планы изменились и Вы не сможете прийти.</strong></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 36pt 0px 0px; padding: 0pt; font-family: Georgia,Times New Roman,Times,serif; font-size: 18px; font-style: italic; line-height: 30px; color: #bd1313;">С уважением, <br />проект &laquo;Сноб&raquo;</p>
<p>&nbsp;</p>