<table style="margin: 0pt; padding: 0pt; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
<tbody>
	<tr>
		<td width="40" height="30" style="width:40px;">&nbsp;</td>
		<td width="264" style="width:264px;">&nbsp;</td>
		<td width="266" style="width:266px;">&nbsp;</td>
		<td width="146" style="width:146px;">&nbsp;</td>
		<td width="24" style="width:24px;">&nbsp;</td>
	</tr>
	<tr>
		<td width="40" height="44" style="width:40px;">&nbsp;</td>
		<td width="264" style="width:264px;">&nbsp;</td>
		<td width="266" style="width:266px;">&nbsp;</td>
		<td width="170" height="136" style="width:170px; height: 136px; padding: 0; vertical-align: bottom; text-align: left;" colspan="2" rowspan="2" valign="bottom" align="left">%user_card</td>
	</tr>
	<tr>
		<td height="92" width="40" style="width:40px;">&nbsp;</td>
		<td width="264" height="423" style="width:264px; height: 423px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; padding: 0; vertical-align: top;" rowspan="2" valign="top"><img src="../i/templates/photo.jpg" alt="Фото" width="264" height="423" border="0" style="margin:0; padding:0;"></td>
		<td width="266" style="width:266px; border-top: 1px solid #d5d5d5; padding: 0; vertical-align: top; font-family: Georgia;" valign="top">
			<p style="margin-top: 28px; margin-right: 0; margin-bottom: 0; margin-left: 28px; padding: 0; font-size: 24px; line-height: 30px; font-family: Georgia;">Уважаем[[ый|ая]]<br>%first_name!</p>
		</td>
	</tr>
	<tr>
		<td width="40" style="width:40px;">&nbsp;</td>
		<td width="412" height="331" style="width: 412px; height: 331px; border-bottom: 1px solid #d5d5d5; padding: 0; padding-right:1px; vertical-align: top; font-family: Georgia;" colspan="2" valign="top">
			<p style="margin-top: 28px; margin-right: 28px; margin-bottom: 0; margin-left: 28px; font-size: 18px; line-height: 20px; font-family: Georgia;">Мы приглашаем Вас послушать, поговорить и выпить бокал вина с Микки Рурком.</p>
			<p style="margin-top: 46px; margin-right: 28px; margin-bottom: 0; margin-left: 28px; font-size: 16px; line-height: 20px; font-family: Georgia;"><strong>Встреча произойдет в пятницу, в 16:00 по адресу: Москва, ул. 1905 года, д. 11, клуб &laquo;16 тонн&raquo;.</strong></p>
			<p style="margin: 28px; font-size: 16px; line-height: 20px; font-family: Georgia;">Со списком участников мероприятия Вы можете ознакомиться в разделе &laquo;<a href="http://snob.ru" style="color: #c3171c;">Снобщество</a>&raquo;.</p>
		</td>
		<td width="24" style="padding: 0; width:24px; vertical-align: top;" valign="top"><img src="../i/templates/border.png" width="1" height="333" border="0"></td>
	</tr>
</tbody>
</table>
<table style="margin: 0pt; padding: 0pt; border-collapse: collapse; width: 100%" width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0;" width="40">&nbsp;</td>
<td style="padding: 0;" width="100">&nbsp;</td>
<td style="padding-top: 28px; padding-bottom: 28px; vertical-align: top; font-size: 14px; line-height: 18px; font-family: Georgia; color: #979797;" valign="top">С уважением,<br />Ваше ФИО,<br />Ваша должность<br /><br /><a href="mailto:ваш_адрес@snob.ru" style="color: #c3171c;">ваш_адрес@snob.ru</a><br /><br />+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17 | +7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85</td>
</tr>
<tr>
<td style="border-top: dotted 1px #000; padding: 0;" width="40">&nbsp;</td>
<td style="padding-top: 28px; border-top: dotted 1px #000;" width="100" valign="top"><img src="../i/templates/logo.png" alt="&copy;" width="80" height="71" /></td>
<td style="border-top: dotted 1px #000; padding-top: 22px; vertical-align: top; font: 14/16px Georgia;" valign="top"><strong>Служба поддержки клуба:</strong>&nbsp;+7&nbsp;(495)&nbsp;544&nbsp;22&nbsp;00&nbsp;|&nbsp;+7&nbsp;(800)&nbsp;100&nbsp;11&nbsp;30,&nbsp;e-mail:&nbsp;<a href="mailto:podpiska@snob.ru" style="color: #c3171c;">podpiska@snob.ru</a>
<p style="margin-top: 56px; font-size: 11px; line-height: 14px; font-family: Georgia;">105064,&nbsp;Москва,&nbsp;Нижний&nbsp;сусальный&nbsp;пер.,&nbsp;д.5,&nbsp;стр.&nbsp;19,<br /> тел.&nbsp;+7&nbsp;(495)&nbsp;785&nbsp;65&nbsp;85,&nbsp;+7&nbsp;(495)&nbsp;504&nbsp;17&nbsp;17,&nbsp;<a href="http://www.snob.ru" style="color: black; font-size: 11px;">www.snob.ru</a>&raquo;.</p>
</td>
</tr>
<tr>
<td width="40">&nbsp;</td>
<td style="padding-top: 20px; padding-left: 60px;" colspan="2" valign="top"><img src="../i/templates/snob1.png" alt="[сноб]" width="41" height="11" /></td>
</tr>
</tbody>
</table>